<div class="container">
  <fieldset>
    <legend>Cadastro de Funcionário</legend>
    <form novalidate role="form" name="formPrincipal" ng-submit="save()" >

      <div>


        <div class="row" ng-if="hasRoleAdmin" >
          <div class="col-xs-4" >
            <div select-directive model="funcionario.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'" 
              form="formPrincipal" req="true"  ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
          </div>
        </div>

        <div ng-show="funcionario.idEmpresa" >
        
          <!-- INFORMACOES PESSOAIS -->
          <div ng-include=" 'views/funcionario/cadastro-informacoes-pessoais.html' "></div>

          <!-- INFORMACOES PESSOAIS -->
          <div ng-include=" 'views/funcionario/cadastro-informacoes-profissionais.html' "></div>

        </div>
        

        <div class="btsFormPrincipal" >

          <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button" ng-disabled="!funcionario.idEmpresa" >
            Salvar
          </button>

          <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button" >
            Cancelar
          </button>

        </div>

        <div class="errosEndForm" ng-show="showMsgsError" >
          <p class="bg-danger" ng-show="formPrincipal.$invalid">
            O formulário possui erros de validação
          </p>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'membroEmail'"
            msg="'E-mail inválido'"  validate-type="'email'" mostrar-sempre="true" >
          </div>
          <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
            <span >*Campos Obrigatórios</span>
          </div>
          <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.brPhoneNumber.length > 0">
            <span >*Telefone Inválido</span>
          </div>
        </div>


    </div>

  </form>

</fieldset>
</div>