<div section-directive="Informações Pessoais" class="informacoesPessoais"  >
	
	<div class="form-group" >
		<div input-text-form-directive model="funcionario.pessoa.nome" label="'Nome'" field-name="nome" 
		placeholder="'digite o nome'" form="formPrincipal" min-length="3" max-length="200" req="true" autofocus="autofocus" ></div>
		<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
		<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
	</div>

	<div class="form-group " >
		<div select-directive model="funcionario.pessoa.sexo" label="'Sexo'" options="sexos" field-name="sexo" option-label="label" option-value="value" 
		form="formPrincipal" req="false" ></div>
		<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'sexo'" msg="'Sexo é obrigatório'"  validate-type="'required'" ></div>
	</div>

	<div class="row">
		<div class="form-group col-xs-6" >
			<div input-text-form-directive cpf="cpf" model="funcionario.pessoa.documento" label="'CPF'" field-name="cpf" placeholder="'digite o CPF'"
			form="formPrincipal"  req="true"></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cpf'" msg="'CPF inválido'"  validate-type="'cpf'" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cpf'" msg="'CPF é obrigatório'"  validate-type="'required'" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cpf'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
		</div>

		<div class="form-group col-xs-6" >
			<div input-text-form-directive class="'upper'" model="funcionario.pessoa.rg" label="'RG'" field-name="rg" placeholder="'RG'"
			form="formPrincipal" min-length="3" req="false" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'rg'" msg="'RG é obrigatório'"  validate-type="'required'" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'rg'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
		</div>
	</div>

	<div class="form-group " >
		<div select-directive model="funcionario.pessoa.estadoCivil" label="'Estado Civil'" options="estadosCivis" field-name="estadoCivil" option-label="nome" 
		form="formPrincipal"  req="false"></div>
		<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'estadoCivil'" msg="'Estado Civil é obrigatório'"  validate-type="'required'" ></div>
	</div>

	<div class="form-group" >
		<div input-text-form-directive date="'date'" max="ontem" model="funcionario.pessoa.dtaNascimento" label="'Data Nascimento'" field-name="'dtaNascimento'" 
		placeholder="'99/99/9999'" form="formPrincipal" req="false"></div>
		<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'dtaNascimento'" msg="'Data Aniversário é obrigatório'"  validate-type="'required'" ></div>
	</div>

	<!-- ENDERECOS -->
	<div section-directive="Endereços" class="innerSection enderecos"  >
		<div class="form-group endereco" ng-repeat="endereco in funcionario.pessoa.enderecos track by $index" >
			<ng-form name="innerForm">

				<div class="row" >
					<div class="form-group col-xs-6 " >
						<div select-directive model="funcionario.pessoa.enderecos[$index].tipoEndereco" label="'Endereço'" options="tiposEnderecos" field-name="tipoEndereco" option-label="tipo" 
						form="innerForm"  ></div>
					</div>
					<div class="form-group col-xs-3 " >
						<div select-directive model="funcionario.pessoa.enderecos[$index].isPrincipal" label="'Endereço Principal'" options="simNao" option-label="label" option-value="value" field-name="isPrincipal"  
							form="innerForm" req="!!funcionario.pessoa.enderecos[$index].tipoEndereco" ng-init="funcionario.pessoa.enderecos[$index].isPrincipal = !!$first" ></div>
						<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'isPrincipal'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
					</div>
					<div class="form-group col-xs-3 " >
						<div select-directive model="funcionario.pessoa.enderecos[$index].ativo" label="'Ativo'" options="simNao" option-label="label" option-value="value" field-name="ativo"  
							form="innerForm" req="!!funcionario.pessoa.enderecos[$index].tipoEndereco" ng-init="funcionario.pessoa.enderecos[$index].ativo = true" ></div>
						<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'ativo'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
					</div>
				</div>
				<div class="row" >
					<div class="form-group col-xs-12 " >
						<div input-text-form-directive model="funcionario.pessoa.enderecos[$index].logradouro" label="'Logradouro'" field-name="logradouro" 
							placeholder="'digite o endereço'" form="innerForm" max-length="250" min-length="3" req="!!funcionario.pessoa.enderecos[$index].tipoEndereco" ></div>
						<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'logradouro'" msg="'Logradouro obrigatório'"  validate-type="'required'" ></div>
						<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'logradouro'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
					</div>
				</div>
				<div class="row" >
					<div class="form-group col-xs-3 " >
						<div input-text-form-directive model="funcionario.pessoa.enderecos[$index].numero" label="'Número'" field-name="numero" 
							placeholder="'digite o nº'" form="innerForm" max-length="250" req="false"></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'numero'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
					</div>
					<div class="form-group col-xs-3 " >
						<div class="form-group" >
							<div input-text-form-directive cep="cep" model="funcionario.pessoa.enderecos[$index].cep" label="'CEP'" field-name="cep" placeholder="'digite o cep'"
					    form="innerForm" ></div>
					    <div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'cep'" msg="'CEP obrigatório'"  validate-type="'required'" ></div>
					    <div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'cep'" msg="'CEP inválido'"  validate-type="'cep'" ></div>
						</div>
					</div>
					<div class="form-group col-xs-6 " >
						<div input-text-form-directive model="funcionario.pessoa.enderecos[$index].bairro" label="'Bairro'" field-name="bairro" 
							placeholder="'digite o bairro'" form="innerForm" max-length="250" min-length="3" req="false" ></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'bairro'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'bairro'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
					</div>
				</div>
				<div class="row" >
						<div class="form-group col-xs-6 " >
							<div select-directive model="funcionario.pessoa.enderecos[$index].estado" label="'Estado'" options="estados" field-name="estado" option-label="nome" 
							form="innerForm"  func-on-select="carregarCidades" ></div>
						</div>
						<div class="form-group col-xs-6 " >
							<div select-directive model="funcionario.pessoa.enderecos[$index].cidade" label="'Cidade'" options="cidades" field-name="cidade" option-label="nome" 
							form="innerForm"  req="!!funcionario.pessoa.enderecos[$index].tipoEndereco"></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'cidade'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
						</div>
				</div>
				<div class="row" >
					<div class="form-group col-xs-6 " >
						<div input-text-form-directive model="funcionario.pessoa.enderecos[$index].complemento" label="'Complemento'" field-name="complemento" 
							placeholder="'digite o complemento'" form="innerForm" max-length="250" min-length="3" ></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'complemento'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
					</div>
					<div class="form-group col-xs-6 " >
						<div input-text-form-directive model="funcionario.pessoa.enderecos[$index].referencia" label="'Referência'" field-name="referencia" 
							placeholder="'digite o referência'" form="innerForm" max-length="250" min-length="3" ></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'referencia'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
					</div>
				</div>
				<div class="row" >
					<div class="form-group col-xs-12 " >
				    <div textarea-form-directive field-name="enderecoObs"  max-length="1000" label="'Observações'" model="funcionario.pessoa.enderecos[$index].obs" rows="2" form="innerForm"  ></div>
				  </div>
				</div>

				<div class="clear"></div>
				<div class="btnAddRemoveRow">
					<span class="inner">
						<a ng-click="funcionario.pessoa.enderecos.push({})" ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Adicionar mais um Endereço"  class="add btn btn-primary glyphicon glyphicon-plus" ng-show="$last" ></span></a>

						<a ng-click="funcionario.pessoa.enderecos.splice($index, 1);"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Endereço"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-hide="$first" ></span></a>
						<a ng-click="funcionario.pessoa.enderecos[$index] = {}"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Endereço"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-show="$first" ></span></a>
					</span>
				</div>
			</ng-form>
			<hr ng-show="funcionario.pessoa.enderecos.length > 1 && !$last" class="separatorStyle2" >
		</div>
	</div>
	<!-- FIM ENDERECOS -->
	
	<!-- TELEFONES -->
	<div section-directive="Telefones" class="innerSection telefones"  >
		<div class="form-group endereco" ng-repeat="telefone in funcionario.pessoa.telefones track by $index" >
			<ng-form name="innerForm">

				<div class="row" >
					<div class="form-group col-xs-4 " >
						<div select-directive model="funcionario.pessoa.telefones[$index].tipoTelefone" label="'Telefone'" options="tiposTelefones" field-name="tipoTelefone" option-label="tipo" 
						form="innerForm"  ></div>
					</div>
					<div class="form-group col-xs-4 " >
						<div class="form-group" >
							<div input-text-form-directive fone="fone" model="funcionario.pessoa.telefones[$index].numero" label="'Número'" field-name="numero" 
							placeholder="'(99) 9999-9999'" form="innerForm" req="false" ></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'numero'" msg="'Número do telefone é obrigatório'"  validate-type="'required'" ></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'numero'" msg="'Telefone inválido'"  validate-type="'br-phone-number'" ></div>
						</div>
					</div>
					<div class="form-group col-xs-2 " >
						<div class="form-group" >
							<div input-text-form-directive max-length="100" model="funcionario.pessoa.telefones[$index].ramal" label="'Ramal'" field-name="ramal" 
							placeholder="'ramal'" form="innerForm"  ></div>
						</div>
					</div>
					<div class="form-group col-xs-2 " >
						<div select-directive model="funcionario.pessoa.telefones[$index].ativo" label="'Ativo'" options="simNao" option-label="label" option-value="value" field-name="ativo"  
							form="innerForm" req="!!funcionario.pessoa.telefones[$index].tipoTelefone" ng-init="funcionario.pessoa.telefones[$index].ativo = true" ></div>
						<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'ativo'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="btnAddRemoveRow">
					<span class="inner">
						<a ng-click="funcionario.pessoa.telefones.push({})" ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Adicionar mais um Telefone"  class="add btn btn-primary glyphicon glyphicon-plus" ng-show="$last" ></span></a>

						<a ng-click="funcionario.pessoa.telefones.splice($index, 1);"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Telefone"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-hide="$first" ></span></a>
						<a ng-click="funcionario.pessoa.telefones[$index] = {}"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Telefone"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-show="$first" ></span></a>
					</span>
				</div>
			</ng-form>
			<hr ng-show="funcionario.pessoa.telefones.length > 1 && !$last" class="separatorStyle2">
		</div>
	</div>
	<!-- FIM TELEFONES -->

	<!-- ENDERECOS ELETRONICOS -->
	<div section-directive="Endereços Eletrônicos" class="innerSection enderecosEletronicos track by $index"  >
		<div class="row enderecoEletronico" ng-repeat="enderecoEletronico in funcionario.pessoa.enderecosEletronicos" >
			<ng-form name="innerForm">
				<div class="campos" >
					<div class="form-group col-xs-4 tipoEnderecoEletronico" >
						<div select-directive model="funcionario.pessoa.enderecosEletronicos[$index].tipoEnderecoEletronico" label="'Endereço Eletrônico'" options="tiposEnderecosEletronicos" field-name="tipoEnderecoEletronicos" option-label="tipo" 
						form="innerForm"  ></div>
					</div>
					<div class="form-group col-xs-6 tipoEnderecoEletronico" >
						
						<div class="form-group" ng-if="funcionario.pessoa.enderecosEletronicos[$index].tipoEnderecoEletronico && funcionario.pessoa.enderecosEletronicos[$index].tipoEnderecoEletronico.tipo === 'E-mail' ">
							<div input-text-form-directive type="email" max-length="500" model="funcionario.pessoa.enderecosEletronicos[$index].endereco" label="'Endereço'" field-name="enderecoEletronicoMail" placeholder="'digite o e-mail'"
							form="innerForm" req="!!funcionario.pessoa.enderecosEletronicos[$index].tipoEnderecoEletronico" ></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'enderecoEletronicoMail'" msg="'E-mail inválido'" validate-type="'email'" ></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'enderecoEletronicoMail'" msg="'E-mail obrigatório'"  validate-type="'required'" ></div>
						</div>
						<div class="form-group" ng-if="!funcionario.pessoa.enderecosEletronicos[$index].tipoEnderecoEletronico || funcionario.pessoa.enderecosEletronicos[$index].tipoEnderecoEletronico.tipo !== 'E-mail' ">
							<div input-text-form-directive model="funcionario.pessoa.enderecosEletronicos[$index].endereco" label="'Endereço'" field-name="enderecoEletronico" 
							placeholder="'digite o endereço eletrônico'" form="innerForm" max-length="4000" req="!!funcionario.pessoa.enderecosEletronicos[$index].tipoEnderecoEletronico" ></div>
							<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'enderecoEletronico'" msg="'Endereço eletrônico obrigatório'"  validate-type="'required'" ></div>
						</div>
					</div>
					<div class="form-group col-xs-2 " >
						<div select-directive model="funcionario.pessoa.enderecosEletronicos[$index].ativo" label="'Ativo'" options="simNao" option-label="label" option-value="value" field-name="isPrincipal"  
							form="innerForm" req="!!funcionario.pessoa.enderecosEletronicos[$index].tipoEndereco" ng-init="funcionario.pessoa.enderecosEletronicos[$index].ativo = true" ></div>
						<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'isPrincipal'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
					</div>
				</div>
				<div class="btnAddRemoveRow">
					<span class="inner">
						<a ng-click="funcionario.pessoa.enderecosEletronicos.push({})" ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Adicionar mais um Endereço Eletrônico"  class="add btn btn-primary glyphicon glyphicon-plus" ng-show="$last" ></span></a>

						<a ng-click="funcionario.pessoa.enderecosEletronicos.splice($index, 1);"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Endereço Eletrônico"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-hide="$first" ></span></a>
						<a ng-click="funcionario.pessoa.enderecosEletronicos[$index] = {}"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Endereço Eletrônico"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-show="$first" ></span></a>
					</span>
				</div>
			</ng-form>
			<hr ng-show="funcionario.pessoa.enderecosEletronicos.length > 1 && !$last" style="width: 97%;" class="separatorStyle2">
		</div>
	</div>
	<!-- FIM ENDERECOS ELETRONICOS -->
	

	<hr />
	<div class="row" style="margin-top: 57px; margin-bottom: -46px;">
		<div class="form-group col-xs-12 " >
			<div textarea-form-directive field-name="pessoaObs" label="'Observações Gerais'" model="funcionario.pessoa.obs" rows="4"  max-length="4000" form="formPrincipal"  ></div>
		</div>
	</div>


</div>