<div section-directive="Informações Profissionais" class="informacoesProfissionais" >

	
	<div class="row" >
		<div class="form-group col-xs-6" >
			<div input-text-form-directive model="funcionario.matricula" label="'Matrícula'" field-name="matricula" 
			placeholder="'digite a matrícula'" form="formPrincipal" max-length="100" req="true" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'matricula'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'matricula'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
		</div>
		<div class="form-group col-xs-6 " >
			<div select-directive model="funcionario.ativo" label="'Ativo'" options="simNao" option-label="label" option-value="value" field-name="ativo"  
			form="formPrincipal" req="true" ng-init="funcionario.ativo = true" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'ativo'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
		</div>
	</div>
	<div class="row" >
		<div class="form-group col-xs-12" >
			<div select-directive model="funcionario.lider" label="'Líder'" options="lideres" field-name="lider" option-label="pessoa.nome" 
			form="formPrincipal"  req="false"></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'lider'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
		</div>
	</div>
	<div class="row" >
		<div class="form-group col-xs-12" >
			<div select-directive model="funcionario.cargo" label="'Cargo'" options="cargos" field-name="cargo" option-label="nome" 
			form="formPrincipal"  req="true"></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cargo'" msg="'Cargo é obrigatório'"  validate-type="'required'" ></div>
		</div>
	</div>
	<div class="row" >
		<div class="form-group col-xs-12" >
			<div select-directive model="funcionario.setor" label="'Setor'" options="setores" field-name="setor" option-label="nome" 
			form="formPrincipal"  req="true"></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'setor'" msg="'Setor é obrigatório'"  validate-type="'required'" ></div>
		</div>
	</div>

</div>