<div class="screenHome screenHomeFuncionario">
	
	<div class="grupos">
		<div class="grupo ">
			<span class="title">Funcionário</span>
			<ul>
				<li ng-show="hasRoleAdmin"><a href="#/funcionario/cadastro" class="" >Cadastrar Funcionário</a></li>
				<li><a href="#/funcionario/pesquisa" class="">Listar Funcionário</a></li>
			</ul>
		</div>
		<div class="grupo "  >
			<span class="title">Setor</span>
			<ul>
				<li ng-show="hasRoleAdmin" ><a href="#/setor/cadastro"  class="">
					Cadastrar Setor</a></li>
				<li><a href="#/setor/pesquisa" class="">Listar Setor</a></li>
			</ul>
		</div>
		<div class="grupo " ng-hide="isGestorSetor"  >
			<span class="title">Cargo</span>
			<ul>
				<li ng-show="hasRoleAdmin"><a href="#/cargo/cadastro" class="">
				 Cadastrar Cargo</a></li>
				<li><a href="#/cargo/pesquisa" class="">Listar Cargos</a></li>
			</ul>
		</div>
		<div class="grupo " ng-hide="isGestorSetor" >
			<span class="title">Grupo Ocupacional</span>
			<ul>
				<li ng-show="hasRoleAdmin" ><a href="#/grupo-ocupacional/cadastro"  
						class="">Cadastrar Grupo Ocupacional</a></li>
				<li><a href="#/grupo-ocupacional/pesquisa" class="">Listar Grupos Ocupacionais</a></li>
			</ul>
		</div>
		<div class="grupo " ng-show="hasRoleAdmin" >
			<span class="title">Importação</span>
			<ul>
				<li><a href="#/import/funcionario" class="">Importar de XLS</a></li>
			</ul>
		</div>
	</div>

</div>