<div class="container">
	<fieldset>
		<legend>Listagem de Funcionários</legend>
		<form novalidate role="form" name="formPrincipal" ng-submit="pesquisar()" >
			
			<div class="form-group" >
				
			<!-- FILTRO-->
      <div ng-include=" 'views/funcionario/pesquisa-filtro.html' " class="innerSection"></div>
      <!-- FIM FILTRO-->

				<!-- GRID -->
				<div class="datagrid" >

					<div class="gridContainer" >
						<!-- <table ng-table="paramsDataGrid" class="table" template-pagination="views/templates/pagination.html" show-filter="false"> -->
						<table ng-table="paramsDataGrid" class="table" show-filter="false">
							<tbody>
								<tr ng-repeat="entity in $data">

									<td data-title="'Empresa'" >
										{{entity.empresa | empresa}}
									</td>
									<td data-title="'Matrícula'" sortable="'matricula'" >
										{{entity.matricula}}
									</td>
									<td data-title="'Status'" sortable="'ativo'" >
										{{entity.ativo ? 'Ativo' : 'Inativo'}}
									</td>
									<td data-title="'Nome'" sortable="'pessoa.nome'" >
										<a href="#/funcionario/{{entity.id}}" >{{entity.pessoa.nome}}</a>
									</td>
									<td data-title="'Setor'" sortable="'setor.nome'" >
										{{entity.setor.nome}}
									</td>
									<td data-title="'Cargo'" sortable="'cargo.nome'" >
										{{entity.cargo.nome}}
									</td>
									<td data-title="'Grupo Ocupacional'" sortable="'cargo.grupoOcupacional.nome'" >
										{{entity.cargo.grupoOcupacional.nome}}
									</td>

									<td data-title="'Ações'" style="width: {{44 * (hasRoleAdmin ? 3 : 1)}}px" >
										<div class="actionsRow" style="width: {{44 * (hasRoleAdmin ? 3 : 1)}}px">
											<a ng-if="hasRoleAdmin" role="button" href="#/funcionario/{{entity.id}}" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Editar" >
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
											<a ng-if="hasRoleAdmin" role="button" ng-click="excluir(entity)" type="button" class="btn btn-primary" 
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir" >
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</a>
											<a role="button" ng-click="verPesquisasFuncionario(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Pesquisas" >
												<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
											</a>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>

				</div> <!-- .datagrid -->


			</div> <!--container -->


		</form>

	</fieldset>

</div>