<div section-directive="Filtro" class="filtroGrid filtroFuncionario" collapsed="true" >
	
	<div class="row" ng-if="hasRoleAdmin" >
    <div class="col-xs-4" >
      <div select-directive model="funcionario.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'"
      form="formPrincipal" req="false"  ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div>
	<div class="row" >
		<div class="form-group col-xs-6" >
			<div input-text-form-directive model="funcionario.pessoa.nome" label="'Nome'" field-name="nome" 
			placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="false" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
		</div>
		<div class="form-group col-xs-6" >
			<div select-directive model="funcionario.setor" label="'Setor'" options="setores" field-name="setor" option-label="nome" 
			form="formPrincipal"  req="false"></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'setor'" msg="'Setor é obrigatório'"  validate-type="'required'" ></div>
		</div>
	</div>
	<div class="row" >
		<div class="form-group col-xs-6" >
			<div select-directive model="funcionario.grupoOcupacional" label="'Grupo Ocupacional'" options="gruposOcupacionais" field-name="grupoOcupacional" option-label="nome" 
			form="formPrincipal"  req="false"></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'grupoOcupacional'" msg="'Grupo Ocupacional é obrigatório'"  validate-type="'required'" ></div>
		</div>
		<div class="form-group col-xs-6" >
			<div select-directive model="funcionario.cargo" label="'Cargo'" options="cargos" field-name="cargo" option-label="nome" 
			form="formPrincipal"  req="false"></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cargo'" msg="'Cargo é obrigatório'"  validate-type="'required'" ></div>
		</div>
	</div>
	<div class="row" >
		<div class="form-group col-xs-6" >
			<div input-text-form-directive model="funcionario.matricula" label="'Matrícula'" field-name="matricula" 
			placeholder="''" form="formPrincipal" max-length="100" req="false" ></div>
		</div>
		<div class="form-group col-xs-6 " >
			<div select-directive model="funcionario.ativo" label="'Ativo'" options="simNao" option-label="label" option-value="value" field-name="ativo"  
			form="formPrincipal" req="false" ng-init="funcionario.ativo = true" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'ativo'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
		</div>
		<!-- <div class="form-group col-xs-6 " >
			<div input-text-form-directive model="funcionario.pessoa.obs" label="'Observações'" field-name="obs" 
				placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="false" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'obs'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
		</div> -->
	</div>

	<div class="row btnsFiltro">
		<div class="form-group col-xs-12" >
			<button ng-click="pesquisar()" type="button" class="btn btn-primary" type="button" ng-disabled="formPrincipal.$invalid" >
				Pesquisar
			</button>
			<button ng-click="limparFiltro()" type="button" class="btn btn-primary" type="button" >
				Limpar Filtro
			</button>
		</div>
	</div>

</div>