<div class="container">
  <fieldset>
    <legend>Cadastro de Grupo Ocupacional</legend>
    <form novalidate role="form" name="formPrincipal" class="formPrincipal" ng-submit="salvarAtualizar()" >

      <div>

         <div class="row" ng-if="hasRoleAdmin" >
          <div class="col-xs-4" >
            <div select-directive model="grupoOcupacional.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'" 
              form="formPrincipal" req="true"  ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
          </div>
        </div>
        <div ng-show="grupoOcupacional.idEmpresa" >
        <div class="form-group" >
          <div input-text-form-directive model="grupoOcupacional.nome" label="'Nome'" field-name="nome" 
          placeholder="'digite o nome'" form="formPrincipal" min-length="3" max-length="100" req="true" autofocus="autofocus" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
        </div>

        <div class="form-group" >
          <div input-text-form-directive model="grupoOcupacional.descricao" label="'Descrição'" field-name="descricao" 
          placeholder="'digite a descrição'" form="formPrincipal" min-length="3" max-length="100"  ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricao'" msg="'Descrição é obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricao'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
        </div>

        <div class="form-group" >
          <div textarea-form-directive field-name="obs" max-length="1000" form="formPrincipal" label="'Observações'" model="grupoOcupacional.obs" rows="3" ></div>
        </div>

        </div>


        <div class="btsFormPrincipal" >

          <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button"  ng-disabled="!grupoOcupacional.idEmpresa">
            Salvar
          </button>

          <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button" >
            Cancelar
          </button>

        </div>

        <div class="errosEndForm" ng-show="showMsgsError" >
          <p class="bg-danger" ng-show="formPrincipal.$invalid">
            O formulário possui erros de validação
          </p>
          <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
            <span >*Campos Obrigatórios</span>
          </div>
        </div>

    </div>

  </form>

</fieldset>
</div>