<div class="container">
  <fieldset>
    <legend>Cadastro de Empresa</legend>
    <form novalidate role="form" name="formPrincipal" ng-submit="salvarAtualizar()" >

      <div>


        <div class="form-group" >
          <div input-text-form-directive model="empresa.nome" label="'Nome'" field-name="nome" 
          placeholder="'digite o nome'" form="formPrincipal" min-length="3" max-length="100" req="true" autofocus="autofocus" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
        </div>

        <div class="form-group" >
          <div input-text-form-directive model="empresa.cnpj" label="'CNPJ'" field-name="cnpj" 
          placeholder="'digite o cnpj'" cnpj="cnpj" form="formPrincipal" min-length="3" max-length="100" req="true" autofocus="autofocus" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cnpj'" msg="'CNPJ é obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cnpj'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cnpj'" msg="'CNPJ inválido'"  validate-type="'cnpj'" ></div>
        </div>

        <div class="form-group" >
          <div textarea-form-directive field-name="obs" form="formPrincipal" label="'Observações'" model="empresa.obs" rows="3" max-length="1000" ></div>
        </div>

        <div class="btsFormPrincipal" >

          <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button"  >
            Salvar
          </button>

          <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button" >
            Cancelar
          </button>

        </div>

        <div class="errosEndForm" ng-show="showMsgsError" >
          <p class="bg-danger" ng-show="formPrincipal.$invalid">
            O formulário possui erros de validação
          </p>
          <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
            <span >*Campos Obrigatórios</span>
          </div>
        </div>

    </div>

  </form>

</fieldset>
</div>