<div section-directive="Filtro" class="filtroGrid filtroCargo" collapsed="true" >
	
  <div class="row">

    <div class="form-group col-xs-6" >
      <div input-text-form-directive model="empresa.nome" label="'Nome'" field-name="nome" 
      placeholder="'digite o nome'" form="formPrincipal" min-length="3" max-length="100" req="false" autofocus="autofocus" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
    </div>

    <div class="form-group col-xs-6" >
      <div input-text-form-directive model="empresa.cnpj" label="'CNPJ'" field-name="cnpj" 
      placeholder="'digite o cnpj'" cnpj="cnpj" form="formPrincipal" min-length="3" max-length="100" req="false" autofocus="autofocus" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cnpj'" msg="'CNPJ é obrigatório'"  validate-type="'required'" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cnpj'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
    </div>

  </div>

  <div class="row btnsFiltro">
    <div class="form-group col-xs-12" >
      <button ng-click="pesquisar()" type="button" class="btn btn-primary" type="button" ng-disabled="formPrincipal.$invalid" >
        Pesquisar
      </button>
      <button ng-click="limparFiltro()" type="button" class="btn btn-primary" type="button" >
       Limpar Filtro
      </button>
    </div>
  </div>

</div>