<div class="container">
	<fieldset>
		<legend>Listagem de Empresas</legend>
		<form novalidate role="form" name="formPrincipal" ng-submit="pesquisar()" >
			
			<div class="form-group" >
				
			<!-- FILTRO-->
      <div ng-include=" 'views/empresa/pesquisa-filtro.html' " class="innerSection"></div>
      <!-- FIM FILTRO-->

				<!-- GRID -->
				<div class="datagrid" >

					<div class="gridContainer" >
						<table ng-table="paramsDataGrid" class="table" show-filter="false">
							<tbody>
								<tr ng-repeat="entity in $data">

									<td data-title="'Nome'" sortable="'nome'" filter="{ 'nome': 'text' }">
										<a href="#/empresa/{{entity.id}}" >{{entity.nome}}</a>
									</td>
									<td data-title="'CNPJ'"  >
										{{entity.cnpj | cnpj}}
									</td>
									
									<td data-title="'Ações'" style="width: {{44 * 3}}px" >
										<div class="actionsRow" style="width: {{44 * 3}}px">
											<a role="button" href="#/empresa/{{entity.id}}" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Editar" >
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
											<a role="button" ng-click="excluir(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir" >
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</a>
											<a role="button" ng-click="verPesquisas(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Pesquisas" >
												<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
											</a>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>

				</div> <!-- .datagrid -->


			</div> <!--container -->


		</form>

	</fieldset>

</div>