<div class="container containerFormResultado"  >
  <fieldset>

    <legend class="titulo">{{pesquisaNome}}</legend>
    <!-- <div class="nomeUsuarioLocal2">
      <span>{{avaliado.pessoa.nome}}</span>
      <span>{{grupoOcupacional.nome}}</span>
      <span>{{cargo.nome}}</span>
      <span>{{setor.nome}}</span>
      <span ng-show="avaliado.cargo.grupoOcupacional.nome">
        <span> - CPF: {{user.funcionario.pessoa.documento}}</span>
        <span> - Grupo Ocupacional: {{avaliado.cargo.grupoOcupacional.nome}}</span>
      </span>
    </div> -->
    <div class="nomeUsuarioLocal2" >
      <span>Avaliação de </span><strong><a href="#/funcionario/{{avaliadorId}}">{{avaliadorNome}}</a></strong> 
      <span>sobre</span> <strong><a href="#/funcionario/{{avaliadoId}}">{{avaliadoNome}}</a></strong> 
      <span> em {{datacadastro | viewdata : 'DD/MM/YY' }}</span>
    </div>
    
    <form novalidate role="form" name="formPrincipal" class="formResultado" >

      <div>

        <div class="resultados">
          
          <div class="resultado" ng-repeat="questionario in questionariosRespostas  | orderBy: '+nome'" >
            <table class="questionario {{$first ? 'primeiro' : ''}}" >
              <tr  >
                <td  colspan="5">
                  <table class="grupoQuestao " >
                    
                    <!-- space -->
                    <!-- <tr><td colspan="5"  style="border: none !important; padding-bottom: 54px; };"></td></tr> -->


                    <tr ng-repeat="grupoQuestao in questionario.gruposQuestoes  | orderBy: '+nome'" >
                      <td colspan="5" >
                        <table>
                          <tr class="rowNomeGrupoQuestao">
                            <td class="nomeGrupoQuestao">
                              <span id="grupo{{grupoQuestao.id}}">
                                {{grupoQuestao.nome}}
                              </span>
                              <br/>
                              <span class="descricao" ng-show="grupoQuestao.descricao">
                                {{'(' + grupoQuestao.descricao + ')'}}
                              </span>
                            </td>
                            <td class="tituloTable" >
                              
                            </td>
                          </tr>
                          <tr ng-repeat="questaoOrdem in grupoQuestao.questoesOrdem | orderBy: '+ordem' " class="questao" >
                            <td class="nomeQuestao">
                              <span>
                                {{questaoOrdem.questao.perguntaQuestao}}
                              </span>
                            </td>
                            <td class="nota notaPropria"  >
                              <div >
                                <span ng-show="questaoOrdem.questao.resposta.respostaValorLista && questaoOrdem.questao.resposta.respostaValorLista.nome !== 'N/A'"  >
                                  {{questaoOrdem.questao.resposta.respostaValorLista.valor}} - {{questaoOrdem.questao.resposta.respostaValorLista.nome}}
                                </span>
                                <span ng-show="questaoOrdem.questao.resposta.respostaValorLista && questaoOrdem.questao.resposta.respostaValorLista.nome === 'N/A'"  >
                                  {{questaoOrdem.questao.resposta.respostaValorLista.nome}}
                                </span>
                                <span ng-show="questaoOrdem.questao.resposta.respostaTexto" 
                                class="respostaTexto" popover-trigger="mouseenter" popover="{{questaoOrdem.questao.resposta.respostaTexto}}" >
                                  {{questaoOrdem.questao.resposta.respostaTexto}}
                                </span>
                                <span ng-show="questaoOrdem.questao.resposta.respostaNumerico" class="respostaNumerico" >
                                  {{questaoOrdem.questao.resposta.respostaNumerico | number:2}}
                                </span>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>

        </div><!-- container-->


      </div>

      
       

      <hr />
    

      <div class="imprimir noPrint" >
         <button onclick="window.print();" class="btn btn-primary noPrint" type="button" >
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          </button>
      </div>

    </form>

  </fieldset>
</div>