<div class="container">
  <fieldset>
    <legend>Cadastro de Usuário</legend>
    <form novalidate role="form" name="formPrincipal" ng-submit="salvarAtualizar()" >

      <div>
        
        <div class="row" >
          <div class="form-group col-xs-12" >
            <div select-directive model="user.tipoUser" label="'Tipo de Usuário'" options="tiposUsuarios" field-name="tipoUser" option-label="label" 
              form="formPrincipal" req="true" ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'tipoUser'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
          </div>
        </div>

        <div class="row" ng-show="user.tipoUser && user.tipoUser.value === 'funcionario' || user.tipoUser.value === 'gestor'">
          <div class="form-group col-xs-12" >
            <div select-directive model="user.funcionario" label="'Funcionário'" options="funcionarios" field-name="funcionario" option-label="pessoa.nome" 
              form="formPrincipal" req="user.tipoUser && user.tipoUser.value === 'funcionario'"  ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'funcionario'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
          </div>
        </div>

        <!-- <div class="row" ng-show="user.tipoUser && user.tipoUser.value !== 'admin'">
          <div class="form-group col-xs-12" >
            <div select-directive model="user.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="id"   
              form="formPrincipal" req="user.tipoUser && user.tipoUser.value !== 'admin'"  ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
          </div>
        </div> -->

        <div class="form-group" >
          <div input-text-form-directive model="user.nomeExibir" label="'Nome'" field-name="nomeExibir" autocompleteoff="off"
          placeholder="'digite o nome do usuário'" form="formPrincipal" min-length="3" max-length="100" req="true" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nomeExibir'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nomeExibir'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
        </div>

        <div class="form-group" >
          <div input-text-form-directive model="user.name" label="'Login'" field-name="nomeUsuario" autocompleteoff="off"
          placeholder="'digite o login do usuário'" form="formPrincipal" min-length="3" max-length="100" req="true" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nomeUsuario'" msg="'Usuário é obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nomeUsuario'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
        </div>
        
        <div class="form-group" >
          <div input-text-form-directive type="password" model="user.password" label="'Senha'" field-name="senhaUsuario" autocompleteoff="off"
          placeholder="'digite a senha do usuário'" form="formPrincipal" min-length="4" max-length="100" req="true" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'senhaUsuario'" msg="'Senha é obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'senhaUsuario'" msg="'Digite no mínimo 4 caracteres'"  validate-type="'minlength'" ></div>
        </div>

        <div class="form-group" >
          <div input-text-form-directive type="email" model="user.email" label="'E-mail'" field-name="userEmail" 
            placeholder="'digite o e-mail do usuário'" req="true"  form="formPrincipal" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'userEmail'" msg="'E-mail é obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'userEmail'" msg="'E-mail inválido'" validate-type="'email'" ></div>
        </div>

        <div class="form-group" >
          <label class="control-label">Solicitar Redefinir Senha</label>
          <div class="radio">
            <label>
              <input type="radio" ng-model="user.senhaAtualizada" name="campoSenhaAtualizada"  ng-value="false"  >
              Sim
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="user.senhaAtualizada" name="campoSenhaAtualizada"  ng-value="true">
              Não
            </label>
          </div>
        </div>

        


        <div class="btsFormPrincipal" >

          <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button" >
            Salvar
          </button>

          <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button" >
            Cancelar
          </button>

        </div>

        <div class="errosEndForm" ng-show="showMsgsError" >
          <p class="bg-danger" ng-show="formPrincipal.$invalid">
            O formulário possui erros de validação
          </p>
          <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
            <span >*Campos Obrigatórios</span>
          </div>
        </div>

    </div>

  </form>

</fieldset>
</div>