<div section-directive="Filtro" class="filtroGrid filtroCargo" collapsed="true" >
	
	
	<!-- <div class="row" ng-if="hasRoleAdmin" >
    <div class="col-xs-4" >
      <div select-directive model="user.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'"
      form="formPrincipal" req="false"  ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div> -->
	<div class="row" ng-if="hasRoleAdmin" >
    <div class="col-xs-4" >
      <div select-directive model="user.funcionario.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'"
      form="formPrincipal" req="false"  ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div>
  <div class="row">
		 	<div class="form-group col-xs-6" >
      	<div input-text-form-directive model="user.nomeExibir" label="'Nome'" field-name="nomeExibir" autocompleteoff="off"
      	placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="false" ></div>
      	<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nomeExibir'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
    	</div>
    	<div class="form-group col-xs-6" >
      	<div input-text-form-directive model="user.name" label="'Login'" field-name="login" autocompleteoff="off"
      	placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="false" ></div>
      	<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'login'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
    	</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-6" >
      <div select-directive model="user.tipoUser" label="'Tipo de Usuário'" options="tiposUsuarios" field-name="tipoUser" option-label="label" 
        form="formPrincipal" req="false" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'tipoUser'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
    </div>
    <div class="form-group col-xs-6" >
    	<div input-text-form-directive model="user.funcionario.matricula" label="'Matrícula'" field-name="matricula" autocompleteoff="off"
    	placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="false" ></div>
    	<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'matricula'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
  	</div>
	</div>

	
	<div class="row btnsFiltro">
		<div class="form-group col-xs-6 col-xs-12" >
			<button ng-click="pesquisar()" type="button" class="btn btn-primary" type="button" ng-disabled="formPrincipal.$invalid" >
				Pesquisar
			</button>
			<button ng-click="limparFiltro()" type="button" class="btn btn-primary" type="button" >
				Limpar Filtro
			</button>
		</div>
	</div>

</div>