<div class="container">
	<fieldset>
		<legend>Listagem de Usuários</legend>
		<form novalidate role="form" name="formPrincipal" ng-submit="pesquisar()" >
			
			<div class="form-group" >
				
			<!-- FILTRO-->
      <div ng-include=" 'views/user/pesquisa-filtro.html' " class="innerSection"></div>
      <!-- FIM FILTRO-->

				<!-- GRID -->
				<div class="datagrid" >

					<div class="gridContainer" >
						<table ng-table="paramsDataGrid" class="table" show-filter="false">
							<tbody>
								<tr ng-repeat="entity in $data">
									<td data-title="'Empresa'" >
										{{entity.funcionario.empresa | empresa}}
									</td>
									<td data-title="'Matrícula'" >
										{{entity.funcionario.matricula}}
									</td>
									<td data-title="'Nome'" sortable="'nomeExibir'" filter="{ 'nomeExibir': 'text' }">
										<a href="#/funcionario/{{entity.funcionario.id}}" ng-show="entity.funcionario" popover-trigger="mouseenter" popover="Editar Funcionário {{entity.funcionario.pessoa.nome}}">
											{{entity.funcionario.pessoa.nome}}
										</a>
										<span ng-show="!entity.funcionario">{{entity.nomeExibir}}</span>
									</td>
									<td data-title="'Login'" sortable="'name'" filter="{ 'name': 'text' }">
										<a href="#/user/{{entity.id}}" popover-trigger="mouseenter" popover="Editar Usuário" >
											{{entity.name}}
										</a>
									</td>
									<td data-title="'Tipo de Usuário'" >
										{{entity | tipouser}}
									</td>
									<!-- <td data-title="'Funcionário'" sortable="'funcionario.pessoa.nome'" >
										<a href="#/funcionario/{{entity.funcionario.id}}" popover-trigger="mouseenter" popover="Editar Funcionário">
											{{entity.funcionario.pessoa.nome}}
										</a>
									</td> -->
									
									<!-- <td data-title="'Último Acesso'" sortable="'ultimoAcesso'" class="data">
										{{entity.ultimoAcesso | viewdata}}
									</td> -->
									
									
									<td data-title="'Ações'" style="width: {{44 * 2}}px" >
										<div class="actionsRow" style="width: {{44 * 2}}px">
											<a role="button" href="#/user/{{entity.id}}" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Editar" >
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
											<a role="button" ng-click="excluir(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir" >
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</a>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>

				</div> <!-- .datagrid -->


			</div> <!--container -->


		</form>

	</fieldset>

</div>