<div class="screenHome screenHomeAdmin">
	
	<div class="grupos">
		<div class="grupo ">
			<span class="title">Usuário</span>
			<ul>
				<li><a href="#/user/cadastro" class="">Cadastrar Usuário</a></li>
				<li><a href="#/user/pesquisa" class="">Listar Usuários</a></li>
			</ul>
		</div>
		<div class="grupo ">
			<span class="title">Empresa</span>
			<ul>
				<li><a href="#/empresa/cadastro" class="">Cadastrar Empresa</a></li>
				<li><a href="#/empresa/pesquisa" class="">Listar Empresa</a></li>
			</ul>
		</div>
		
	</div>

</div>