<div class="container">
  <fieldset>
    <legend>Cadastro de Escala de Valores</legend>
    <form novalidate role="form" name="formPrincipal" ng-submit="salvarAtualizar()" >

      <div>


        <div class="formCadastrarNovoListaValoresContainer" >
      
          <ng-form name="formCadastrarNovoListaValores" >
          
          <div class="row" ng-if="hasRoleAdmin" >
          <div class="col-xs-4" >
            <div select-directive model="listaValores.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'" 
              form="formPrincipal" req="true"  ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
          </div>
          </div>
          <div ng-show="listaValores.idEmpresa" >
          <div class="row" >
            <div class="form-group col-xs-12" >
              <div input-text-form-directive model="listaValores.nome" label="'Nome'" field-name="nomeListaValores" 
              placeholder="'digite o nome da escala de avaliação'" form="formCadastrarNovoListaValores" min-length="3" max-length="100"   req="true"></div>
              <div msg-field-validations-directive show="showMsgsError" form="formCadastrarNovoListaValores" field-name="'nomeListaValores'" msg="'nome é obrigatório'"  validate-type="'required'" ></div>
              <div msg-field-validations-directive show="showMsgsError" form="formCadastrarNovoListaValores" field-name="'nomeListaValores'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
            </div>
          </div>
          <!-- VALORES -->
          <div section-directive="Valores" class="innerSection valorListaValores"  >
            <div class="" ng-repeat="valorLista in listaValores.valoresLista" >
              <ng-form name="innerForm" ng-init="valorLista.ordem = $index">
                <div class="campos" >

                  <div class="row" >
                    <div class="form-group col-xs-6" >
                      <div input-text-form-directive model="valorLista.nome" label="'Nome de Exibição'" field-name="valorListaNome" 
                      placeholder="'digite o nome'" form="innerForm"  max-length="100" req="true" class="'valorListaNome'+$index"></div>
                      <div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'valorListaNome'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
                      <div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'valorListaNome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
                    </div>
                    <div class="form-group col-xs-6" >
                      <div input-text-form-directive numero="2" model="valorLista.valor" label="'Valor'" field-name="valorListaValor" 
                      placeholder="'digite o nome'" form="innerForm"  max-length="100" req="false" class="'valorListaValor'+$index" ></div>
                      <div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'valorListaValor'" msg="'Valor é obrigatório'"  validate-type="'required'" ></div>
                      <div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'valorListaValor'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
                    </div>
                  </div>

                </div>
                <div class="btnAddRemoveRow" style="margin-top: -19px;">
                  <span class="inner">
                    <a ng-click="listaValores.valoresLista.push({}); focusField($index)" ><span  class="add btn btn-primary glyphicon glyphicon-plus" ng-show="$last" ></span></a>

                    <a ng-click="listaValores.valoresLista.splice($index, 1);"  ><span class="remove btn btn-primary glyphicon glyphicon-minus" ng-hide="$first" ></span></a>
                    <a ng-click="listaValores.valoresLista[$index] = {}"  ><span  class="remove btn btn-primary glyphicon glyphicon-minus" ng-show="$first" ></span></a>
                  </span>
                </div>
              </ng-form>
              <hr ng-show="listaValores.valoresLista.length > 1 && !$last" style="width: 97%;" class="separatorStyle2">
              </div><!-- ng-repeat -->
            </div>
            <!-- FIM VALORES -->
          </ng-form>
        </div>
        <!-- formCadastrarNovoListaValoresContainer -->
        </div>

        <div class="btsFormPrincipal" >

          <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button" ng-disabled="!listaValores.idEmpresa">
            Salvar
          </button>

          <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button" >
            Cancelar
          </button>

        </div>

        <div class="errosEndForm" ng-show="showMsgsError || valoresListaInvalid" >
          <p class="bg-danger" ng-show="formPrincipal.$invalid || valoresListaInvalid">
            O formulário possui erros de validação
          </p>
          <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
            <span >*Campos Obrigatórios</span>
          </div>
          <div class="error-msg " ng-show="valoresListaInvalid">
            <span >*Informar, pelo menos, um valor da lista de valores</span>
          </div>
        </div>

    </div>

  </form>

</fieldset>
</div>