<div class="container">
	<fieldset>
		<legend>Listagem de Escalas de Valores</legend>
		<form novalidate role="form" name="formPrincipal" ng-submit="pesquisar()" >
			
			<div class="form-group" >
				
			<!-- FILTRO-->
      <div ng-include=" 'views/listavalores/pesquisa-filtro.html' " class="innerSection"></div>
      <!-- FIM FILTRO-->

				<!-- GRID -->
				<div class="datagrid" >

					<div class="gridContainer" >
						<!-- <table ng-table="paramsDataGrid" class="table" template-pagination="views/templates/pagination.html" show-filter="false"> -->
						<table ng-table="paramsDataGrid" class="table" show-filter="false">
							<tbody>
								<tr ng-repeat="entity in $data">
									<td data-title="'Empresa'" >
										{{entity.empresa | empresa}}
									</td>
									<td data-title="'Nome'" sortable="'nome'" filter="{ 'nome': 'text' }">
										<a href="#/listavalores/{{entity.id}}" >{{entity.nome}}</a>
									</td>
									<td data-title="'Valores'"  class="valores">
										<div class="valor"  >
												<!-- <span class="glyphicon glyphicon-ok " aria-hidden="true"></span> -->
												<span ng-repeat="valor in entity.valoresLista | orderBy: '+ordem'" class="nome">
													<span style="font-weight: bold; font-size: 12px;" ng-show="!$first">|</span>
													{{valor.nome}}
												</span>
										</div>
									</td>
									<td data-title="'Ações'" style="width: {{44 * 2}}px" >
										<div class="actionsRow" style="width: {{44 * 2}}px">
											<a role="button" href="#/listavalores/{{entity.id}}" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Editar" >
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
											<a role="button" ng-click="excluir(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir" >
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</a>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>

				</div> <!-- .datagrid -->


			</div> <!--container -->


		</form>

	</fieldset>

</div>