<div section-directive="Grupos de Questões" class="questionarioQuestoes" >

  <!-- QUESTÕES SELECIONADAS -->
  <button class="btn btn-primary" type="button" ng-click="selecionarGruposQuestoes()" ng-show="!questionario.gruposQuestoes || questionario.gruposQuestoes.length === 0"
    style="font-size: 12px; padding-top: 2px; padding-bottom: 1px; font-weight: bold;">
    Selecionar Grupos de Questões
  </button>
  <div class="form-group" ng-show="questionario.gruposQuestoes && questionario.gruposQuestoes.length > 0">
    <label class="control-label">
        Grupos de Questões Selecionados - 
      <a role="button" ng-click="selecionarGruposQuestoes()" type="button" class="btn btn-primary btnPequeno"  
        popover-trigger="mouseenter" popover="Selecionar Grupos de Questões" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </label>
    <!-- GRID -->
    <div class="datagrid" >

      <div class="gridContainer" >
        <table ng-table="paramsDataGridGruposQuestoesSelecionadas" class="table" show-filter="false">
          <tbody>
            <tr ng-repeat="grupoQuestao in $data" >

              <td data-title="'Nome'" >
                {{grupoQuestao.nome}}
              </td>
              <td data-title="'Descrição'" >
                {{grupoQuestao.descricao}}
              </td>

              <td data-title="'Ações'" style="width: {{44 * 1}}px" >
                <div class="actionsRow" style="width: {{44 * 1}}px">
                  <a role="button"ng-click="removerGrupoQuestaoSelecionada(grupoQuestao);" class="btn btn-primary"  
                    popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover" >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

    </div> <!-- .datagrid -->

  </div>

</div>