<div section-directive="Grupos Ocupacionais" class="gruposOcupacionais" style="margin-bottom: 45px;">

	<div >
		<div class="form-group" ng-repeat="grupoOcupacional in questionario.gruposOcupacionais track by $index"  >
			<ng-form name="innerForm">

				<div class="row" >
					<div class="form-group col-xs-12 " style="margin-bottom: 0px;">
						<div select-directive model="questionario.gruposOcupacionais[$index]" req="false" label="'Grupo Ocupacional '+($index+1)" options="gruposOcupacionais" field-name="grupoOcupacional" option-label="nome" 
						form="innerForm"  ></div>
						<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'grupoOcupacional'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="row" >
					<div class="btnAddRemoveRow" style="margin-left: 3px;">
						<span class="inner">
							<a ng-click="questionario.gruposOcupacionais.push({})" ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Adicionar mais um Grupo Ocupacional"  class="add btn btn-primary glyphicon glyphicon-plus" ng-show="$last" ></span></a>

							<a ng-click="questionario.gruposOcupacionais.splice($index, 1);"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Grupo Ocupacional"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-hide="$first" ></span></a>
							<a ng-click="questionario.gruposOcupacionais[$index] = {}"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Grupo Ocupacional"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-show="$first" ></span></a>
						</span>
					</div>
				</div>
			</ng-form>
			<hr ng-show="questionario.gruposOcupacionais.length > 1 && !$last" >
		</div>
	</div>

</div>
<div section-directive="Cargos" class="gruposOcupacionais" style="margin-bottom: 45px;">

	<div >
		<div class="form-group" ng-repeat="cargo in questionario.cargos track by $index"  >
			<ng-form name="innerFormCargo">

				<div class="row" >
					<div class="form-group col-xs-12 " style="margin-bottom: 0px;">
						<div select-directive model="questionario.cargos[$index]" req="false" label="'Cargo '+($index+1)" options="cargos" field-name="cargo" option-label="nome" 
						form="innerFormCargo"  ></div>
						<div msg-field-validations-directive show="showMsgsError" form="innerFormCargo" field-name="'cargo'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="row" >
					<div class="btnAddRemoveRow" style="margin-left: 3px;">
						<span class="inner">
							<a ng-click="questionario.cargos.push({})" ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Adicionar mais um Cargo"  class="add btn btn-primary glyphicon glyphicon-plus" ng-show="$last" ></span></a>

							<a ng-click="questionario.cargos.splice($index, 1);"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Cargo"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-hide="$first" ></span></a>
							<a ng-click="questionario.cargos[$index] = {}"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Cargo"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-show="$first" ></span></a>
						</span>
					</div>
				</div>
			</ng-form>
			<hr ng-show="questionario.cargos.length > 1 && !$last" >
		</div>
	</div>

</div>
<div section-directive="Setores" class="gruposOcupacionais" style="margin-bottom: 45px;">

	<div >
		<div class="form-group" ng-repeat="setor in questionario.setores track by $index"  >
			<ng-form name="innerFormSetor">

				<div class="row" >
					<div class="form-group col-xs-12 " style="margin-bottom: 0px;">
						<div select-directive model="questionario.setores[$index]" req="false" label="'Setor '+($index+1)" options="setores" field-name="setor" option-label="nome" 
						form="innerFormSetor"  ></div>
						<div msg-field-validations-directive show="showMsgsError" form="innerFormSetor" field-name="'setor'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="row" >
					<div class="btnAddRemoveRow" style="margin-left: 3px;">
						<span class="inner">
							<a ng-click="questionario.setores.push({})" ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Adicionar mais um Setor"  class="add btn btn-primary glyphicon glyphicon-plus" ng-show="$last" ></span></a>

							<a ng-click="questionario.setores.splice($index, 1);"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Setor"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-hide="$first" ></span></a>
							<a ng-click="questionario.setores[$index] = {}"  ><span  popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover este Setor"  class="remove btn btn-primary glyphicon glyphicon-minus" ng-show="$first" ></span></a>
						</span>
					</div>
				</div>
			</ng-form>
			<hr ng-show="questionario.setores.length > 1 && !$last" >
		</div>
	</div>

</div>