<div class="container">
    <fieldset>
        <legend>Cadastro de Questionário</legend>
        <form novalidate role="form" name="formPrincipal" ng-submit="salvarAtualizar()" class="formCadastroQuestionario">
            <div>
                <div class="row" ng-if="hasRoleAdmin">
                    <div class="col-xs-4">
                        <div select-directive model="questionario.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'" form="formPrincipal" req="true"></div>
                        <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'" validate-type="'required'"></div>
                    </div>
                </div>
                <div ng-show="questionario.idEmpresa">
                    <div class="form-group">
                        <div input-text-form-directive model="questionario.nome" label="'Nome'" field-name="nome" placeholder="'digite o nome'" form="formPrincipal" min-length="3" max-length="100" req="true" autofocus="autofocus"></div>
                        <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome é obrigatório'" validate-type="'required'"></div>
                        <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'" validate-type="'minlength'"></div>
                    </div>
                    <!-- CADASTRO GRUPO QUESTOES -->
                    <div ng-include=" 'views/questionario/cadastro-grupo-questoes.html' "></div>
                    <!-- CADASTRO GRUPOS OCUPACIONAIS -->
                    <div ng-include=" 'views/questionario/cadastro-grupos-ocupacionais.html' "></div>
                    <hr />
                    <div class="form-group">
                        <div textarea-form-directive field-name="obs" form="formPrincipal" label="'Observações'" model="questionario.obs" rows="4" max-length="4000"></div>
                    </div>
                </div>
                <div class="btsFormPrincipal">
                    <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button" ng-disabled="!questionario.idEmpresa">
                        Salvar
                    </button>
                    <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button">
                        Cancelar
                    </button>
                </div>
                <div class="errosEndForm" ng-show="showMsgsError || gruposQuestoesInvalid">
                    <p class="bg-danger" ng-show="formPrincipal.$invalid || gruposQuestoesInvalid">
                        O formulário possui erros de validação
                    </p>
                    <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
                        <span>*Campos Obrigatórios</span>
                    </div>
                    <div class="error-msg " ng-show="gruposQuestoesInvalid">
                        <span>*Selecionar, pelo menos, um grupo de questão</span>
                    </div>
                </div>
                <br><br>
                <div class="msgs">
                    <div class="msg" ng-repeat="msg in msgsFailed">
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" ng-click="removeMsgFailed($index)"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                            <span ng-bind-html="msg.msg"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>