<div class="modal-header">
  <h3 class="modal-title">Selecionar Grupo de Questões</h3>
</div>
<div class="modal-body">
  
  <div class="formCadastroQuestionario">
  <!-- QUESTÕES DISPONIVEIS -->
  <div class="form-group" >
    <label class="control-label">
      Grupo de Questões Disponíveis - 
      <a role="button" href="#/grupo-questao/cadastro" ng-click="cancel()" class="btn btn-primary btnPequeno"  
        popover-trigger="mouseenter" popover-placement="right" popover="Cadastrar Grupo de Questão" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </label>

    <!-- GRID -->
    <div class="datagrid" >

      <div class="gridContainer" >
        <table ng-table="paramsDataGridGruposQuestoesDisponiveis" class="table" show-filter="true">
          <tbody>
            <tr ng-repeat="grupoQuestao in $data"   >

              <td data-title="'Nome'" sortable="'nome'" filter="{ 'nome': 'text' }">
                  {{grupoQuestao.nome}}
              </td>
              <td data-title="'Descrição'" sortable="'descricao'" filter="{ 'descricao': 'text' }">
                  {{grupoQuestao.descricao}}
              </td>

              <td data-title="'Ações'" style="width: {{44 * 1}}px" >
                <div class="actionsRow" style="width: {{44 * 1}}px">
                  <a role="button" ng-click="adicionarGrupoQuestao(grupoQuestao);"  class="btn btn-primary"  
                    popover-trigger="mouseenter" popover-append-to-body="false" popover="Selecionar" >
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>

      </div>

    </div> <!-- .datagrid -->

  </div>

  <!-- QUESTÕES SELECIONADAS -->
  <div class="form-group" >
    <label class="control-label">
      Grupos de Questões Selecionadas
    </label>
    <!-- GRID -->
    <div class="datagrid" >

      <div class="gridContainer" >
        <table ng-table="paramsDataGridGruposQuestoesSelecionadas" class="table" show-filter="false">
          <tbody>
            <tr ng-repeat="grupoQuestao in $data" >

              <td data-title="'Nome'" >
                  {{grupoQuestao.nome}}
              </td>
              <td data-title="'Descrição'" >
                  {{grupoQuestao.descricao}}
              </td>

              <td data-title="'Ações'" style="width: {{44 * 1}}px" >
                <div class="actionsRow" style="width: {{44 * 1}}px">
                  <a role="button" ng-click="removerGrupoQuestaoSelecionada(grupoQuestao);" class="btn btn-primary"  
                    popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover" >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
        
      </div>

    </div> <!-- .datagrid -->

  </div>

  </div>

</div><!-- modal body -->
<div class="modal-footer">
  <button class="btn btn-primary btnOkModal" ng-click="ok()"  >Associar</button>
  <button class="btn btn-primary btnCancelModal" ng-click="cancel()">Cancelar</button>
</div>