<ul class="pager ng-cloak paginationTemplate">
  <!-- <li ng-repeat="page in pages"
        ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
        ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type"> -->

    <!-- <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Anterior</a>
    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Próxima &raquo;</a> -->
  <!-- </li> -->
    <li class="previous">
     <!-- popover-trigger="mouseenter" popover-append-to-body="false" popover="Voltar para página {{params.page() - 1}}" -->
      <button type="button" ng-disabled="params.page() <= 1" ng-click="params.page() > 1 ? (params.page(params.page() - 1)) : undefined" >&laquo; Anterior</button>
    </li>
    <li class="next">
    <!-- popover-trigger="mouseenter" popover-append-to-body="false" popover="Ir para página {{params.page() + 1}}" -->
      <button type="button" ng-disabled="!params.hasNext" ng-click="params.page(params.page() + 1)" >Próxima &raquo;</button>
    </li>

    <li> 
      <div class="btn-group">
          <!-- popover="Exibir 10 registros por página"  popover-trigger="mouseenter" popover-append-to-body="false" -->
          <button type="button"  ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
          <button type="button"  ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
          <button type="button"  ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
      </div>
    </li>
</ul>