<div class="container">
	<fieldset>
		<legend>Listagem de Funcionários</legend>
		<form novalidate role="form" name="formPrincipal" ng-submit="pesquisar()" >
			
			<div class="form-group" >
				
			<!-- FILTRO-->
      <div ng-include=" 'views/funcionario/pesquisa-filtro.html' " class="innerSection"></div>
      <!-- FIM FILTRO-->

				<!-- GRID -->
				<div class="datagrid" >

					<div class="gridContainer" >
						<table ng-table="dataGridAvaliados" class="table" show-filter="false">
							<tbody>
								<tr ng-repeat="entity in $data">

									<td data-title="'Matrícula'" sortable="'matricula'" >
										{{entity.matricula}}
									</td>
									<td data-title="'Status'" sortable="'ativo'" >
										{{entity.ativo ? 'Ativo' : 'Inativo'}}
									</td>
									<td data-title="'Nome'" sortable="'pessoa.nome'" >
										<a href="#/funcionario/{{entity.id}}" popover="Ver Cadastro" popover-trigger="mouseenter" >
											{{entity.pessoa.nome}}
										</a>
									</td>
									<td data-title="'Setor'" sortable="'setor.nome'" >
										{{entity.setor.nome}}
									</td>
									<td data-title="'Cargo'" sortable="'cargo.nome'" >
										{{entity.cargo.nome}}
									</td>
									<td data-title="'Grupo Ocupacional'" sortable="'cargo.grupoOcupacional.nome'" >
										{{entity.cargo.grupoOcupacional.nome}}
									</td>

									<td data-title="'Ações'" style="width: {{44 * 2}}px" >
										<div class="actionsRow" style="width: {{44 * 2}}px">
											<a role="button" href="#/resultado/{{idPesquisa}}/{{entity.id}}" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Resultado Pesquisa" >
												<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											</a>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>

				</div> <!-- .datagrid -->


			</div> <!--container -->


		</form>

	</fieldset>

</div>