<div class="container containerFormResultado">
  <fieldset>
    <legend class="titulo">Resultado {{resultado.pesquisa.nome}}</legend>
    <div class="nomeUsuarioLocal2">
      <span>{{user.nomeExibir}}</span>
      <span ng-show="isFuncionario">
        <!-- <span> - CPF: {{user.funcionario.pessoa.documento}}</span> -->
        <span> - Grupo Ocupacional: {{user.funcionario.cargo.grupoOcupacional.nome}}</span>
      </span>
    </div>
    
    <form novalidate role="form" name="formPrincipal" class="formResultado" >

      <div>

        <div class="resultados">
          
          <div class="resultado" ng-repeat="questionario in resultado.questionarios" >
            <table class="questionario {{$first ? 'primeiro' : ''}}" >
              <tr>
                <td class="nomeQuestionario" >
                  <span>
                    {{questionario.nome}}
                  </span>
                </td> 
                <td class="tituloTable col2">
                  <span   popover-trigger="mouseenter" popover="Nota Prória" popover-append-to-body="true" >
                    Nota Própria
                  </span>
                </td>
                <td class="tituloTable col3" ng-if="!hideLideres" >
                  <span  popover-trigger="mouseenter" popover="Nota média da Liderança" popover-append-to-body="true" >
                    Nota Líderes
                  </span>
                </td>
                <td class="tituloTable col4" ng-if="!hideSubordinados" >
                  <span  popover-trigger="mouseenter" popover="Nota média dos Subordinados" popover-append-to-body="true" >
                    Nota Subordinados
                  </span>
                </td>
                <td class="tituloTable col5" ng-if="!hideOutros" >
                  <span  popover-trigger="mouseenter" popover="Nota média de Outros" popover-append-to-body="true">
                    Nota Outros
                  </span>
                </td>
              </tr>
              <tr>
                <td class="totalQuestionarioTitle">
                  <strong>TOTAL: </strong>
                </td>
                <td ng-if="questionario.mediaPropria !== 0" class="totalQuestionario">
                  <strong>{{questionario.mediaPropria | number:2}}</strong>
                </td>
                <td ng-if="questionario.mediaLideres !== 0" class="totalQuestionario">
                  <strong>{{questionario.mediaLideres | number:2}}</strong>
                </td>
                <td ng-if="questionario.mediaSubordinados !== 0" class="totalQuestionario">
                  <strong>{{questionario.mediaSubordinados | number:2}}</strong>
                </td>
                <td ng-if="questionario.mediaOutros !== 0" class="totalQuestionario">
                  <strong>{{questionario.mediaOutros | number:2}}</strong>
                </td>
              </tr>
              <tr  >
                <td  colspan="5">
                  <table class="grupoQuestao " >
                    <tr ng-repeat="grupoQuestao in questionario.gruposQuestoes" >
                      <td  >
                        <table>
                          <tr>
                            <td class="nomeGrupoQuestao">
                              <span>
                                {{grupoQuestao.nome}}
                              </span>
                              <span class="descricao" ng-show="grupoQuestao.descricao">
                                {{'(' + grupoQuestao.descricao + ')'}}
                              </span>
                            </td>
                            <td ng-if="grupoQuestao.mediaPropria !== 0" class="totalGrupo">
                              <strong>{{grupoQuestao.mediaPropria | number:2}}</strong>
                            </td>
                            <td ng-if="grupoQuestao.mediaLideres !== 0" class="totalGrupo">
                              <strong>{{grupoQuestao.mediaLideres | number:2}}</strong>
                            </td>
                            <td ng-if="grupoQuestao.mediaSubordinados !== 0" class="totalGrupo">
                              <strong>{{grupoQuestao.mediaSubordinados | number:2}}</strong>
                            </td>
                            <td ng-if="grupoQuestao.mediaOutros !== 0" class="totalGrupo">
                              <strong>{{grupoQuestao.mediaOutros | number:2}}</strong>
                            </td>
                            
                          </tr>
                          <tr ng-repeat="questaoOrdem in grupoQuestao.questoesOrdem | orderBy: '+ordem' " class="questao" >
                            <td class="nomeQuestao">
                              <span>
                                {{questaoOrdem.questao.nomeQuestao}}
                              </span>
                            </td>
                            <td class="nota notaPropria" >
                              <div ng-if="questaoOrdem.questao.notaPropria" >
                                <div ng-if="questaoOrdem.questao.isLista || questaoOrdem.questao.isNumerico" class="media">
                                  <span  >
                                    <span class="icon glyphicon glyphicon-ok"></span>
                                    {{questaoOrdem.questao.notaPropria.media}}
                                  </span>
                                </div>
                                <div ng-if="!questaoOrdem.questao.isLista && !questaoOrdem.questao.isNumerico && questaoOrdem.questao.notaPropria.respostasTextos.length > 0" class="respostasTexto">
                                  <span ng-repeat="respostaTexto in questaoOrdem.questao.notaPropria.respostasTextos track by $index" class="respostaTexto" 
                                    popover-trigger="mouseenter" popover="{{respostaTexto}}" >
                                    <span class="icon glyphicon glyphicon-ok"></span>
                                    {{respostaTexto}}
                                  </span>
                                </div>
                              </div>
                            </td>
                            <td class="nota notaLideres" ng-if="questaoOrdem.questao.notaLideres" >
                              <div  >
                                <div ng-if="questaoOrdem.questao.isLista || questaoOrdem.questao.isNumerico" class="media">
                                  <span  >
                                    <span class="icon glyphicon glyphicon-ok"></span>
                                    {{questaoOrdem.questao.notaLideres.media}}
                                  </span>
                                </div>
                                <div ng-if="!questaoOrdem.questao.isLista && !questaoOrdem.questao.isNumerico && questaoOrdem.questao.notaLideres.respostasTextos.length > 0" class="respostasTexto">
                                  <span ng-repeat="respostaTexto in questaoOrdem.questao.notaLideres.respostasTextos track by $index" class="respostaTexto" 
                                  popover-trigger="mouseenter" popover="{{respostaTexto}}" >
                                    <span class="icon glyphicon glyphicon-ok"></span>
                                    {{respostaTexto}}
                                  </span>
                                </div>
                              </div>
                            </td>
                            <td class="nota notaSubordinados" ng-if="questaoOrdem.questao.notaSubordinados" >
                              <div  >
                                <div ng-if="questaoOrdem.questao.isLista || questaoOrdem.questao.isNumerico" class="media">
                                  <span  >
                                    <span class="icon glyphicon glyphicon-ok"></span>
                                    {{questaoOrdem.questao.notaSubordinados.media}}
                                  </span>
                                </div>
                                <div ng-if="!questaoOrdem.questao.isLista && !questaoOrdem.questao.isNumerico && questaoOrdem.questao.notaSubordinados.respostasTextos.length > 0" class="respostasTexto">
                                  <span ng-repeat="respostaTexto in questaoOrdem.questao.notaSubordinados.respostasTextos track by $index" class="respostaTexto" 
                                  popover-trigger="mouseenter" popover="{{respostaTexto}}" >
                                    <span class="icon glyphicon glyphicon-ok"></span>
                                    {{respostaTexto}}
                                  </span>
                                </div>
                              </div>
                            </td>
                            <td class="nota notaOutros" ng-if="questaoOrdem.questao.notaOutros" >
                              <div  >
                                <div ng-if="questaoOrdem.questao.isLista" class="media">
                                  <span  >
                                    <span class="icon glyphicon glyphicon-ok"></span>
                                    {{questaoOrdem.questao.notaOutros.media}}
                                  </span>
                                </div>
                                <div ng-if="!questaoOrdem.questao.isLista && !questaoOrdem.questao.isNumerico && questaoOrdem.questao.notaOutros.respostasTextos.length > 0" class="respostasTexto">
                                  <span ng-repeat="respostaTexto in questaoOrdem.questao.notaOutros.respostasTextos track by $index" class="respostaTexto" 
                                  popover-trigger="mouseenter" popover="{{respostaTexto}}" >
                                    <span class="icon glyphicon glyphicon-ok"></span>
                                    {{respostaTexto}}
                                  </span>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>

        </div><!-- container-->


      </div>

    </form>

  </fieldset>
</div>