<!-- 
form[fieldName]: <span style="border: 1px solid red">{{form[fieldName] | json}}</span><br>
form[fieldName].$error: <span style="border: 1px solid red">{{form[fieldName].$error | json}}</span><br>
form[fieldName].$error[validateType]: <span style="border: 1px solid red">{{form[fieldName].$error[validateType] | json}}</span><br>
form[fieldName].$invalid: <span style="border: 1px solid red">{{form[fieldName].$invalid | json}}</span><br>
form[fieldName].$dirty: <span style="border: 1px solid red">{{form[fieldName].$dirty | json}}</span><br>
show: <span style="border: 1px solid red">{{show | json}}</span><br>
showMsgResult: <span style="border: 1px solid red">{{showMsgResult | json}}</span><br>
 -->
<div class="error-msg " ng-show="showMsg()">
	<span  ng-show="form && form[fieldName] && form[fieldName].$error[validateType]">*{{msg}}</span>
</div>