<div class="section">
	<div class="form-title formTitleCollapse" >
	  <div class="btn-collapse" ng-click="isCollapsed=!isCollapsed">
	  	<i class="glyphicon glyphicon-chevron-{{isCollapsed ? 'down' : 'up'}}" ></i>
	  </div>
	  <span class="btn-collapse" ng-click="isCollapsed=!isCollapsed"> 
	  	<span>{{sectionName}}</span>
	  </span>
	</div>
	<hr class="separatorStyle2" >
	<div class="body" ng-show="!isCollapsed">
		<div ng-transclude></div>
	</div>
</div>