<div class="modal-header">
    <h3 class="modal-title">Classificar Questões</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col-xs-12 formAvaliacao">
            <div class="avaliacoes classificarQuestoes">
                <div class="avaliacao">
                    <ng-form name="innerFormAvaliacoes">
                        <span class="titleQuestionario" >
                            {{questionario.nome}}
                        </span>
                        <div class="clear"></div>
                        <!--QUESTOES -->
                        <div class="questoes">
                            <div ng-repeat="grupoQuestao in questionario.gruposQuestoes" class="questao" >
                                <div class="nomeGrupoQuestao">
                                    <span class="nome">{{grupoQuestao.nome}}</span>
                                    <br/>
                                    <span class="descricao">{{grupoQuestao.descricao ? ('(' + grupoQuestao.descricao + ')') : ''}}</span>
                                </div>
                                <div class="clear"></div>
                                <ng-form ng-repeat="questaoOrdem in grupoQuestao.questoesOrdem | orderBy: '+ordem' " name="innerFormQuestoes" ng-init="indexQuestao">
                                    <div>
                                        <label class="control-label perguntaQuestao">{{questaoOrdem.questao.perguntaQuestao}}</label>
                                        <!--PERGUNTA NUMERICO -->
                                        <div class="perguntaTexto">
                                            <div class="form-group">
                                                <div class="perguntaListaValores">
                                                    <div class="listaValores">
                                                        <div class="form-group valorLista floatLeft">
                                                            <div class="radio">
                                                                <input type="radio" 
                                                                ng-attr-name="classificacao-{{grupoQuestao.id}}-{{questaoOrdem.questao.id}}" 
                                                                ng-model="questaoOrdem.questao.classificacao" 
                                                                value="1" >
                                                                <span>Muito Forte</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group valorLista floatLeft">
                                                            <div class="radio">
                                                                <input type="radio" 
                                                                ng-attr-name="classificacao-{{grupoQuestao.id}}-{{questaoOrdem.questao.id}}" 
                                                                ng-model="questaoOrdem.questao.classificacao" 
                                                                value="2">
                                                                <span>Forte</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group valorLista floatLeft">
                                                            <div class="radio">
                                                                <input type="radio" 
                                                                ng-attr-name="classificacao-{{grupoQuestao.id}}-{{questaoOrdem.questao.id}}" 
                                                                ng-model="questaoOrdem.questao.classificacao" 
                                                                value="3">
                                                                <span>Pouco necessário</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group valorLista floatLeft">
                                                            <div class="radio">
                                                                <input type="radio" 
                                                                ng-attr-name="classificacao-{{grupoQuestao.id}}-{{questaoOrdem.questao.id}}" 
                                                                ng-model="questaoOrdem.questao.classificacao" 
                                                                value="4">
                                                                <span>Não se aplica</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="linhaQuestao" ng-show="!$last">
                                        <div class="clear"></div>
                                    </div>
                                </ng-form>
                            </div>
                            <!-- repeat questoes -->
                        </div>
                    </ng-form>
                </div>
                <!-- repeat avaliacoes -->
            </div>
            <!-- avaliacoes container-->
        </div>
    </div>
</div>
<!-- modal body -->
<div class="modal-footer">
    <button class="btn btn-primary btnOkModal" ng-click="ok()">Salvar</button>
    <button class="btn btn-primary btnCancelModal" ng-click="cancel()">Cancelar</button>
</div>