<div class="container containerFormAssociacoes">
  <fieldset>
    <legend class="tituloPesquisa">Lista de Avaliações</legend>
    

      <div>

        <div class="formNovaAssociacao" ng-show="inserindo">
          <form novalidate role="form" name="formPrincipal" class="formAssociacoes" >
            <div class="row" ng-if="hasRoleAdmin" >
              <div class="col-xs-4" >
                <div select-directive model="avaliacao.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'"
                form="formPrincipal" req="true"  ></div>
                <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12 " >
                <div select-directive model="avaliacao.pesquisa" label="'Pesquisa'" options="pesquisasEmAberto" option-label="nome" field-name="pesquisa"  
                form="formPrincipal" req="true" ></div>
                <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'pesquisa'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-6 " >
                <div select-directive model="avaliacao.funcionarioAvaliador" label="'Avaliador'" options="funcionarios" option-label="pessoa.nome" field-name="avaliador"  
                form="formPrincipal" req="true" ></div>
                <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'avaliador'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
              </div>
              <div class="form-group col-xs-6 " >
                <div select-directive model="avaliacao.funcionarioAvaliado" label="'Avaliado'" options="funcionarios" option-label="pessoa.nome" field-name="avaliado"  
                form="formPrincipal" req="true" ></div>
                <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'avaliado'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
              </div>
            </div>

            <div class="btsFormPrincipal" >

              <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button" >
                Salvar
              </button>

              <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button" >
                Voltar
              </button>

            </div>

            <div class="errosEndForm" ng-show="showMsgsError" >
              <p class="bg-danger" ng-show="formPrincipal.$invalid">
                O formulário possui erros de validação
              </p>
              <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
                <span >*Campos Obrigatórios</span>
              </div>
            </div>

          </form>
        </div>
          

        <button ng-click="inserirAssociacao()" class="btn btn-primary" type="button" 
          popover-trigger="mouseenter" popover="Inserir Nova Associação" ng-show="!inserindo" >
          Associar Manualmente
        </button>

        <!-- FILTRO-->
        <div ng-include=" 'views/associacao-manual/pesquisa-filtro.html' " class="innerSection" ng-show="!inserindo" ></div>
        <!-- FIM FILTRO-->

        <div class="associacoes" ng-show="!inserindo">

          <!-- <div section-directive="Associações Cadastradas" class="associacoesSection"  > -->
  
            <!-- GRID -->
            <div class="datagrid" >

              <div class="gridContainer" >
                <table ng-table="dataGridAssociacoes" class="table" show-filter="false">
                  <tbody>
                    <tr ng-repeat="avaliacao in $data" >

                      <td data-title="'ID'" >
                        {{avaliacao.id}}
                      </td>
                      <td data-title="'Empresa'" >
                        {{avaliacao.empresa | empresa}}
                      </td>
                      <td data-title="'Pesquisa'" sortable="'[pesquisa].nome'" >
                        <span popover-trigger="mouseenter" popover="Data Inicio: {{avaliacao.pesquisa.dtaInicio | viewdata}} - Data Fim: {{avaliacao.pesquisa.dtaFim | viewdata}} - Data Entrega: {{avaliacao.pesquisa.dtaEntrega | viewdata}}">
                          {{avaliacao.pesquisa.nome}}
                        </span>
                      </td>
                      <td data-title="'Avaliador'" sortable="'[pessoaAvaliador].nome'" >
                        {{avaliacao.funcionarioAvaliador.pessoa.nome}}
                      </td>
                      <td data-title="'Avaliado'" sortable="'[pessoaAvaliado].nome'" >
                        {{avaliacao.funcionarioAvaliado.pessoa.nome}}
                      </td>
                      <td data-title="'Respondido'"  >
                        {{avaliacao.respostas.length > 0 ? 'Sim' : 'Não'}}
                      </td>

                      <td data-title="'Ações'" style="width: {{44 * 3}}px" >
                        <div class="actionsRow" style="width: {{44 * 3}}px">
                          <!-- <a role="button" href="#/cargo/{{entity.id}}" class="btn btn-primary"  
                            popover-trigger="mouseenter" popover-append-to-body="false" popover="Editar" >
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                          </a> -->
                          <a role="button" ng-click="deletarRespostas(avaliacao)" ng-show="avaliacao.respostas.length > 0" type="button" class="btn btn-primary"  
                            popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir Respostas" >
                            <span class="glyphicon icon-broom"></span>
                          </a>
                          <a role="button" ng-click="excluirAssociacao(avaliacao)" type="button" class="btn btn-primary"  
                            popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir Avaliação" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                          </a>
                          <a role="button" ng-click="verRespostas(avaliacao)" ng-show="avaliacao.respostas.length > 0" type="button" class="btn btn-primary"  
                            popover-trigger="mouseenter" popover-append-to-body="false" popover="Visualizar Respostas" >
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                          </a>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>

            </div> <!-- .datagrid -->

          <!-- </div> -->
          <!-- section avaliacaosEmAberto -->

        </div><!-- associacoes container-->
          


      </div>

    

  </fieldset>
</div>