<div section-directive="Filtro" class="filtroGrid " collapsed="true" >
	
	
<ng-form name="pesquisaForm">
  <div class="row" ng-if="hasRoleAdmin" >
    <div class="col-xs-4" >
      <div select-directive model="avaliacaoPesquisa.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'"
      form="formPrincipal" req="false"  ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div>
	<div class="row">
    <div class="form-group col-xs-12 " >
      <div select-directive model="avaliacaoPesquisa.pesquisa" label="'Pesquisa'" options="todasPesquisas" option-label="nome" field-name="pesquisa"  
      form="pesquisaForm" req="false" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="pesquisaForm" field-name="'pesquisa'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-6 " >
      <div select-directive model="avaliacaoPesquisa.funcionarioAvaliador" label="'Avaliador'" options="funcionarios" option-label="pessoa.nome" field-name="avaliador"  
      form="pesquisaForm" req="false" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="pesquisaForm" field-name="'avaliador'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
    </div>
    <div class="form-group col-xs-6 " >
      <div select-directive model="avaliacaoPesquisa.funcionarioAvaliado" label="'Avaliado'" options="funcionarios" option-label="pessoa.nome" field-name="avaliado"  
      form="pesquisaForm" req="false" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="pesquisaForm" field-name="'avaliado'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-6 " >
      <div select-directive model="avaliacaoPesquisa.respondido" label="'Respondido'" options="simNao" option-label="label" option-value="value" field-name="respondido"  
      form="pesquisaForm" req="false" ></div>
    </div>
  </div>
</ng-form>
	

	
	
	<div class="row btnsFiltro">
		<div class="form-group col-xs-6 col-xs-12" >
			<button ng-click="pesquisar()" type="button" class="btn btn-primary" type="button" >
				Pesquisar
			</button>
			<button ng-click="limparFiltro()" type="button" class="btn btn-primary" type="button" >
				Limpar Filtro
			</button>
		</div>
	</div>

</div>