<div section-directive="Questionários" class="pesquisas" >

	<!-- QUESTIONÁRIOS SELECIONADOS -->
  <button class="btn btn-primary" type="button" ng-click="selecionarQuestionarios()" ng-show="!pesquisa.questionarios || pesquisa.questionarios.length === 0"
    style="font-size: 12px; padding-top: 2px; padding-bottom: 1px; font-weight: bold;">
    Selecionar Questionários
  </button>
  <div class="form-group" ng-show="pesquisa.questionarios && pesquisa.questionarios.length > 0">
    <label class="control-label">
        Questionários Selecionados - 
      <a role="button" ng-click="selecionarQuestionarios()" type="button" class="btn btn-primary btnPequeno"  
        popover-trigger="mouseenter" popover="Selecionar Questionários" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </label>
    <!-- GRID -->
    <div class="datagrid" >

      <div class="gridContainer" >
        <table ng-table="paramsDataGridQuestionariosSelecionados" class="table" show-filter="false">
          <tbody>
            <tr ng-repeat="questionario in $data" >

              <td data-title="'Nome'" sortable="'nome'" >
                {{questionario.nome}}
              </td>
							<td data-title="''"  >

                 <span ng-repeat="grupoOcupacional in questionario.gruposOcupacionais">
                  {{!$first ? ', ' : ''}}{{grupoOcupacional.nome}}
                </span><br>
                <span ng-repeat="setor in questionario.setores">
                  {{!$first ? ', ' : ''}}{{setor.nome}}
                </span><br>
                <span ng-repeat="cargo in questionario.cargos">
                  {{!$first ? ', ' : ''}}{{cargo.nome}}
                </span>


							</td>
							<td data-title="'Observação'"  class="columnObs">
								{{questionario.obs}}
							</td>
              <td data-title="'Ações'" style="width: {{44 * 1}}px" >
                <div class="actionsRow" style="width: {{44 * 1}}px">
                  <a role="button" ng-click="removerQuestionarioSelecionado(questionario);" class="btn btn-primary"  
                    popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover" >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div> <!-- .datagrid -->

  </div>

</div>