<div class="container">
    <fieldset>
        <legend>Cadastro de Pesquisa</legend>
        <form novalidate role="form" name="formPrincipal" ng-submit="salvarAtualizar()">
            <div>
                <div class="row" ng-if="hasRoleAdmin">
                    <div class="col-xs-4">
                        <div select-directive model="pesquisa.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'" form="formPrincipal" req="true"></div>
                        <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'" validate-type="'required'"></div>
                    </div>
                </div>
                <div ng-show="pesquisa.idEmpresa">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <div input-text-form-directive model="pesquisa.nome" label="'Nome'" field-name="nome" placeholder="'digite o nome'" form="formPrincipal" min-length="3" max-length="100" req="true" autofocus="autofocus"></div>
                            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Campo obrigatório'" validate-type="'required'"></div>
                            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'" validate-type="'minlength'"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <div input-text-form-directive date="'date'" max="pesquisa.dtaFim" model="pesquisa.dtaInicio" label="'Data Início'" field-name="'dtaInicio'" placeholder="'99/99/9999'" form="formPrincipal" req="true"></div>
                            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'dtaInicio'" msg="'Campo obrigatório'" validate-type="'required'"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <div input-text-form-directive date="'date'" min="pesquisa.dtaInicio" max="pesquisa.dtaEntrega" model="pesquisa.dtaFim" label="'Data Fim'" field-name="'dtaFim'" placeholder="'99/99/9999'" form="formPrincipal" req="true"></div>
                            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'dtaFim'" msg="'Campo obrigatório'" validate-type="'required'"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <div input-text-form-directive date="'date'" min="pesquisa.dtaFim" model="pesquisa.dtaEntrega" label="'Data Entrega'" field-name="'dtaEntrega'" placeholder="'99/99/9999'" form="formPrincipal" req="true"></div>
                            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'dtaEntrega'" msg="'Campo obrigatório'" validate-type="'required'"></div>
                        </div>
                    </div>
                    <!-- QUESTIONARIOS -->
                    <div ng-include=" 'views/pesquisa/cadastro-questionario.html' "></div>
                    <div class="clear"></div>
                    <hr style="margin-top: 52px">
                    <div class="form-group">
                        <div textarea-form-directive field-name="obs" form="formPrincipal" label="'Observações'" model="pesquisa.obs" rows="3" max-length="4000"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="pesquisa.autoAvaliacao" ng-init="pesquisa.autoAvaliacao = true"> Criar Auto-Avaliação
                                </label>
                            </div>
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" ng-model="pesquisa.avaliacaoSubordinados" ng-init="pesquisa.avaliacaoSubordinados = true"> Criar Avaliação Subordinados
                                </label>
                            </div>
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" ng-model="pesquisa.avaliacaoSuperiores" ng-init="pesquisa.avaliacaoSuperiores = true"> Criar Avaliação Superiores
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Tipo de Cálculo</label>
                            <div class="listaValores">
                                <div class="tipoCalculo">
                                    <div class="radio">
                                        <input type="radio" 
                                        name="tipoCalculo" 
                                        ng-model="pesquisa.calculoPorMeta" 
                                        ng-value="true" >
                                        <span>Cálculo até a meta (até 100%)</span>
                                    </div>
                                </div>
                                <div class="tipoCalculo">
                                    <div class="radio">
                                        <input type="radio" 
                                        name="tipoCalculo"
                                        ng-model="pesquisa.calculoPorMeta" 
                                        ng-value="false">
                                        <span>Cálculo normal</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Composição do valor obtido no resultado da pesquisa</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="pesquisa.calculoValorObtidoPropria" ng-init="pesquisa.calculoValorObtidoPropria = true" > Auto-Avaliação
                                </label>
                            </div>
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" ng-model="pesquisa.calculoValorObtidoSuperior" ng-init="pesquisa.calculoValorObtidoSuperior = true" > Avaliação Superiores
                                </label>
                            </div>
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" ng-model="pesquisa.calculoValorObtidoSubordinados" ng-init="pesquisa.calculoValorObtidoSubordinados = true" > Avaliação Subordinados
                                </label>
                            </div>
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" ng-model="pesquisa.calculoValorObtidoOutros" ng-init="pesquisa.calculoValorObtidoOutros = true" > Avaliação Outros
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btsFormPrincipal">
                    <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button" ng-disabled="!pesquisa.idEmpresa">
                        Salvar
                    </button>
                    <button ng-click="informarMetas()" class="btn btn-primary" type="button" ng-disabled="!pesquisa.idEmpresa || pesquisa.questionarios.length === 0">
                        Informar Metas
                    </button>
                    <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button">
                        Cancelar
                    </button>
                </div>
                <div class="errosEndForm" ng-show="showMsgsError || questionariosInvalid">
                    <p class="bg-danger" ng-show="formPrincipal.$invalid || questionariosInvalid">
                        O formulário possui erros de validação
                    </p>
                    <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
                        <span>*Campos Obrigatórios</span>
                    </div>
                    <div class="error-msg " ng-show="questionariosInvalid">
                        <span>*Selecionar, pelo menos, um questionário</span>
                    </div>
                </div>
                <div class="btsFormPrincipal msgs">
                    <div class="msg" ng-repeat="msg in msgsSuccess">
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" ng-click="removeMsgSuccess($index)"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                            <span ng-bind-html="msg.msg"></span>
                        </div>
                    </div>
                    <div class="msg" ng-repeat="msg in msgsFailed">
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" ng-click="removeMsgFailed($index)"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                            <span ng-bind-html="msg.msg"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>