<div class="screenHome screenHomeQuestao">
	
	<div class="grupos">
		<div class="grupo " ng-if="hasRoleAdmin">
			<span class="title">Pesquisa</span>
			<ul>
				<li><a href="#/pesquisa/cadastro" class="">Cadastrar Pesquisa</a></li>
				<li><a href="#/pesquisa/pesquisa" class="">Listar Pesquisas</a></li>
			</ul>
		</div>
		<div class="grupo " >
			<span class="title">Questionário</span>
			<ul>
				<li ng-if="hasRoleAdmin" ><a href="#/questionario/cadastro" class="">Cadastrar Questionário</a></li>
				<li><a href="#/questionario/pesquisa" class="">Listar Questionários</a></li>
			</ul>
		</div>
		<div class="grupo " ng-if="hasRoleAdmin">
			<span class="title">Grupo Questão</span>
			<ul>
				<li><a href="#/grupo-questao/cadastro" class="">Cadastrar Grupo Questão</a></li>
				<li><a href="#/grupo-questao/pesquisa" class="">Listar Grupos Questões</a></li>
			</ul>
		</div>
		<div class="grupo " ng-if="hasRoleAdmin">
			<span class="title">Questão</span>
			<ul>
				<li><a href="#/questao/cadastro" class="">Cadastrar Questão</a></li>
				<li><a href="#/questao/pesquisa" class="">Listar Questões</a></li>
			</ul>
		</div>
		<div class="grupo " ng-if="hasRoleAdmin">
			<span class="title">Escala de Valores</span>
			<ul>
				<li><a href="#/listavalores/cadastro" class="">Cadastrar Escala de Valores</a></li>
				<li><a href="#/listavalores/pesquisa" class="">Listar Escala de Valores</a></li>
			</ul>
		</div>
		<div class="grupo " ng-if="hasRoleAdmin">
			<span class="title">Lista de Avaliações</span>
			<ul>
				<li><a href="#/associacao-manual/associar" class="">Lista de Avaliações</a></li>
			</ul>
		</div>
	</div>

</div>