<div class="container">
	<fieldset>
		<legend>{{!avaliadoResultado ? 'Listagem de ' : ''}}Pesquisas</legend>
		<form novalidate role="form" name="formPrincipal" ng-submit="pesquisar()" >
			
			<div class="form-group" >
				
			<!-- FILTRO-->
      <div ng-include=" 'views/pesquisa/pesquisa-filtro.html' " class="innerSection"></div>
      <!-- FIM FILTRO-->

      			<div ng-if="verResultado" class="row">
      				<div class="form-group col-xs-12" ng-show="pesquisasSelected.length > 0" >
      					<button ng-click="selecionarPesquisaResultado()" type="button" class="btn btn-primary" type="button" >
							Ver Resultados Selecionados
						</button>
      				</div>
      			</div>

				<!-- GRID -->
				<div class="datagrid" >

					<div class="gridContainer" >
						<!-- <table ng-table="paramsDataGrid" class="table" template-pagination="views/templates/pagination.html" show-filter="false"> -->
						<table ng-table="paramsDataGrid" class="table" show-filter="false">
							<tbody>
								<tr ng-repeat="entity in $data">
									
									<td data-title="''" >
										<input ng-if="verResultado" type="checkbox" ng-model="entity.checked" ng-change="pesquisaCheck(entity)" name="inputSelecionarPesquisa"  >
									</td>

									<td data-title="'Empresa'" >
										{{entity.empresa | empresa}}
									</td>
									<td data-title="'Nome'" sortable="'nome'" filter="{ 'nome': 'text' }">
										<a href="#/pesquisa/{{entity.id}}" >{{entity.nome}}</a>
									</td>
									<td data-title="'Data Início'" sortable="'dtaInicio'" class="data">
										<span popover-trigger="mouseenter" popover="{{entity.dtaInicio | age : true}}">
											{{entity.dtaInicio | viewdata}}
										</span>
									</td>
									<td data-title="'Data Fim'" sortable="'dtaFim'" class="data">
										<span popover-trigger="mouseenter" popover="{{entity.dtaFim | age : true}}">
											{{entity.dtaFim | viewdata}}
										</span>
									</td>
									<td data-title="'Data Entrega'" sortable="'dtaEntrega'" class="data">
										<span popover-trigger="mouseenter" popover="{{entity.dtaEntrega | age : true}}">
											{{entity.dtaEntrega | viewdata}}
										</span>
									</td>
									<td data-title="'Ações'" style="width: {{44 * (!!avaliadoResultado ? 1 : 5)}}px" >
										<div class="actionsRow" style="width: {{44 * (!!avaliadoResultado ? 1 : 5)}}px">
											<a ng-show="verResultado" role="button" ng-click="selecionarPesquisaResultado(entity)" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Ver Resultado" >
												<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											</a>
											<a ng-show="!verResultado" role="button" ng-click="removerAvaliacoes(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover Avaliações" >
												<span class="glyphicon icon-selectionremove" aria-hidden="true"></span>
											</a>
											<a ng-show="!verResultado" role="button" ng-click="removerRespostas(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover Respostas" >
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</a>
											<a ng-show="!verResultado" role="button" href="#/pesquisa/{{entity.id}}" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Editar" >
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
											<a ng-show="!verResultado" role="button" ng-click="clonar(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Clonar" >
												<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
											</a>
											<a ng-show="!verResultado" role="button" ng-click="excluir(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir" >
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</a>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>

				</div> <!-- .datagrid -->


			</div> <!--container -->


		</form>

	</fieldset>

</div>