<div section-directive="Filtro" class="filtroGrid filtroPesquisa" collapsed="true" >
	
	
   <div class="row" ng-if="hasRoleAdmin" >
    <div class="col-xs-4" >
      <div select-directive model="pesquisa.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'"
      form="formPrincipal" req="false"  ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div>
	 <div class="row">
      <div class="form-group col-xs-12" >
        <div input-text-form-directive model="pesquisa.nome" label="'Nome'" field-name="nome" 
        placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="false" autofocus="autofocus" ></div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6" >
        <div input-text-form-directive date="'date'" model="pesquisa.dtaInicioMaiorQue" label="'Data início maior que'" field-name="'dtaInicioMaior'" 
          placeholder="'99/99/9999'" form="formPrincipal" req="false"></div>
      </div>
      <div class="form-group col-xs-6" >
        <div input-text-form-directive date="'date'" model="pesquisa.dtaInicioMenorQue" label="'Data início menor que'" field-name="'dtaInicioMenor'" 
          placeholder="'99/99/9999'" form="formPrincipal" req="false"></div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6" >
        <div input-text-form-directive date="'date'" model="pesquisa.dtaFimMaiorQue" label="'Data fim maior que'" field-name="'dtaFimMaior'" 
          placeholder="'99/99/9999'" form="formPrincipal" req="false"></div>
      </div>
      <div class="form-group col-xs-6" >
        <div input-text-form-directive date="'date'" model="pesquisa.dtaFimMenorQue" label="'Data fim menor que'" field-name="'dtaFimMenor'" 
          placeholder="'99/99/9999'" form="formPrincipal" req="false"></div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6" >
        <div input-text-form-directive date="'date'" model="pesquisa.dtaEntregaMaiorQue" label="'Data entrega maior que'" field-name="'dtaEntregaMaior'" 
          placeholder="'99/99/9999'" form="formPrincipal" req="false"></div>
      </div>
      <div class="form-group col-xs-6" >
        <div input-text-form-directive date="'date'" model="pesquisa.dtaEntregaMenorQue" label="'Data entrega menor que'" field-name="'dtaEntregaMenor'" 
          placeholder="'99/99/9999'" form="formPrincipal" req="false"></div>
      </div>
    </div>
    
   

	
	
	<div class="row btnsFiltro">
		<div class="form-group col-xs-6 col-xs-12" >
			<button ng-click="pesquisar()" type="button" class="btn btn-primary" type="button" ng-disabled="formPrincipal.$invalid" >
				Pesquisar
			</button>
			<button ng-click="limparFiltro()" type="button" class="btn btn-primary" type="button" >
				Limpar Filtro
			</button>
		</div>
	</div>

</div>