<a>
  <div class="typeAheadMembros" >
      <table>
        <tr>
          <td class="foto">
            <div img-directive id-image="match.model.foto.idImage" class="'thumbnail inline'" 
              width="400" croped="true" crop-width="match.model.foto.cropWidth" crop-height="match.model.foto.cropHeight" 
                crop-x="match.model.foto.cropX" crop-y="match.model.foto.cropY" final-height="70" final-width="70" > 
            </div>
          </td>
          <td class="nome">
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
          </td>
        </tr>
      </table>
  </div>
</a>