<div class="page-header">
	<h2>Login</h2>
</div>

<div class="row boxLogin" ng-show="!inserindoNovaSenha">
	<div class="col-md-6" ng-show="!showRecuperarSenha && !showSolicitarUsuario">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">Usuario:</label>
				<div class="col-sm-9" style="max-width: 384px;" >
					<input id="username" ng-model="username" type="text" class="form-control"  autofocus="autofocus" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Senha:</label>
				<div class="col-sm-9" style="max-width: 384px;">
					<input id="password" ng-model="password" type="password" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<input type="submit" value="Entrar" class="btn btn-primary" ng-click="login()"/>
				</div>
			</div>
		</form>
	</div>

</div> <!-- BOX LOGIN-->

<div class="row loginHelpButtons" ng-hide="showSolicitarUsuario || showRecuperarSenha || inserindoNovaSenha">
	
	<div class="form-group"  >
		<a ng-click="showRecuperarSenha=true" >Recuperar Senha</a>
		<!-- <a ng-click="showSolicitarUsuario=true" >Solicitar usuário</a> -->
	</div>

</div>

<!--RECUPERAR SENHA -->
<div ng-show="showRecuperarSenha" class="formRecuperarSenha">
	<form novalidate name="formRecuperarSenha" role="form">
		<div class="row" >
			<div class="form-group">
				<p >Para recuperar sua senha, informe o e-mail ou usuário cadastrado</p>
			</div>
		</div>
		<div class="row" >
			<div class="form-group col-xs-6" >
				<div input-text-form-directive type="email" model="userRecuperarSenha.email" label="'E-mail'" field-name="userEmail" placeholder="''"  form="formRecuperarSenha" ></div>
				<div msg-field-validations-directive show="showMsgsError" form="formRecuperarSenha" field-name="'userEmail'" msg="'E-mail inválido'" validate-type="'email'" ></div>
			</div>
		</div>

		<div class="row" >
			<div class="form-group col-xs-6" >
				<div input-text-form-directive model="userRecuperarSenha.name" label="'Usuário'" field-name="userUsuario" placeholder="''"  form="formRecuperarSenha" ></div>
			</div>
		</div>

		<div class="row" >
			<div class="form-group">
				<input type="submit" value="Recuperar Senha" class="btn btn-primary" ng-click="enviarEmailRecuperacao()"/>
				<br /><br /><br />
				<a ng-click="showSolicitarUsuario=undefined; showRecuperarSenha=undefined;" style="margin-left: 16px;">Voltar</a>
			</div>
		</div>
	</form>
</div>

<!-- FORMULARIO -->
<form novalidate role="form" name="formMudarSenha"  ng-show="inserindoNovaSenha" >

	<label style="margin-bottom: 30px;">Por favor digite uma nova senha de sua preferência.</label>

	<div class="form-group" >
		<div input-text-form-directive type="password" model="userAtualizacao.password" label="'Nova Senha'" field-name="novaSenha"
		placeholder="'digite a nova senha'" form="formMudarSenha" min-length="4" max-length="100" req="required" ></div>
		<div msg-field-validations-directive show="showMsgsError" form="formMudarSenha" field-name="'novaSenha'" msg="'Nova Senha é obrigatório'"  validate-type="'required'" ></div>
		<div msg-field-validations-directive show="showMsgsError" form="formMudarSenha" field-name="'novaSenha'" msg="'Digite no mínimo 4 caracteres'"  validate-type="'minlength'" ></div>
	</div>

	<div class="form-group" >
		<div input-text-form-directive type="email" model="userAtualizacao.email" label="'E-mail'" field-name="emailUsuario"
		placeholder="'digite seu email'" form="formMudarSenha" min-length="4" max-length="100" req="required" ></div>
		<div msg-field-validations-directive show="showMsgsError" form="formMudarSenha" field-name="'emailUsuario'" msg="'E-mail é obrigatório'"  validate-type="'required'" ></div>
		<div msg-field-validations-directive show="showMsgsError" form="formMudarSenha" field-name="'emailUsuario'" msg="'E-mail inválido'" validate-type="'email'" ></div>
	</div>

	<div class="btsFormInterno" >
		<button type="button" ng-click="salvarUsuario()"  class="btn btn-primary" 
		ng-disabled="!formularioNovaSenhaIsValid()">Salvar</button>
	</div>

</form>

