<div class="jumbotron homeIlluminare" style="background-color: white;" ng-hide="(isFuncionario || isGestor) && pesquisasEmAberto.length > 0">

  <h2>Seja bem vindo {{user.nomeExibir}}</h2>

  <p class="lead" ng-show="!isFuncionario && !isGestor" style="margin-bottom: -120px;">
    <img src="images/logo2.jpg" alt="Illuminare - Desenvolvimento Organizacional e Humano" ><br>
    <br>
  </p>

</div>

<div ng-show="pesquisasEmAberto.length > 0" class="nomeUsuarioLocal2">
  <span>{{user.nomeExibir}}</span>
  <span ng-show="isFuncionario || isGestor">
    <!-- <span> - CPF: {{user.funcionario.pessoa.documento}}</span> -->
    <span> - Grupo Ocupacional: {{user.funcionario.cargo.grupoOcupacional.nome}}</span>
  </span>
</div>

<div class="msgsSemPesquisa" ng-show="pesquisasEmAberto.length === 0 && (isFuncionario || isGestor)">
    <span>* Você não possuí nenhuma pesquisa em aberto</span>
</div>



<div section-directive="Pesquisas em Aberto" class="avaliacoesEmAberto" ng-show="pesquisasEmAberto.length > 0 && !pesquisaResponder" style="margin-bottom: 45px;" >
  
   <!-- GRID -->
  <div class="datagrid" >

    <div class="gridContainer" >
      <table ng-table="dataGridPesquisasEmAberto" class="table" show-filter="false">
        <tbody>
          <tr ng-repeat="pesquisa in $data" >

            <td data-title="'Nome'" sortable="'nome'" filter="{ 'nome': 'text' }">
              {{pesquisa.nome}}
            </td>
            <td data-title="'Data Início'" sortable="'dtaInicio'" class="data">
              <span popover-trigger="mouseenter" popover="{{pesquisa.dtaInicio | age : true}}">
                {{pesquisa.dtaInicio | viewdata}}
              </span>
            </td>
            <td data-title="'Data Fim'" sortable="'dtaFim'" class="data">
              <span popover-trigger="mouseenter" popover="{{pesquisa.dtaFim | age : true}}">
                {{pesquisa.dtaFim | viewdata}}
              </span>
            </td>
            <td data-title="'Data Entrega'" sortable="'dtaEntrega'" class="data">
              <span popover-trigger="mouseenter" popover="{{pesquisa.dtaEntrega | age : true}}">
                {{pesquisa.dtaEntrega | viewdata}}
              </span>
            </td>

            <td data-title="'Ações'" style="width: {{44 * 1}}px" >
              <div class="actionsRow" style="width: {{44 * 1}}px">
                <a role="button" ng-click="responderPesquisa(pesquisa);" class="btn btn-primary"  
                  popover-trigger="mouseenter" popover-append-to-body="false" popover="Responder Pesquisa" >
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </a>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div> <!-- .datagrid -->

</div>
<!-- section pesquisasEmAberto -->


<div section-directive="Avaliações" class="funcionariosParaAvaliar" style="margin-bottom: 45px;" ng-show="pesquisaResponder">
  
   <!-- GRID -->
  <div class="datagrid" >

    <div class="gridContainer" >
      <table ng-table="dataGridFuncionariosParaAvaliar" class="table" show-filter="false" >
        <tbody>
          <tr ng-repeat="avaliacao in $data" >

            <td data-title="'Nome'" >
              {{avaliacao.funcionarioAvaliado.pessoa.nome}}
            </td>

            <td data-title="'Grupo Ocupacional'" >
              {{avaliacao.funcionarioAvaliado.cargo.grupoOcupacional.nome}}
            </td>

            <td data-title="'Respondida'" >
              {{avaliacao.questionarioRespondido.descricao}}
            </td>

            <td data-title="'Ações'" style="width: {{44 * 1}}px" >
              <div class="actionsRow" style="width: {{44 * 1}}px">
                <a role="button" href="#/avaliacao/{{avaliacao.pesquisa.id}}/{{avaliacao.funcionarioAvaliador.id}}/{{avaliacao.funcionarioAvaliado.id}}" class="btn btn-primary"  
                  popover-trigger="mouseenter" popover-append-to-body="false" popover="Avaliar" >
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </a>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div> <!-- .datagrid -->

</div>
<!-- section pessoas para avaliar -->

<button ng-click="cancelarResponderPesquisa()" class="btn btn-primary" type="button" ng-show="pesquisaResponder">
  Voltar
</button>


<!-- RESULTADOS -->
<div section-directive="Resultados" class="resultados" ng-show="pesquisasFechadas && pesquisasFechadas.length > 0 && !pesquisaResponder" style="margin-bottom: 45px; margin-top: 38px;">

  <!-- GRID -->
  <div class="datagrid" >

    <div class="gridContainer" >
      <table ng-table="dataGridPesquisasFechadas" class="table" show-filter="false">
        <tbody>
          <tr ng-repeat="pesquisa in $data" >

            <td data-title="'Nome'" sortable="'nome'" filter="{ 'nome': 'text' }">
              {{pesquisa.nome}}
            </td>
            <td data-title="'Data Início'" sortable="'dtaInicio'" class="data">
              <span popover-trigger="mouseenter" popover="{{pesquisa.dtaInicio | age : true}}">
                {{pesquisa.dtaInicio | viewdata}}
              </span>
            </td>
            <td data-title="'Data Fim'" sortable="'dtaFim'" class="data">
              <span popover-trigger="mouseenter" popover="{{pesquisa.dtaFim | age : true}}">
                {{pesquisa.dtaFim | viewdata}}
              </span>
            </td>
            <td data-title="'Data Entrega'" sortable="'dtaEntrega'" class="data">
              <span popover-trigger="mouseenter" popover="{{pesquisa.dtaEntrega | age : true}}">
                {{pesquisa.dtaEntrega | viewdata}}
              </span>
            </td>

            <td data-title="'Ações'" style="width: {{44 * 1}}px" >
              <div class="actionsRow" style="width: {{44 * 1}}px">
                <a role="button" href="#/resultado/{{pesquisa.id}}/{{user.funcionario.id}}" class="btn btn-primary"  
                  popover-trigger="mouseenter" popover-append-to-body="false" popover="Ver Resultado Pesquisa" >
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </a>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div> <!-- .datagrid -->

</div><!--section resultados -->

