<div class="modal-header">
	<h3 class="modal-title">Nova Escala de Avaliação</h3>
</div>
<div class="modal-body">
	
	<div class="cadastroListaValores" >

		<div class="formCadastrarNovoListaValoresContainer" >
			
			<ng-form name="formCadastrarNovoListaValores" >
			<div class="row" >
				<div class="form-group col-xs-12" >
					<div input-text-form-directive model="listaValoresNova.nome" label="'Nome'" field-name="nomeListaValores" 
					placeholder="'digite o nome da escala de avaliação'" form="formCadastrarNovoListaValores" min-length="3" max-length="100"   req="true"></div>
					<div msg-field-validations-directive show="showMsgsError" form="formCadastrarNovoListaValores" field-name="'nomeListaValores'" msg="'nome é obrigatório'"  validate-type="'required'" ></div>
					<div msg-field-validations-directive show="showMsgsError" form="formCadastrarNovoListaValores" field-name="'nomeListaValores'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
				</div>
			</div>
			<!-- VALORES -->
			<div section-directive="Valores" class="innerSection valorListaValores"  >
				<div class="" ng-repeat="valorLista in listaValoresNova.valoresLista" >
					<ng-form name="innerForm" ng-init="valorLista.ordem = $index">
						<div class="campos" >

							<div class="row" >
								<div class="form-group col-xs-6" >
									<div input-text-form-directive model="valorLista.nome" label="'Nome de Exibição'" field-name="valorListaNome" 
									placeholder="'digite o nome'" form="innerForm"  max-length="100" req="true" class="'valorListaNome'+$index"></div>
									<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'valorListaNome'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
									<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'valorListaNome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
								</div>
								<div class="form-group col-xs-6" >
									<div input-text-form-directive numero="2" model="valorLista.valor"  label="'Valor'" field-name="valorListaValor" 
									placeholder="'digite o nome'" form="innerForm"  max-length="100" req="false" class="'valorListaValor'+$index" ></div>
									<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'valorListaValor'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
									<div msg-field-validations-directive show="showMsgsError" form="innerForm" field-name="'valorListaValor'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
								</div>
							</div>

						</div>
						<div class="btnAddRemoveRow" style="margin-top: -17px;" >
							<span class="inner">
								<a ng-click="listaValoresNova.valoresLista.push({}); focusField($index)" ><span  class="add btn btn-primary glyphicon glyphicon-plus" ng-show="$last" ></span></a>

								<a ng-click="listaValoresNova.valoresLista.splice($index, 1);"  ><span class="remove btn btn-primary glyphicon glyphicon-minus" ng-hide="$first" ></span></a>
								<a ng-click="listaValoresNova.valoresLista[$index] = {}"  ><span  class="remove btn btn-primary glyphicon glyphicon-minus" ng-show="$first" ></span></a>
							</span>
						</div>
					</ng-form>
					<hr ng-show="listaValoresNova.valoresLista.length > 1 && !$last" style="width: 97%;" class="separatorStyle2">
					</div><!-- ng-repeat -->
				</div>
				<!-- FIM VALORES -->
			</ng-form>
		</div>

</div>

</div>
<div class="modal-footer">
	<button class="btn btn-primary btnOkModal" ng-click="ok()" ng-disabled="formCadastrarNovoListaValores.$invalid" >Salvar</button>
	<button class="btn btn-primary btnCancelModal" ng-click="cancel()">Cancelar</button>
</div>