<div class="modal-header">
  <h3 class="modal-title">Selecionar Questões</h3>
</div>
<div class="modal-body">
  
  <div class="formCadastroQuestionario">
  <!-- QUESTÕES DISPONIVEIS -->
  <div class="form-group" >
    <label class="control-label">
      Questões Disponíveis - 
      <a role="button" href="#/questao/cadastro" ng-click="cancel()" class="btn btn-primary btnPequeno"  
        popover-trigger="mouseenter" popover-placement="right" popover="Cadastrar Questões" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </label>

    <!-- GRID -->
    <div class="datagrid" >

      <div class="gridContainer" >
        <table ng-table="paramsDataGridQuestoesDisponiveis" class="table" show-filter="true">
          <tbody>
            <tr ng-repeat="questao in $data"   >

              <td data-title="'Nome'" sortable="'nomeQuestao'" filter="{ 'nomeQuestao': 'text' }">
                  {{questao.nomeQuestao}}
              </td>
              <td data-title="'Tipo'" >
                <span ng-show="questao.isTexto">Texto</span>
                <span ng-show="questao.isLista">Escala</span>
                <span ng-show="questao.isNumerico">Numérico</span>
              </td>
              <td data-title="'Valores'" style="max-width: 906px;">
                <span ng-if="questao.isLista" class="valores" ng-repeat="valorLista in questao.listaValores.valoresLista | orderBy: '+ordem' ">
                  <span style="font-weight: bold; font-size: 12px;" ng-show="!$first">|</span>
                  {{valorLista.nome}}
                </span>
                <span ng-if="questao.isTexto" class="texto">
                  {{questao.texto}}
                </span>
              </td>

              <td data-title="'Ações'" style="width: {{44 * 1}}px" >
                <div class="actionsRow" style="width: {{44 * 1}}px">
                  <a role="button" ng-click="adicionarQuestao(questao);"  class="btn btn-primary"  
                    popover-trigger="mouseenter" popover-append-to-body="false" popover="Selecionar" >
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
        <!-- <script type="text/ng-template" id="ng-table/filters/grupoQuestaoDisponiveis.html">
          <ng-form name="innerForm">
            <div select-directive model="filtroQuestoesDisponiveis.grupoQuestao" options="gruposQuestoes" 
              field-name="filtroGrupoQuestao" option-label="nome" form="innerForm"  
              class="filterSelect" ></div>
          </ng-form>
        </script> -->

      </div>

    </div> <!-- .datagrid -->

  </div>

  <!-- QUESTÕES SELECIONADAS -->
  <div class="form-group" >
    <label class="control-label">
      Questões Selecionadas
    </label>
    <!-- GRID -->
    <div class="datagrid" >

      <div class="gridContainer" >
        <table ng-table="paramsDataGridQuestoesSelecionadas" class="table" show-filter="false">
          <tbody>
            <tr ng-repeat="questaoOrdem in $data" >

              <td data-title="'Nome'" filter="{ 'questao.nomeQuestao': 'text' }">
                {{questaoOrdem.questao.nomeQuestao}}
              </td>
              <td data-title="'Tipo'" >
                <span ng-show="questaoOrdem.questao.isTexto">Texto</span>
                <span ng-show="questaoOrdem.questao.isLista">Escala</span>
                <span ng-show="questaoOrdem.questao.isNumerico">Numérico</span>
              </td>
              <td data-title="'Valores'" style="max-width: 906px;">
                <span ng-if="questaoOrdem.questao.isLista" class="valores" ng-repeat="valorLista in questaoOrdem.questao.listaValores.valoresLista | orderBy: '+ordem' ">
                  <span style="font-weight: bold; font-size: 12px;" ng-show="!$first">|</span>
                  {{valorLista.nome}}
                </span>
                <span ng-if="questaoOrdem.questao.isTexto" class="texto">
                  {{questaoOrdem.questao.texto}}
                </span>
              </td>

              <td data-title="'Ações'" style="width: {{44 * 1}}px" >
                <div class="actionsRow" style="width: {{44 * 1}}px">
                  <a role="button" ng-click="removerQuestaoSelecionada(questaoOrdem.questao);" class="btn btn-primary"  
                    popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover" >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
        
      </div>

    </div> <!-- .datagrid -->

  </div>

  </div>

</div><!-- modal body -->
<div class="modal-footer">
  <button class="btn btn-primary btnOkModal" ng-click="ok()"  >Associar</button>
  <button class="btn btn-primary btnCancelModal" ng-click="cancel()">Cancelar</button>
</div>