@media all {
  .page-break { display: none; }
}

@media print {
  .page-break { 
    display: block; 
    page-break-before: always; 
  }

  .noPrint{
    display: none !important;
  }

  .print{
    display: block !important;
  }

  .header{
    display: none;
  }

  .cartaPreview{
    border: none;
  }
}


/* Space out content a bit */
body {
  /* padding-top: 20px; */
  padding-bottom: 20px;
}

.bold {
  font-weight: bold;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* padding-bottom: 19px; */
  padding-bottom: 8px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 248px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /* max-width: 1024px; */
    max-width: 1360px;
  }
}

.popover {
  max-width: 500px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.modal-backdrop.in {
  opacity: 0.03;
}

.container{
  min-width: 980px;
}

.viewMainWrap {
  min-height: 300px;
}

.form-control {
  border-radius: 0 !important;
}

ul.ui-select-choices {
  border-radius: 0;
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 600px; 
  height: 300px;
}

/* TESTE NG-TABLE */

.loading-container {
  position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 50px;
  min-width: 50px;
}
.loading-container .loading:before {
  background-color: white;
  opacity: 0.5;
}

.logo{
  /* height: 61px; */
  /* height: 36px; */
  height: 60px;
  margin-top: 7px;
}

.nav > li > a {
  /* padding: 21px 15px; */
  padding: 28px 15px;
}

.error-msg {
  color: #a94442;
  margin-left: 18px;
  margin-top: 4px;
}

.ui-select-bootstrap .ui-select-match span.ng-binding{
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.ui-select-match{
  background-color: white !important;
}

.datagrid {
  margin-bottom: -20px;
}

.datagrid table{
  border: 1px solid #ddd;
  font-size: 10px;
}

.datagrid .actionsHeader{
  margin-bottom: 5px;
}

.datagrid .actionsHeader .btn{
  line-height: 12px;
}

.datagrid table td{
  /* max-width: 50%; */
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block; */
  /* width: 144px; */
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  vertical-align: middle !important;
}

.datagrid .actionsRow {
  margin-bottom: -9px;
  text-align: left;
}

.datagrid .actionsRow .btn {
  margin-bottom: 6px;
  line-height: 0px;
  font-size: 12px;
}

.actionsRow.somenteTexto .btn {
  line-height: 9px;
}

.datagrid {
  /* overflow-x: auto; */
}

.datagrid,
.datagrid span{
  font-size: 10px;
}

.formActionGrid{
  border: 1px solid #ddd;
  padding: 10px;
}

.animate-if,
.animate-show
{
  -webkit-transition: 1s;
}
.animate-if.ng-enter ,
.animate-show.ng-enter 
{
  opacity: 0;
}
.animate-if.ng-leave,
.animate-show.ng-enter.ng-enter-active 
{
  opacity: 1;
}
.animate-if.ng-enter.ng-enter-active,
.animate-show.ng-enter.ng-enter-active 
{
  opacity: 1;
}
.animate-if.ng-leave.ng-leave-active,
.animate-show.ng-enter.ng-enter-active 
{
  opacity: 0;
}

.campoObrigatorio {
  color: red;
}

.has-success .campoObrigatorio {
  color: #3c763d;
}

.btsFormInterno{
  margin-top: 48px;
}

.col-xs-10 .form-control-feedback{
  right: 16px;
}

.errosEndForm {
  margin-top: 10px;
}

.errosEndForm p {
  padding: 5px;
}

.pagination{
  margin: 0px 0;
  /* margin-bottom: 37px; */
}

.pagination > li > a, .pagination > li > span {
  padding-top: 2px;
  padding-bottom: 1px;
}

.slidesHome img{
  /* -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75); */

  height: 135px;
}

.home{
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.homeIlluminare {
  color: rgb(107, 103, 103);
  padding-top: 10px;
}

.homeIlluminare h2 {
  font-size: 16px;
  color: #207ea5;
}

.homeIlluminare img {
    max-height: 404px;
    margin-top: 38px;
    width: auto;
}

.btsFormPrincipal{
  margin-top: 82px;
  border-top: 1px solid #e5e5e5;
  padding-top: 5px;
}

.btsFormPrincipal .btn {
  margin-right: 39px;
}

.ui-select-bootstrap.disabled .ui-select-match,
.btnClearSelect.disabled,
.btnClearSelect.disabled span
{
  background-color: #FDFDFD !important;
  cursor: not-allowed;
  color: black !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: #FDFDFD !important;
}

.help-block{
  font-size: 10px;
  margin-top: 6px;
  margin-left: 9px;
}

.listaTreinamentos{
  border: none;
}
.listaTreinamentos td{
  text-align: left;
  padding-right: 6px;
  border: none;
}


.auditoria {
  background: rgb(249, 249, 249);
  border: 1px solid rgb(203, 200, 200);
  padding: 18px;
  margin-bottom: 26px;
}

.auditoriaCadastro {
  margin-bottom: 10px;
}

.usuarioLogado {
  margin-left: 15px;
  color: rgb(107, 103, 103);
  font-style: italic;
}

.listaRelatorio .colParticipantes{
  text-align: left;
   min-width: 141px;
}

.listaRelatorio .colParticipantes .numero{
  font-weight: bold;
  font-size: 116%;
  margin-left: 8px;
}

.listaRelatorio .colParticipantes .visitantes{
  color: rgb(47, 47, 186);
}
.listaRelatorio .colParticipantes .membrosParticipantes{
  color: rgb(22, 132, 22);
}
.listaRelatorio .colParticipantes .membrosAusentes{
  color: rgb(190, 26, 26);
}

.listaRelatorio .colObs{
  max-width: 273px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-height: 56px;
  padding-bottom: 5px
}

.bemVindo{
  line-height: 45px;
  color: rgb(107, 103, 103);
}


a {
  color: inherit !important;
  cursor: pointer;
}


.verde{
  color: rgb(22, 132, 22) !important;
}

.laranja{
  color: rgb(234, 108, 17) !important;
}
.vermelho{
  color: rgb(190, 26, 26) !important;
}
.azul {
  color: #2e249e !important;
}
.corResultadoFinal {
  color: #21c104 !important;
}

.modal-body {
  display: block;
  width: 100%;
  /* height: 500px; */
  height: auto;
  overflow: auto;
}

.body-images {
  height: 500px;
  overflow: auto;
}

.body-image img {
  max-width: 870px;
  height: auto;
}

.imgLibrary img {
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.imgSelected img {
  border: 5px solid rgb(88, 71, 239) !important;
}

.progress-bar{
  /* width: 100px; */
  width: 100%;
  position: relative;
  height: 4px;
  margin-left: 2px;
  background-color: rgb(181, 181, 181);
}
.progress-bar .progress{
  height: 4px;
  background-color: #826EFF;
  width: 0%;
}

.modal-title .imagens{
  display: inline;
  float: left;
  margin-right: 21px;
}

.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

#preview-pane .preview-container,
#preview-pane .preview-container2 {
  /* width: 250px; */
  width: 200px;
  /* height: 170px; */
  height: 200px;
  overflow: hidden;
  
  border: solid 1px black;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.jcrop-keymgr{
  display: none !important;
}

.imgFull{
  float: left;
  margin-right: 13px;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.inline{
  display: inline;
}


.close,
.close span {
  font-size: 21px !important;
}

.btn-collapse {
  cursor: pointer;
}

.form-title {
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: chantilly-serialregular;
  font-weight: 700;
  font-size: 1em;
  color: #207ea5;
}

.form-title>div {
  float: left;
  color: #aeadb3;
  font-size: 15px;
  margin-top: 3px;
}

.form-title>span {
  margin-left: 7px;
}

.show-false{
  display: none;
}

.show-true{
  display: block;
}

.btn-primary{
  color: #fff !important;
}

.loadingApp {
  position: fixed;
  width: 100%;
  height: 100%;
  /* background: black; */
  z-index: 99999999999;
  /* opacity: 0.1; */
  /* background-image: url('../images/ajax-loader5.gif'); */
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  /*background-size: 128px;*/
  display: none;
}

.loadingAll {
  background: url('images/loading_word2.gif') no-repeat fixed center;
}


.form-title {
  font-size: 19px;
}


.innerTable {
  width: 100%;
}

.header .nav{
  color: #207ea5;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #207ea5 !important;
  background-color: #eee !important;
}

legend{
  color: #207ea5;
  font-family: chantilly-serialregular;
}

.clear {
  width: 100%;
  display: table;
}



.typeahead .dropdown-menu > li > a {
  padding-left: 1px;
}

.typeahead .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: white !important;
}


.paginator {
  margin-top: 95px;
}
.paginator .informacao {
  border-bottom: 1px solid rgb(213, 207, 207);
  font-style: italic;
}
.paginator .informacao .total {
  float: right;
}

.paginator .links {
  font-style: italic;
  margin-top: 10px;
}
.paginator .links a {
  color: #428bca !important;
}
.paginator .links .linkAnterior {
  float: left;
}
.paginator .links .linkProximo {
  float: right;
}


.btnAddRemoveRow {
  /* margin-left: 15px; */
}

.btnAddRemoveRow span {
  font-size: 7px;
  padding: 3px 12px;
  margin-right: 5px;
}

.thumbnail {
  /* margin-bottom: 0px */
}

.btnAddRemoveRow .add {
  margin-right: 5px;
}

.btnAddRemoveRow .add, 
.btnAddRemoveRow .remove {
  font-size: 7px;
  padding: 3px 12px;
}

.btnAddRemoveRow {

}

textarea.ng-dirty.ng-invalid {
  border: 1px solid #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #a94442;
}


.popover{
  font-size: 12px;
}


.innerSection .form-title {
  font-size: 17px;
}

.innerSection .btnAddRemoveRow {
  margin-top: 0px;
}

.innerSection .btnAddRemoveRow .inner {
  margin-left: -12px;
}

.btnAddRemoveRow .default {
 margin-top: 0px;
}

.btnAddRemoveRow .default .inner {
 margin-left: -12px;
}


.loginHelpButtons .form-group{
  padding-left: 137px;
  margin-top: 30px;
}

.loginHelpButtons a{
  margin-right: 25px;
}

.formRecuperarSenha p,
.formRecuperarSenha .btn {
  margin-left: 15px
}

.paginationTemplate .popover {
  min-width: 200px;
}
.paginationTemplate .previous .popover,
.paginationTemplate .next .popover {
  min-width: 115px;
}

.paginationTemplate button,  .paginationTemplate a,  .paginationTemplate span {
  font-size: 10px;
  padding-top: 2px !important;
  padding-bottom: 1px !important;
}

/* .has-success {
  color: #3c763d;
}

textarea.ng-valid:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

textarea.ng-valid {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
} */

.ui-select-container .btn-default:hover,
.ui-select-container .btn-default:focus {
  color: #333;
  background-color: #FCFCFC;
  border-color: #adadad;
}

.screenHome {
  margin-top: 0px;
}

.screenHome .btns {
  float: right;
  margin-top: 0px;
}

.screenHome .btns .btn {
  margin-right: 23px;
}

.screenHome .grupo .title {
  font-size: 16px;
  margin-left: -16px;
  font-weight: bold;
  display: table;
  margin-bottom: 0px;
  color: #207ea5;
  font-family: chantilly-serialregular;
}

.screenHome .grupos .grupo a {
  text-decoration: initial !important;
  display: inline-block;
  color: #207ea5 !important;
}

.screenHome .grupos .grupo a:hover {
  text-decoration: underline !important;
}

.screenHome .grupos {
  padding-left: 42px;
  padding-right: 13px;
}

.screenHome .grupo {
  float: left;
  margin-left: 68px;
  line-height: 32px;
  padding-right: 12px;
}

.screenHome .grupo{
  border-right: solid 1px #e5dede;
  line-height: 35px;
  margin-top: 18px;
}
.grupo:last-child {
  border: none;
}

.screenHome .grupos .grupo ul {
  color: #207ea5;
  padding: 0px;
}

.pager .next > button, 
.pager .next > span {
  float: right;
}

.pager .previous > button, 
.pager .previous > span {
  float: left;
}

.pager li > button, 
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.pager li > button, 
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}


.filtroGrid {
  margin-top: 3px;
  margin-bottom: -6px;
}

.filtroGrid hr {
  display: none;
}

.filtroGrid .form-title {
  margin-bottom: 14px;
}

.upper{
  text-transform: uppercase;
}


.datagrid tr td, .datagrid tr th {
  text-align: left !important;
  padding-left: 15px !important;
}

.ng-table-pager button {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ng-table-pager span{
  font-size: 10px
}

.datagrid .numero {
  text-align: right !important;
}

.datagrid .data {
  text-align: center !important;
}

/* .datagrid table tbody tr:hover {
  border-left: 1px solid rgb(51, 122, 183);
} */

.btnPequeno {
  font-size: 9px;
  height: 16px;
  padding: 7px;
  padding-top: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

.datagrid table tbody tr:hover {
  border-left: 1px solid rgb(51, 122, 183);
  background-color: #eee;
  border-color: #ddd;
}

div[textarea-form-directive] .form-control-feedback {
  right: 7px;
}

.filterSelect {
  max-width: 355px;
}

.filterSelect .selectDirectiveContainer {
  margin: 0px;
}

.ng-table,
.ng-table .filter,
.ng-table .filter div,
.ng-table .filter span,
.ng-table .filter a,
.ng-table .filter input,
.ng-table .input-filter {
  font-size: 10px !important;
  font-weight: normal;
}


.columnObs {
  max-width: 594px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 53px;
  display: block;
}

.separatorStyle2{
  border-top: 1px solid #ccc;
}

.floatLeft{
  float: left !important;
}


/****************************************************************************************************************
                                      CUSTOM
****************************************************************************************************************/


.enderecosEletronicos .btnAddRemoveRow {
  margin-left: 15px;
}

.enderecosEletronicos .campos .form-group {
  margin-bottom: 5px;
}

.enderecosEletronicos .enderecoEletronico {
  /* margin-bottom: 15px; */
}
.enderecos {
  margin-bottom: 30px;
}

.informacoesProfissionais {
  margin-top: 51px;
}

.escalaSelecionada .btn {
  font-size: 9px;
  height: 16px;
  padding: 7px;
  padding-top: 2px;
  padding-right: 8px;
}

.escalasCadastradas .btn {
  font-size: 9px;
  height: 16px;
  padding: 7px;
  padding-top: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

.escalaSelecionada {
  line-height: 30px;
}
.escalaSelecionada label {
  font-size: 15px;
}

.formCadastroQuestionario,
.formCadastroPesquisa {
  min-height: 599px;
}

.formCadastroQuestionario .datagrid,
.formCadastroPesquisa .datagrid {
  margin-bottom: 38px;
}

.formCadastroQuestionario .datagrid table tbody tr:hover,
.formCadastroPesquisa .datagrid table tbody tr:hover {
  border-left: 1px solid rgb(51, 122, 183);
  background-color: #eee;
  border-color: #ddd;
  /* cursor: pointer; */
}

.nomeUsuarioLocal2 {
  margin-left: 15px;
  color: rgb(107, 103, 103);
  font-style: italic;
  font-size: 11px;
}

.msgsSemPesquisa {
  font-size: 15px;
  margin-left: 91px;
  margin-top: -32px;
  /* color: #207ea5; */
  /* color: rgb(107, 103, 103) */
  color: #207ea5;
}


.containerFormAvaliacao .tituloPesquisa {
  font-size: 22px;
  /* color: rgb(80,80,80); */
  /* color: #8B4513; */
  /* color: #6C3711; */
  margin-bottom: 5px;
}

.containerFormAvaliacao .nomeAvaliado {
  color: rgb(80,80,80);
  font-size: 10px;
}


.formAvaliacao .avaliacoes {
  color: rgb(80,80,80);
}

.formAvaliacao .avaliacoes label {
  font-weight: normal;
}

.formAvaliacao .avaliacoes .avaliacao {
  margin-top: 94px;
}

.formAvaliacao .avaliacoes .primeiraAvaliacao {
  margin-top: 32px;
}

.formAvaliacao .avaliacoes .titleQuestionario {
  font-size: 19px;
  font-weight: bold;
  font-family: chantilly-serialregular;
  text-align: center;
  display: block;
  /* background-color: rgb(253, 251, 251); */
  margin-bottom: 50px;
  /*border-bottom: 1px solid  #ccc;*/
  /* border-bottom: 1px solid rgb(80,80,80); */
  border-bottom: 1px solid rgb(150, 150, 150);
}

.formAvaliacao .avaliacoes .nomeGrupoQuestao {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 29px;
  /* border-bottom: 1px solid #ccc; */
  background-color: #F3F3F3;
  padding: 5px 3px;
}

.formAvaliacao .avaliacoes .nomeGrupoQuestao.scrolling {
    position: fixed !important;
    top: 0px;
    z-index: 1001;
    padding-top: 5px;
    -webkit-box-shadow: 0px 11px 12px -13px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 11px 12px -13px rgba(0,0,0,0.55);
    box-shadow: 0px 11px 12px -13px rgba(0,0,0,0.55);
    width: 100%;
    left: 0px;
    padding-left: 183px;
    height: 51px;
    /* font-size: 127%; */
}

.formAvaliacao .avaliacoes .nomeGrupoQuestao .descricao {
  font-size: 11px;
  font-weight: bold;
  vertical-align: middle;
}

.formAvaliacao .avaliacoes .questoes .questao {
  margin-bottom: 18px;
}

.formAvaliacao .avaliacoes .questoes .listaValores {
  display: table;
  padding-left: 20px;
}

.formAvaliacao .avaliacoes .questoes .listaValores .valorLista {
  float: left;
  margin-right: 30px;
}

.formAvaliacao .avaliacoes .questoes .perguntaTexto {
  margin-top: 16px;
}

.formAvaliacao .avaliacoes .questoes .perguntaQuestao {
  font-weight: bold;
}


/**************************************
  PAGINA RESULTADO
**************************************/

.containerFormResultado .formResultado .resultados table{
  width: 100%;
}

.containerFormResultado .formResultado .resultados {
  margin-top: 6.9px;
  font-size: 10px;
  color: rgb(80, 80, 80);
}

.containerFormResultado .formResultado .resultados .resultado {
  width: 100%;
  margin-bottom: 46px;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .tituloTable {
  font-weight: bold;
  text-align: center;
  width: 158px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

.containerFormResultado .formResultado .resultados .resultado .questionario {
  line-height: 28px;
  margin-left: auto;
  margin-right: auto;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .nomeQuestionario {
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  padding-top: 12px;
  width: 347px;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .tituloTable,
.containerFormResultado .formResultado .resultados .resultado .questionario .nomeQuestionario,
.containerFormResultado .formResultado .resultados .resultado .totalQuestionarioTitle,
.containerFormResultado .formResultado .resultados .resultado .totalQuestionario {
  color: #207ea5;
  font-weight: bold;
  font-size: 14px !important;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .tituloTable,
.containerFormResultado .formResultado .resultados .resultado .totalQuestionarioTitle,
.containerFormResultado .formResultado .resultados .resultado .totalQuestionario {
  text-align: right;
  padding-right: 14px;
}

.containerFormResultado .formResultado .resultados .resultado .totalGrupo {
  text-align: right;
  padding-right: 17px;
}

.containerFormResultado .formResultado .resultados .resultado .rowTotalQuestionarioTitle,
.containerFormResultado .formResultado .resultados .resultado .rowNomeGrupoQuestao {
    background-color: #F3F3F3;
}



.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nomeGrupoQuestao {
  font-weight: bold;
  padding-left: 7px;
  font-size: 14px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  /* width: 200px; */
}


.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nomeGrupoQuestao .descricao {
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}


/* .containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nota {
  width: 158px;
} */

/* .containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nomeQuestao {
  width: 347px;
} */

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .questao td {
  padding-left: 9px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .questao .nomeQuestao,
.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nomeGrupoQuestao,
.containerFormResultado .formResultado .resultados .resultado .totalQuestionarioTitle,
.containerFormResultado .formResultado .resultados .resultado .questionario .nomeQuestionario {
  width: 259px !important;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .questao .nota,
.containerFormResultado .formResultado .resultados .resultado .totalGrupo,
.containerFormResultado .formResultado .resultados .resultado .totalQuestionario,
.resultados .resultado .questionario .tituloTable {
  width: 100px !important;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nota .respostasTexto span{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 142px; */
  cursor: pointer;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nota .media {
    padding-left: 10px;
    float: right;
    padding-right: 20px;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nota .icon{
  display: inline !important;
  margin-right: 2px;
}


.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .questao td {
  border: 1px solid #ccc;
}


.containerFormResultado .formResultado .resultados .resultado .totalGrupo {
  /* text-align: center; */
  font-size: 120%;
  border-right: 1px solid #ccc;
}

.containerFormResultado .formResultado .resultados .resultado .totalQuestionario {
  /* text-align: center; */
  font-size: 120%;
}

.containerFormResultado .formResultado .resultados .resultado .totalQuestionarioTitle {
  text-align: center;
}

.containerFormResultado .formResultado .resultados .resultado .totalQuestionario,
.containerFormResultado .formResultado .resultados .resultado .totalQuestionarioTitle {
  padding-bottom: 23px;
  /* border-left: 1px solid #ccc; */
  border-bottom: 1px solid #ccc;
}

.modalPesquisasResultado .modal-dialog {
  width: 1002px;
}

.modalPesquisasResultado .container {
  width: 984px;
}

.modalPesquisasResultado .modal-body {
  min-height: 418px;
}

.imprimir {
    margin-top: 0px;
    display: inline;
    float: right;
}

.assinaturas {
    margin-top: 22px;
}

.assinaturas div {
    line-height: 41px;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nomeGrupoQuestaoResumo {
    width: 496px;
    font-size: 12px;
}


.containerFormResultado .formResultado .resultados .resultado .questionario .grupoResumo,
.containerFormResultado .formResultado .resultados .resultado .questionario .grupoResumoTodosQuestionarios {
  border-bottom: 1px solid #ccc;
}

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoResumo.last td{
  /* padding-bottom: 28px !important; */
  /* border: none; */
}

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoResumo.last .nomeGrupoQuestao{
  
}

.containerFormResultado .formResultado .resultados .resultado .questionario .grupoResumo .totalGrupo,
.containerFormResultado .formResultado .resultados .resultado .questionario .grupoResumoTodosQuestionarios .totalGrupo{
  width: 226px;
}


.containerFormResultado .formResultado .resultados .resultado .questionario .grupoQuestao .nota .respostasTexto span {
    display: block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: initial;
    cursor: pointer;
    line-height: 12px;
    padding-bottom: 12px;
}

.titleQuestionarioResultado {
  font-size: 19px;
  font-weight: bold;
  font-family: chantilly-serialregular;
  text-align: center;
  display: block;
}

.link {
  text-decoration: underline;
}

.questionarioSelecionado {
  font-weight: bold;
}

.questionariosDisponiveis a {
    line-height: 24px;
}

.avaliacoes.classificarQuestoes .avaliacao {
    margin-top: 0px;
}

.checkboxMetaAutoCalculada {
    font-size: 12px;
    font-style: italic;
}

.texto-centro {
      text-align: center;
}

.espacoGrandeDivisor {
    height: 188px;
    border-top: 2px solid gray;
}

.tipoCalculo {
    padding-left: 20px;
}

@media print {

  .containerFormResultado .formResultado .metas{
    margin-top: 350px;
  }
  
}


