<div class="container containerFormResultado"
  ng-show="resultSuccess">
  <fieldset>

    <legend class="titulo"
      ng-show="resultadoGeral.resultadoPesquisas.length === 1">
      {{nomePesquisa}}
      <span ng-show="grupoOcupacional.nome">- {{grupoOcupacional.nome}}</span>
      <span ng-show="cargo.nome">- {{cargo.nome}}</span>
      <span ng-show="setor.nome">- {{setor.nome}}</span>
      <span ng-show="empresa.nome">- {{empresa.nome}}</span>
      <span ng-show="!cargo.nome && !setor.nome && !grupoOcupacional.nome && !empresa.nome">-
        {{avaliado.pessoa.nome}}</span>
    </legend>

    <legend class="titulo texto-centro"
      ng-show="resultadoGeral.resultadoPesquisas.length > 1">
      Pesquisas -
      <span ng-show="grupoOcupacional.nome"> {{grupoOcupacional.nome}}</span>
      <span ng-show="cargo.nome"> {{cargo.nome}}</span>
      <span ng-show="setor.nome"> {{setor.nome}}</span>
      <span ng-show="empresa.nome"> {{empresa.nome}}</span>
      <span ng-show="!cargo.nome && !setor.nome && !grupoOcupacional.nome && !empresa.nome">
        {{avaliado.pessoa.nome}}</span>
    </legend>


    <form novalidate
      role="form"
      name="formPrincipal"
      class="formResultado"
      ng-show="showResult">

      <!-- INICIO RESUMAO PESQUISAS -->
      <div class="resumoPesquisas"
        ng-if="resultadoGeral.resultadoPesquisas.length > 1">
        <div class="resultados">

          <div class="resultado">
            <table class="questionario ">
              <tr class="rowTotalQuestionarioTitle">
                <td class="nomeQuestionario">
                  <span>
                  </span>
                </td>
                <td class="tituloTable col2"
                  ng-if="resultadoGeral.mediaPropria">
                  <span popover-trigger="mouseenter"
                    popover="Nota Prória"
                    popover-append-to-body="true">
                    Auto Avaliação
                  </span>
                </td>
                <td class="tituloTable col3"
                  ng-if="resultadoGeral.mediaLideres">
                  <span popover-trigger="mouseenter"
                    popover="Nota média da Liderança"
                    popover-append-to-body="true">
                    Avaliação Superior
                  </span>
                </td>
                <td class="tituloTable col4"
                  ng-if="resultadoGeral.mediaSubordinados">
                  <span popover-trigger="mouseenter"
                    popover="Nota média dos Subordinados"
                    popover-append-to-body="true">
                    Avaliação Subordinados
                  </span>
                </td>
                <td class="tituloTable col5"
                  ng-if="resultadoGeral.mediaOutros">
                  <span popover-trigger="mouseenter"
                    popover="Nota média de Outros"
                    popover-append-to-body="true">
                    Avaliação Outro
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Meta"
                    popover-append-to-body="true">
                    Meta
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Valor Obtido"
                    popover-append-to-body="true">
                    Valor Obtido
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Percentual Meta"
                    popover-append-to-body="true">
                    Percentual Meta
                  </span>
                </td>
              </tr>
              <tr>
                <td class="totalQuestionarioTitle">
                  <strong>Média: </strong>
                </td>
                <td ng-if="resultadoGeral.mediaPropria"
                  class="totalQuestionario">
                  <strong ng-show="resultadoGeral.mediaPropria">
                    {{resultadoGeral.mediaPropria | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultadoGeral.mediaPropria">
                    N/A
                  </strong>
                </td>
                <td ng-if="resultadoGeral.mediaLideres"
                  class="totalQuestionario">
                  <strong ng-show="resultadoGeral.mediaLideres">
                    {{resultadoGeral.mediaLideres | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultadoGeral.mediaLideres">
                    N/A
                  </strong>
                </td>
                <td ng-if="resultadoGeral.mediaSubordinados"
                  class="totalQuestionario">
                  <strong ng-show="resultadoGeral.mediaSubordinados">
                    {{resultadoGeral.mediaSubordinados | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultadoGeral.mediaSubordinados">
                    N/A
                  </strong>
                </td>
                <td ng-if="resultadoGeral.mediaOutros"
                  class="totalQuestionario">
                  <strong ng-show="resultadoGeral.mediaOutros">
                    {{resultadoGeral.mediaOutros | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultadoGeral.mediaOutros">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="resultadoGeral.meta">
                    {{resultadoGeral.meta | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultadoGeral.meta">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="resultadoGeral.valorObtido">
                    {{resultadoGeral.valorObtido | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultadoGeral.valorObtido">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario corResultadoFinal">
                  <strong ng-show="resultadoGeral.percentualMeta">
                    {{resultadoGeral.percentualMeta*100 | numberRound:1}}%
                  </strong>
                  <strong ng-show="!resultadoGeral.percentualMeta">
                    N/A
                  </strong>
                </td>
              </tr>
              <tr>
                <td colspan="9">
                  <table class="grupoQuestao ">
                    <tr class="grupoResumo {{$last ? 'last' : ''}}"
                      ng-repeat="resultado in resultadoGeral.resultadoPesquisas | orderBy: '-pesquisa.percentualMeta'">
                      <td class="nomeGrupoQuestao nomeGrupoQuestaoResumo">
                        <span>
                          {{resultado.pesquisa.nome}}
                        </span>
                      </td>
                      <td ng-if="resultadoGeral.mediaPropria"
                        class="totalGrupo">
                        <strong ng-show="resultado.pesquisa.mediaPropria">
                          {{resultado.pesquisa.mediaPropria | numberRound:1}}
                        </strong>
                        <strong ng-show="!resultado.pesquisa.mediaPropria">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="resultadoGeral.mediaLideres"
                        class="totalGrupo">
                        <strong ng-show="resultado.pesquisa.mediaLideres">
                          {{resultado.pesquisa.mediaLideres | numberRound:1}}
                        </strong>
                        <strong ng-show="!resultado.pesquisa.mediaLideres">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="resultadoGeral.mediaSubordinados"
                        class="totalGrupo">
                        <strong ng-show="resultado.pesquisa.mediaSubordinados">
                          {{resultado.pesquisa.mediaSubordinados | numberRound:1}}
                        </strong>
                        <strong ng-show="!resultado.pesquisa.mediaSubordinados">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="resultadoGeral.mediaOutros"
                        class="totalGrupo">
                        <strong ng-show="resultado.pesquisa.mediaOutros">
                          {{resultado.pesquisa.mediaOutros | numberRound:1}}
                        </strong>
                        <strong ng-show="!resultado.pesquisa.mediaOutros">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="resultado.pesquisa.meta">
                          {{resultado.pesquisa.meta | numberRound:1}}
                        </strong>
                        <strong ng-show="!resultado.pesquisa.meta">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="resultado.pesquisa.valorObtido">
                          {{resultado.pesquisa.valorObtido | numberRound:1}}
                        </strong>
                        <strong ng-show="!resultado.pesquisa.valorObtido">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo ">
                        <strong ng-show="resultado.pesquisa.percentualMeta">
                          {{resultado.pesquisa.percentualMeta*100 | numberRound:1}}%
                        </strong>
                        <strong ng-show="!resultado.pesquisa.percentualMeta">
                          N/A
                        </strong>
                      </td>
                    </tr>


                    <!-- space -->
                    <tr>
                      <td colspan="9"
                        style="border: none !important; padding-bottom: 54px; };"></td>
                    </tr>

                  </table>
                </td>
              </tr>
            </table>
            <hr>
          </div>
          <!-- .resultado -->

        </div>
      </div>
      <!-- FIM RESUMAO PESQUISAS -->

      <div ng-repeat="resultado in resultadoGeral.resultadoPesquisas | orderBy: '-pesquisa.percentualMeta'">

        <div class="espacoGrandeDivisor"
          ng-show="resultadoGeral.resultadoPesquisas.length > 1 && !$first"></div>

        <legend class="titulo texto-centro"
          ng-show="resultadoGeral.resultadoPesquisas.length > 1">
          {{resultado.pesquisa.nome}}
        </legend>

        <!-- RESUMAO QUESTIONARIOS -->
        <div class="resultados">

          <div class="resultado">
            <table class="questionario {{$first ? 'primeiro' : ''}}">
              <tr class="rowTotalQuestionarioTitle">
                <td class="nomeQuestionario">
                  <span>
                  </span>
                </td>
                <td class="tituloTable col2"
                  ng-if="resultado.pesquisa.mediaPropria">
                  <span popover-trigger="mouseenter"
                    popover="Nota Prória"
                    popover-append-to-body="true">
                    Auto Avaliação
                  </span>
                </td>
                <td class="tituloTable col3"
                  ng-if="resultado.pesquisa.mediaLideres">
                  <span popover-trigger="mouseenter"
                    popover="Nota média da Liderança"
                    popover-append-to-body="true">
                    Avaliação Superior
                  </span>
                </td>
                <td class="tituloTable col4"
                  ng-if="resultado.pesquisa.mediaSubordinados">
                  <span popover-trigger="mouseenter"
                    popover="Nota média dos Subordinados"
                    popover-append-to-body="true">
                    Avaliação Subordinados
                  </span>
                </td>
                <td class="tituloTable col5"
                  ng-if="resultado.pesquisa.mediaOutros">
                  <span popover-trigger="mouseenter"
                    popover="Nota média de Outros"
                    popover-append-to-body="true">
                    Avaliação Outro
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Meta"
                    popover-append-to-body="true">
                    Meta
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Valor Obtido"
                    popover-append-to-body="true">
                    Valor Obtido
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Percentual Meta"
                    popover-append-to-body="true">
                    Percentual Meta
                  </span>
                </td>
              </tr>
              <tr>
                <td class="totalQuestionarioTitle">
                  <strong>Média: </strong>
                </td>
                <td ng-if="resultado.pesquisa.mediaPropria"
                  class="totalQuestionario">
                  <strong ng-show="resultado.pesquisa.mediaPropria">
                    {{resultado.pesquisa.mediaPropria | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.pesquisa.mediaPropria">
                    N/A
                  </strong>
                </td>
                <td ng-if="resultado.pesquisa.mediaLideres"
                  class="totalQuestionario">
                  <strong ng-show="resultado.pesquisa.mediaLideres">
                    {{resultado.pesquisa.mediaLideres | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.pesquisa.mediaLideres">
                    N/A
                  </strong>
                </td>
                <td ng-if="resultado.pesquisa.mediaSubordinados"
                  class="totalQuestionario">
                  <strong ng-show="resultado.pesquisa.mediaSubordinados">
                    {{resultado.pesquisa.mediaSubordinados | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.pesquisa.mediaSubordinados">
                    N/A
                  </strong>
                </td>
                <td ng-if="resultado.pesquisa.mediaOutros"
                  class="totalQuestionario">
                  <strong ng-show="resultado.pesquisa.mediaOutros">
                    {{resultado.pesquisa.mediaOutros | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.pesquisa.mediaOutros">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="resultado.pesquisa.meta">
                    {{resultado.pesquisa.meta | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.pesquisa.meta">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="resultado.pesquisa.valorObtido">
                    {{resultado.pesquisa.valorObtido | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.pesquisa.valorObtido">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario corResultadoFinal">
                  <strong ng-show="resultado.pesquisa.percentualMeta">
                    {{resultado.pesquisa.percentualMeta*100 | numberRound:1}}%
                  </strong>
                  <strong ng-show="!resultado.pesquisa.percentualMeta">
                    N/A
                  </strong>
                </td>
              </tr>
              <tr>
                <td colspan="9">
                  <table class="grupoQuestao ">
                    <tr class="grupoResumo {{$last ? 'last' : ''}}"
                      ng-repeat="questionario in resultado.questionarios | orderBy: '-percentualMeta'">
                      <td class="nomeGrupoQuestao nomeGrupoQuestaoResumo">
                        <span>
                          {{questionario.nome}}
                        </span>
                      </td>
                      <td ng-if="resultado.pesquisa.mediaPropria"
                        class="totalGrupo">
                        <strong ng-show="questionario.mediaPropria">
                          {{questionario.mediaPropria | numberRound:1}}
                        </strong>
                        <strong ng-show="!questionario.mediaPropria">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="resultado.pesquisa.mediaLideres"
                        class="totalGrupo">
                        <strong ng-show="questionario.mediaLideres">
                          {{questionario.mediaLideres | numberRound:1}}
                        </strong>
                        <strong ng-show="!questionario.mediaLideres">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="resultado.pesquisa.mediaSubordinados"
                        class="totalGrupo">
                        <strong ng-show="questionario.mediaSubordinados">
                          {{questionario.mediaSubordinados | numberRound:1}}
                        </strong>
                        <strong ng-show="!questionario.mediaSubordinados">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="resultado.pesquisa.mediaOutros"
                        class="totalGrupo">
                        <strong ng-show="questionario.mediaOutros">
                          {{questionario.mediaOutros | numberRound:1}}
                        </strong>
                        <strong ng-show="!questionario.mediaOutros">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="questionario.meta">
                          {{questionario.meta | numberRound:1}}
                        </strong>
                        <strong ng-show="!questionario.meta">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="questionario.valorObtido">
                          {{questionario.valorObtido | numberRound:1}}
                        </strong>
                        <strong ng-show="!questionario.valorObtido">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo ">
                        <strong ng-show="questionario.percentualMeta">
                          {{questionario.percentualMeta*100 | numberRound:1}}%
                        </strong>
                        <strong ng-show="!questionario.percentualMeta">
                          N/A
                        </strong>
                      </td>
                    </tr>


                    <!-- space -->
                    <tr>
                      <td colspan="9"
                        style="border: none !important; padding-bottom: 54px; };"></td>
                    </tr>

                  </table>
                </td>
              </tr>
            </table>
            <hr>
          </div><!-- questionario -->

        </div>
        <!-- FIM RESUMAO QUESTIONARIOS -->

        <div class="resultados">

          <!-- LOOP QUESTIONARIOS -->
          <div class="resultado questionario"
            ng-repeat="questionario in resultado.questionarios | orderBy: '-percentualMeta'"
            ng-if="!empresa || !empresa.id">
            <table class="questionario {{$first ? 'primeiro' : ''}}">

              <!-- RESUMO QUESTIONARIO, TEM 2 TR -->
              <tr class="rowTotalQuestionarioTitle"
                ng-if="!empresa || !empresa.id">
                <td class="nomeQuestionario">
                  <span>
                    <span popover-trigger="mouseenter"
                      popover="Grupo Ocupacional: {{avaliado.cargo.grupoOcupacional.nome}}"
                      popover-append-to-body="true">
                      {{questionario.nome}}
                    </span>
                  </span>
                </td>
                <td class="tituloTable col2"
                  ng-if="!questionario.hidePropria">
                  <span popover-trigger="mouseenter"
                    popover="Nota Prória"
                    popover-append-to-body="true">
                    Auto Avaliação
                  </span>
                </td>
                <td class="tituloTable col3"
                  ng-if="!questionario.hideLideres">
                  <span popover-trigger="mouseenter"
                    popover="Nota média da Liderança"
                    popover-append-to-body="true">
                    Avaliação Superior
                  </span>
                </td>
                <td class="tituloTable col4"
                  ng-if="!questionario.hideSubordinados">
                  <span popover-trigger="mouseenter"
                    popover="Nota média dos Subordinados"
                    popover-append-to-body="true">
                    Avaliação Subordinados
                  </span>
                </td>
                <td class="tituloTable col5"
                  ng-if="!questionario.hideOutros">
                  <span popover-trigger="mouseenter"
                    popover="Nota média de Outros"
                    popover-append-to-body="true">
                    Avaliação Outro
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Meta"
                    popover-append-to-body="true">
                    Meta
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Valor Obtido"
                    popover-append-to-body="true">
                    Valor Obtido
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Percentual Meta"
                    popover-append-to-body="true">
                    Percentual Meta
                  </span>
                </td>
              </tr>
              <tr>
                <td class="totalQuestionarioTitle">
                  <strong>Média: </strong>
                </td>
                <td ng-if="!questionario.hidePropria"
                  class="totalQuestionario">
                  <strong ng-show="questionario.mediaPropria">
                    {{questionario.mediaPropria | numberRound:1}}
                  </strong>
                  <strong ng-show="!questionario.mediaPropria">
                    N/A
                  </strong>
                </td>
                <td ng-if="!questionario.hideLideres"
                  class="totalQuestionario">
                  <strong ng-show="questionario.mediaLideres">
                    {{questionario.mediaLideres | numberRound:1}}
                  </strong>
                  <strong ng-show="!questionario.mediaLideres">
                    N/A
                  </strong>
                </td>
                <td ng-if="!questionario.hideSubordinados"
                  class="totalQuestionario">
                  <strong ng-show="questionario.mediaSubordinados">
                    {{questionario.mediaSubordinados | numberRound:1}}
                  </strong>
                  <strong ng-show="!questionario.mediaSubordinados">
                    N/A
                  </strong>
                </td>
                <td ng-if="!questionario.hideOutros"
                  class="totalQuestionario">
                  <strong ng-show="questionario.mediaOutros">
                    {{questionario.mediaOutros | numberRound:1}}
                  </strong>
                  <strong ng-show="!questionario.mediaOutros">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="questionario.meta">
                    {{questionario.meta | numberRound:1}}
                  </strong>
                  <strong ng-show="!questionario.meta">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="questionario.valorObtido">
                    {{questionario.valorObtido | numberRound:1}}
                  </strong>
                  <strong ng-show="!questionario.valorObtido">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="questionario.percentualMeta">
                    {{questionario.percentualMeta*100 | numberRound:1}}%
                  </strong>
                  <strong ng-show="!questionario.percentualMeta">
                    N/A
                  </strong>
                </td>
              </tr>
              <!-- FIM RESUMO QUESTIONARIO, TEM 2 TR -->

              <!-- RESUMO DO GRUPO E DETALHE DO GRUPO E QUESTOES -->
              <tr>
                <td colspan="9">
                  <table class="grupoQuestao ">

                    <!-- RESUMO DO GRUPO DO QUESTIONARIO -->
                    <tr class="grupoResumo {{$last ? 'last' : ''}}"
                      ng-repeat="grupoQuestao in questionario.gruposQuestoes | orderBy: '-percentualMeta'">
                      <td class="nomeGrupoQuestao nomeGrupoQuestaoResumo">
                        <span>
                          <a ng-click="scrollTo('#grupo'+grupoQuestao.id)">{{grupoQuestao.nome}}</a>
                        </span>
                      </td>
                      <td ng-if="!questionario.hidePropria"
                        class="totalGrupo">
                        <strong ng-show="grupoQuestao.mediaPropria">
                          {{grupoQuestao.mediaPropria | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.mediaPropria">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="!questionario.hideLideres"
                        class="totalGrupo">
                        <strong ng-show="grupoQuestao.mediaLideres">
                          {{grupoQuestao.mediaLideres | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.mediaLideres">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="!questionario.hideSubordinados"
                        class="totalGrupo">
                        <strong ng-show="grupoQuestao.mediaSubordinados">
                          {{grupoQuestao.mediaSubordinados | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.mediaSubordinados">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="!questionario.hideOutros"
                        class="totalGrupo">
                        <strong ng-show="grupoQuestao.mediaOutros">
                          {{grupoQuestao.mediaOutros | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.mediaOutros">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="grupoQuestao.meta">
                          {{grupoQuestao.meta | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.meta">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="grupoQuestao.valorObtido">
                          {{grupoQuestao.valorObtido | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.valorObtido">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="grupoQuestao.percentualMeta">
                          {{grupoQuestao.percentualMeta*100 | numberRound:1}}%
                        </strong>
                        <strong ng-show="!grupoQuestao.percentualMeta">
                          N/A
                        </strong>
                      </td>
                    </tr>
                    <!-- FIM RESUMO DO GRUPO DO QUESTIONARIO -->


                    <!-- space -->
                    <tr>
                      <td colspan="9"
                        style="border: none !important; padding-bottom: 54px; };"></td>
                    </tr>


                    <!-- DETALHE DO GRUPO -->
                    <tr ng-repeat="grupoQuestao in questionario.gruposQuestoes | orderBy: '-percentualMeta'">
                      <td colspan="9">
                        <table>
                          <tr class="rowNomeGrupoQuestao">
                            <td class="nomeGrupoQuestao">
                              <span id="grupo{{grupoQuestao.id}}">
                                {{grupoQuestao.nome}}
                              </span>
                              <br />
                              <span class="descricao"
                                ng-show="grupoQuestao.descricao">
                                {{'(' + grupoQuestao.descricao + ')'}}
                              </span>
                            </td>
                            <td ng-if="!questionario.hidePropria"
                              class="totalGrupo">
                              <strong ng-show="grupoQuestao.mediaPropria">
                                {{grupoQuestao.mediaPropria | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.mediaPropria">
                                N/A
                              </strong>
                            </td>
                            <td ng-if="!questionario.hideLideres"
                              class="totalGrupo">
                              <strong ng-show="grupoQuestao.mediaLideres">
                                {{grupoQuestao.mediaLideres | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.mediaLideres">
                                N/A
                              </strong>
                            </td>
                            <td ng-if="!questionario.hideSubordinados"
                              class="totalGrupo">
                              <strong ng-show="grupoQuestao.mediaSubordinados">
                                {{grupoQuestao.mediaSubordinados | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.mediaSubordinados">
                                N/A
                              </strong>
                            </td>
                            <td ng-if="!questionario.hideOutros"
                              class="totalGrupo">
                              <strong ng-show="grupoQuestao.mediaOutros">
                                {{grupoQuestao.mediaOutros | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.mediaOutros">
                                N/A
                              </strong>
                            </td>
                            <td class="totalGrupo">
                              <strong ng-show="grupoQuestao.meta">
                                {{grupoQuestao.meta | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.meta">
                                N/A
                              </strong>
                            </td>
                            <td class="totalGrupo">
                              <strong ng-show="grupoQuestao.valorObtido">
                                {{grupoQuestao.valorObtido | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.valorObtido">
                                N/A
                              </strong>
                            </td>
                            <td class="totalGrupo">
                              <strong ng-show="grupoQuestao.percentualMeta">
                                {{grupoQuestao.percentualMeta*100 | numberRound:1}}%
                              </strong>
                              <strong ng-show="!grupoQuestao.percentualMeta">
                                N/A
                              </strong>
                            </td>

                          </tr>
                          <tr ng-repeat="questaoOrdem in grupoQuestao.questoesOrdem | orderBy: '+ordem' "
                            class="questao"
                            ng-if="questaoOrdem.questao.classificacao <= 2">
                            <td class="nomeQuestao">
                              <span>
                                {{questaoOrdem.questao.perguntaQuestao}}
                              </span>
                            </td>
                            <!-- AUTO AVALIACAO -->
                            <td ng-if="!questionario.hidePropria"
                              class="nota notaPropria">
                              <div>
                                <div class="media">
                                  <span ng-show="!!questaoOrdem.questao.mediaPropria">
                                    {{questaoOrdem.questao.mediaPropria | numberRound:1}}
                                  </span>
                                </div>
                                <div ng-if="questaoOrdem.questao.respostasTextosProprias.length > 0"
                                  class="respostasTexto">
                                  <span
                                    ng-repeat="respostaTexto in questaoOrdem.questao.respostasTextosProprias track by $index"
                                    class="respostaTexto"
                                    popover-trigger="mouseenter"
                                    popover="{{respostaTexto}}">
                                    {{respostaTexto}}
                                  </span>
                                </div>
                                <span
                                  ng-show="!questaoOrdem.questao.mediaPropria && questaoOrdem.questao.respostasTextosProprias.length === 0">
                                  N/A
                                </span>
                              </div>
                            </td>
                            <!-- AVALIACAO LIDERES -->
                            <td ng-if="!questionario.hideLideres"
                              class="nota notaLideres">
                              <div>
                                <div class="media">

                                  <span ng-show="!!questaoOrdem.questao.mediaLider">
                                    {{questaoOrdem.questao.mediaLider | numberRound:1}}
                                  </span>
                                </div>
                                <div ng-if="questaoOrdem.questao.respostasTextosLider.length > 0"
                                  class="respostasTexto">
                                  <span
                                    ng-repeat="respostaTexto in questaoOrdem.questao.respostasTextosLider track by $index"
                                    class="respostaTexto"
                                    popover-trigger="mouseenter"
                                    popover="{{respostaTexto}}">
                                    {{respostaTexto}}
                                  </span>
                                </div>
                                <span
                                  ng-show="!questaoOrdem.questao.respostasTextosLider && questaoOrdem.questao.respostasTextosLider.length === 0">
                                  N/A
                                </span>
                              </div>
                            </td>
                            <!-- AVALIACAO SUBORDINADOS -->
                            <td ng-if="!questionario.hideSubordinados"
                              class="nota notaSubordinados">
                              <div>
                                <div class="media">
                                  <span ng-show="!!questaoOrdem.questao.mediaSubordinados">
                                    {{questaoOrdem.questao.mediaSubordinados | numberRound:1}}
                                  </span>
                                </div>
                                <div ng-if="questaoOrdem.questao.respostasTextosSubordinados.length > 0"
                                  class="respostasTexto">
                                  <span
                                    ng-repeat="respostaTexto in questaoOrdem.questao.respostasTextosSubordinados track by $index"
                                    class="respostaTexto"
                                    popover-trigger="mouseenter"
                                    popover="{{respostaTexto}}">
                                    {{respostaTexto}}
                                  </span>
                                </div>
                                <span
                                  ng-show="!questaoOrdem.questao.mediaSubordinados && questaoOrdem.questao.respostasTextosSubordinados.length === 0">
                                  N/A
                                </span>
                              </div>
                            </td>
                            <!-- AVALIACAO OUTROS -->
                            <td ng-if="!questionario.hideOutros"
                              class="nota notaOutros">
                              <div>
                                <div class="media">
                                  <span ng-show="!!questaoOrdem.questao.mediaOutros">
                                    {{questaoOrdem.questao.mediaOutros | numberRound:1}}
                                  </span>
                                </div>
                                <div ng-if="questaoOrdem.questao.respostasTextosOutros.length > 0"
                                  class="respostasTexto">
                                  <span
                                    ng-repeat="respostaTexto in questaoOrdem.questao.respostasTextosOutros track by $index"
                                    class="respostaTexto"
                                    popover-trigger="mouseenter"
                                    popover="{{respostaTexto}}">
                                    {{respostaTexto}}
                                  </span>
                                </div>
                                <span
                                  ng-show="!questaoOrdem.questao.mediaOutros && questaoOrdem.questao.respostasTextosOutros.length === 0">
                                  N/A
                                </span>
                              </div>
                            </td>
                            <!-- META -->
                            <td class="meta nota notaOutros">
                              <div>
                                <div class="media">
                                  <span ng-show="questaoOrdem.questao.meta">
                                    {{questaoOrdem.questao.meta | numberRound:1}}
                                    <span ng-show="questaoOrdem.questao.negativo"> (-)</span>
                                  </span>
                                  <span ng-show="!questaoOrdem.questao.meta">
                                    N/A
                                  </span>

                                </div>
                              </div>
                            </td>
                            <!-- VALOR OBTIDO -->
                            <td class="valorObtido nota notaOutros">
                              <div>
                                <div class="media">

                                  <span ng-show="questaoOrdem.questao.valorObtido">
                                    {{questaoOrdem.questao.valorObtido | numberRound:1}}
                                  </span>
                                  <span ng-show="!questaoOrdem.questao.valorObtido">
                                    N/A
                                  </span>

                                </div>
                              </div>
                            </td>
                            <!-- PERCENTUAL META -->
                            <td class="percentualMeta nota notaOutros">
                              <div>
                                <div class="media">

                                  <span ng-show="questaoOrdem.questao.percentualMeta">
                                    {{questaoOrdem.questao.percentualMeta*100 | numberRound:1}}%
                                  </span>
                                  <span ng-show="!questaoOrdem.questao.percentualMeta">
                                    N/A
                                  </span>

                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- FIM DETALHE DO GRUPO -->
                  </table>
                </td>
              </tr>
              <!-- FIM RESUMO DO GRUPO E DETALHE DO GRUPO E QUESTOES -->
            </table>
            <hr>
          </div>
          <!-- FIM LOOP QUESTIONARIOS -->

          <!-- RESUMO DOS GRUPOS DE TODOS OS QUESTIONARIOS -->
          <div class="resultado resumaoGrupoQuestao"
            ng-if="!!empresa && !!empresa.id">
            <table class="questionario primeiro">

              <!-- RESUMO QUESTIONARIO, TEM 2 TR (do resumao do grupo) -->
              <tr class="rowTotalQuestionarioTitle">
                <td class="nomeQuestionario">
                  <span>
                    <span popover-trigger="mouseenter"
                      popover="Grupo Ocupacional: {{avaliado.cargo.grupoOcupacional.nome}}"
                      popover-append-to-body="true">
                      <!-- nome -->
                    </span>
                  </span>
                </td>
                <td class="tituloTable col2"
                  ng-if="!resultado.resumaoGrupoQuestoes.total.hidePropria">
                  <span popover-trigger="mouseenter"
                    popover="Nota Prória"
                    popover-append-to-body="true">
                    Auto Avaliação
                  </span>
                </td>
                <td class="tituloTable col3"
                  ng-if="!resultado.resumaoGrupoQuestoes.total.hideLideres">
                  <span popover-trigger="mouseenter"
                    popover="Nota média da Liderança"
                    popover-append-to-body="true">
                    Avaliação Superior
                  </span>
                </td>
                <td class="tituloTable col4"
                  ng-if="!resultado.resumaoGrupoQuestoes.total.hideSubordinados">
                  <span popover-trigger="mouseenter"
                    popover="Nota média dos Subordinados"
                    popover-append-to-body="true">
                    Avaliação Subordinados
                  </span>
                </td>
                <td class="tituloTable col5"
                  ng-if="!resultado.resumaoGrupoQuestoes.total.hideOutros">
                  <span popover-trigger="mouseenter"
                    popover="Nota média de Outros"
                    popover-append-to-body="true">
                    Avaliação Outro
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Meta"
                    popover-append-to-body="true">
                    Meta
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Valor Obtido"
                    popover-append-to-body="true">
                    Valor Obtido
                  </span>
                </td>
                <td class="tituloTable col5">
                  <span popover-trigger="mouseenter"
                    popover="Percentual Meta"
                    popover-append-to-body="true">
                    Percentual Meta
                  </span>
                </td>
              </tr>
              <tr>
                <td class="totalQuestionarioTitle">
                  <strong>Média: </strong>
                </td>
                <td ng-if="!resultado.resumaoGrupoQuestoes.total.hidePropria"
                  class="totalQuestionario">
                  <strong ng-show="resultado.resumaoGrupoQuestoes.total.mediaPropria">
                    {{resultado.resumaoGrupoQuestoes.total.mediaPropria | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.resumaoGrupoQuestoes.total.mediaPropria">
                    N/A
                  </strong>
                </td>
                <td ng-if="!resultado.resumaoGrupoQuestoes.total.hideLideres"
                  class="totalQuestionario">
                  <strong ng-show="resultado.resumaoGrupoQuestoes.total.mediaLideres">
                    {{resultado.resumaoGrupoQuestoes.total.mediaLideres | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.resumaoGrupoQuestoes.total.mediaLideres">
                    N/A
                  </strong>
                </td>
                <td ng-if="!resultado.resumaoGrupoQuestoes.total.hideSubordinados"
                  class="totalQuestionario">
                  <strong ng-show="resultado.resumaoGrupoQuestoes.total.mediaSubordinados">
                    {{resultado.resumaoGrupoQuestoes.total.mediaSubordinados | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.resumaoGrupoQuestoes.total.mediaSubordinados">
                    N/A
                  </strong>
                </td>
                <td ng-if="!resultado.resumaoGrupoQuestoes.total.hideOutros"
                  class="totalQuestionario">
                  <strong ng-show="resultado.resumaoGrupoQuestoes.total.mediaOutros">
                    {{resultado.resumaoGrupoQuestoes.total.mediaOutros | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.resumaoGrupoQuestoes.total.mediaOutros">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="resultado.resumaoGrupoQuestoes.total.meta">
                    {{resultado.resumaoGrupoQuestoes.total.meta | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.resumaoGrupoQuestoes.total.meta">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="resultado.resumaoGrupoQuestoes.total.valorObtido">
                    {{resultado.resumaoGrupoQuestoes.total.valorObtido | numberRound:1}}
                  </strong>
                  <strong ng-show="!resultado.resumaoGrupoQuestoes.total.valorObtido">
                    N/A
                  </strong>
                </td>
                <td class="totalQuestionario">
                  <strong ng-show="resultado.resumaoGrupoQuestoes.total.percentualMeta">
                    {{resultado.resumaoGrupoQuestoes.total.percentualMeta*100 | numberRound:1}}%
                  </strong>
                  <strong ng-show="!resultado.resumaoGrupoQuestoes.total.percentualMeta">
                    N/A
                  </strong>
                </td>
              </tr>
              <!-- FIM RESUMO QUESTIONARIO, TEM 2 TR (do resumao do grupo) -->

              <tr>
                <td colspan="9">
                  <table class="grupoQuestao ">

                    <tr class="grupoResumo {{$last ? 'last' : ''}}"
                      ng-repeat="grupoQuestao in resultado.resumaoGrupoQuestoes.gruposQuestoes | orderBy: '-percentualMeta'">
                      <td class="nomeGrupoQuestao nomeGrupoQuestaoResumo">
                        <span>
                          <a ng-click="scrollTo('#grupo'+grupoQuestao.id)">{{grupoQuestao.nome}}</a>
                        </span>
                      </td>
                      <td ng-if="!questionario.hidePropria"
                        class="totalGrupo">
                        <strong ng-show="grupoQuestao.mediaPropria">
                          {{grupoQuestao.mediaPropria | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.mediaPropria">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="!questionario.hideLideres"
                        class="totalGrupo">
                        <strong ng-show="grupoQuestao.mediaLideres">
                          {{grupoQuestao.mediaLideres | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.mediaLideres">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="!questionario.hideSubordinados"
                        class="totalGrupo">
                        <strong ng-show="grupoQuestao.mediaSubordinados">
                          {{grupoQuestao.mediaSubordinados | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.mediaSubordinados">
                          N/A
                        </strong>
                      </td>
                      <td ng-if="!questionario.hideOutros"
                        class="totalGrupo">
                        <strong ng-show="grupoQuestao.mediaOutros">
                          {{grupoQuestao.mediaOutros | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.mediaOutros">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="grupoQuestao.meta">
                          {{grupoQuestao.meta | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.meta">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="grupoQuestao.valorObtido">
                          {{grupoQuestao.valorObtido | numberRound:1}}
                        </strong>
                        <strong ng-show="!grupoQuestao.valorObtido">
                          N/A
                        </strong>
                      </td>
                      <td class="totalGrupo">
                        <strong ng-show="grupoQuestao.percentualMeta">
                          {{grupoQuestao.percentualMeta*100 | numberRound:1}}%
                        </strong>
                        <strong ng-show="!grupoQuestao.percentualMeta">
                          N/A
                        </strong>
                      </td>
                    </tr>

                    <!-- space -->
                    <tr>
                      <td colspan="9"
                        style="border: none !important; padding-bottom: 54px; };"></td>
                    </tr>


                    <tr ng-repeat="grupoQuestao in questionario.gruposQuestoes | orderBy: '-percentualMeta'">
                      <td colspan="9">
                        <table>
                          <tr class="rowNomeGrupoQuestao">
                            <td class="nomeGrupoQuestao">
                              <span id="grupo{{grupoQuestao.id}}">
                                {{grupoQuestao.nome}}
                              </span>
                              <br />
                              <span class="descricao"
                                ng-show="grupoQuestao.descricao">
                                {{'(' + grupoQuestao.descricao + ')'}}
                              </span>
                            </td>
                            <td ng-if="!questionario.hidePropria"
                              class="totalGrupo">
                              <strong ng-show="grupoQuestao.mediaPropria">
                                {{grupoQuestao.mediaPropria | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.mediaPropria">
                                N/A
                              </strong>
                            </td>
                            <td ng-if="!questionario.hideLideres"
                              class="totalGrupo">
                              <strong ng-show="grupoQuestao.mediaLideres">
                                {{grupoQuestao.mediaLideres | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.mediaLideres">
                                N/A
                              </strong>
                            </td>
                            <td ng-if="!questionario.hideSubordinados"
                              class="totalGrupo">
                              <strong ng-show="grupoQuestao.mediaSubordinados">
                                {{grupoQuestao.mediaSubordinados | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.mediaSubordinados">
                                N/A
                              </strong>
                            </td>
                            <td ng-if="!questionario.hideOutros"
                              class="totalGrupo">
                              <strong ng-show="grupoQuestao.mediaOutros">
                                {{grupoQuestao.mediaOutros | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.mediaOutros">
                                N/A
                              </strong>
                            </td>
                            <td class="totalGrupo">
                              <strong ng-show="grupoQuestao.meta">
                                {{grupoQuestao.meta | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.meta">
                                N/A
                              </strong>
                            </td>
                            <td class="totalGrupo">
                              <strong ng-show="grupoQuestao.valorObtido">
                                {{grupoQuestao.valorObtido | numberRound:1}}
                              </strong>
                              <strong ng-show="!grupoQuestao.valorObtido">
                                N/A
                              </strong>
                            </td>
                            <td class="totalGrupo">
                              <strong ng-show="grupoQuestao.percentualMeta">
                                {{grupoQuestao.percentualMeta*100 | numberRound:1}}%
                              </strong>
                              <strong ng-show="!grupoQuestao.percentualMeta">
                                N/A
                              </strong>
                            </td>

                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <hr>
          </div>
          <!-- FIM RESUMO DOS GRUPOS DE TODOS OS QUESTIONARIOS -->


          <br><br>

          <!-- GRAFICO -->
          <div ng-repeat="questionario in resultado.questionarios"
            ng-if="!empresa || !empresa.id">
            <label>{{questionario.nome}}</label>
            <div class="grafico"
              ng-if="showResult && resultSuccess"
              style="width: 1001px;">
              <div id="chart_div_questionario_{{questionario.id}}"
                style="width: 1001px; height: 500px;"></div>
            </div>
            <hr>
          </div>
          <!-- FIM GRAFICO -->

          <!-- GRAFICO RESULTADO POR EMPRESA -->
          <div ng-if="!!empresa && !!empresa.id">
            <div class="grafico"
              ng-if="showResult && resultSuccess"
              style="width: 1001px;">
              <div id="chart_div_questionario_resumao_grupo_questoes_pesquisa_{{resultado.pesquisa.id}}"
                style="width: 1001px; height: 500px;"></div>
            </div>
            <hr>
          </div>
          <!-- FIM GRAFICO RESULTADO POR EMPRESA -->

        </div>
        <!-- container-->

        <hr ng-hide="$last" />
      </div>




      <!-- METAS -->
      <hr />
      <div class="metas"
        ng-hide="hidePlanoMetas()">

        <div class="row"
          style="">
          <div class="form-group col-xs-12 ">
            <div textarea-form-directive
              field-name="meta"
              label="'Plano de Desenvolvimento individual'"
              helper="Indique as competências, metas, ações e prazos para seu desenvolvimento"
              model="meta"
              rows="12"
              min-length="3"
              max-length="4000"
              form="formPrincipal"
              disabled="(!hasRoleAdmin && !isGestor)"></div>
            <div msg-field-validations-directive
              show="showMsgsError"
              form="formPrincipal"
              field-name="'meta'"
              msg="'Digite no mínimo 3 caracteres'"
              validate-type="'minlength'"></div>
          </div>
        </div>

        <div class=""
          ng-if="hasRoleAdmin || isGestor">

          <button ng-click="salvarMeta()"
            class="btn btn-primary noPrint"
            type="button">
            Salvar
          </button>

        </div>

      </div>

      <div class="assinaturas hide print">
        <div>
          Assinatua do Colaborador: ________________________________________ &nbsp; &nbsp; Data: ___/___/___
        </div>
        <div>
          Assinatura do Superior: ___________________________________________ &nbsp; &nbsp; Data: ___/___/___
        </div>
      </div>

      <div class="imprimir noPrint">
        <button onclick="window.print();"
          class="btn btn-primary noPrint"
          type="button">
          <span class="glyphicon glyphicon-print"
            aria-hidden="true"></span>
        </button>
      </div>

    </form>

  </fieldset>
</div>