<!doctype html>
<html class="no-js" ng-app="frontendApp">
    <head>
        <meta charset="utf-8">
        <title>Conecthare</title>
        <meta name="description" content="Conecthare">
        <meta name="viewport" content="width=device-width">
        

        <!-- <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff"> -->

        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png">
        <link rel="shortcut icon" href="images/favicon.ico" />


        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css" />
        <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
        <!-- endbower -->

        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/whhg.css">
        <!-- endbuild -->

        
    </head>
    
    
    <body style="background: url('images/loading_word2.gif') no-repeat fixed center;">
        <div class="loadingApp"></div>
        <!--[if lt IE 9]>
        <p class="browsehappy">Você está usando um navegador <strong>DESATUALIZADO</strong>. Por favor <a href="http://browsehappy.com/"><strong>ATUALIZE SEU NAVEGADOR</strong></a> ou utilize o <a href="https://www.google.com.br/chrome/browser/desktop/">Google Chrome</a> para acessar esta aplicação.</p>
        $('body').css('background', 'none');
        $('.containerMain').fadeIn();
        <![endif]-->
        
        <!-- Add your site or application content here -->
        <div class="container containerMain" style="display: none;">
            
            <div class="header" >
                <ul class="nav nav-pills pull-right" ng-show="user && user.name">
                    <li class="{{activeMenu === 'main' ? 'active' : ''}}">
                        <a ng-href="#/">Home</a>
                    </li>
                    <li class="dropdownn {{activeMenu === 'pesquisa' ? 'active' : ''}}" ng-show="hasRoleAdmin || isGestor" >
                        <a href="#/pesquisa/home" class="dropdown-toggle" data-toggle="dropdown">Pesquisa</a>
                    </li>
                    <li class="dropdownn {{activeMenu === 'funcionario' ? 'active' : ''}}" ng-show="hasRoleAdmin || isGestor || isGestorSetor">
                        <a href="#/funcionario/home" class="dropdown-toggle" data-toggle="dropdown">Funcionário</a>
                    </li>
                    <li class="dropdownn {{activeMenu === 'admin' ? 'active' : ''}}" ng-show="hasRoleAdmin">
                        <a href="#/admin/home" class="dropdown-toggle" data-toggle="dropdown">Administração</a>
                    </li>
                    <li><a ng-click="logout()" >Sair</a></li>
                </ul>
                <img class="logo" src="images/logo_header.png">
                <span class="usuarioLogado" ng-show="user" 
                     popover-trigger="mouseenter" popover-append-to-body="true" popover="{{user.nomeExibir}}"  popover-placement="right" >
                    {{user.name}}
                </span>
            </div>
            
            <div class="viewMainWrap">
                <div class="msgs">
                    <div class="msg" ng-repeat="msg in msgsSuccess">
                      <div class="alert alert-success" role="alert">
                        <button type="button" class="close" ng-click="removeMsgSuccess($index)"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                        <span ng-bind-html="msg.msg"></span>
                      </div>
                    </div>
                    <div class="msg" ng-repeat="msg in msgsFailed">
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" ng-click="removeMsgFailed($index)"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                            <span ng-bind-html="msg.msg"></span>
                        </div>
                    </div>
                </div>

                <div class="viewWrap" ng-view="" autoscroll="true"></div>

            </div>
            
            <div class="footer noPrint">
                <p>Copyright © <span class="year"></span> Conecthare</p>
            </div>

            
        </div>

         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <!-- build:js scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->


        <!-- build:js scripts/vendor.js -->
        <!-- bowerr:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/ng-table/dist/ng-table.js"></script>
        <script src="bower_components/angular-ui-select/dist/select.js"></script>
        <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
        <script src="bower_components/jQuery-Mask-Plugin/dist/jquery.mask.js"></script>
        <script src="bower_components/checklist-model/checklist-model.js"></script>
        <script src="bower_components/ngstorage/ngStorage.js"></script>
        <script src="bower_components/angular-i18n/angular-locale_pt-br.js"></script>
        <script src="bower_components/angular-input-masks/angular-input-masks.br.js"></script>
        <script src="bower_components/moment/locale/pt-br.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
        <!-- endbowerr -->
        <script src="scripts/config.js"></script>
        <!-- endbuild -->

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
        
        <!-- build:js({.tmp,src/main/web}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>        
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/funcionario-home.js"></script>
        <script src="scripts/controllers/funcionario-cadastro.js"></script>
        <script src="scripts/controllers/funcionario-pesquisa.js"></script>
        <script src="scripts/controllers/grupo-ocupacional-cadastro.js"></script>
        <script src="scripts/controllers/grupo-ocupacional-pesquisa.js"></script>
        <script src="scripts/controllers/cargo-cadastro.js"></script>
        <script src="scripts/controllers/cargo-pesquisa.js"></script>
        <script src="scripts/controllers/setor-cadastro.js"></script>
        <script src="scripts/controllers/setor-pesquisa.js"></script>
        <script src="scripts/controllers/questao-cadastro.js"></script>
        <script src="scripts/controllers/questao-pesquisa.js"></script>
        <script src="scripts/controllers/grupo-questao-cadastro.js"></script>
        <script src="scripts/controllers/grupo-questao-pesquisa.js"></script>
        <script src="scripts/controllers/questionario-cadastro.js"></script>
        <script src="scripts/controllers/questionario-pesquisa.js"></script>
        <script src="scripts/controllers/pesquisa-home.js"></script>
        <script src="scripts/controllers/pesquisa-cadastro.js"></script>
        <script src="scripts/controllers/pesquisa-pesquisa.js"></script>
        <script src="scripts/controllers/pesquisa-pesquisa-modal.js"></script>
        <script src="scripts/controllers/pesquisa-lista-generico.js"></script>
        <script src="scripts/controllers/listavalores-cadastro.js"></script>
        <script src="scripts/controllers/listavalores-pesquisa.js"></script>
        <script src="scripts/controllers/admin-home.js"></script>
        <script src="scripts/controllers/user-pesquisa.js"></script>
        <script src="scripts/controllers/user-cadastro.js"></script>
        <script src="scripts/controllers/avaliacao-cadastro.js"></script>
        <script src="scripts/controllers/acesso-negado.js"></script>
        <script src="scripts/controllers/resultado.js"></script>
        <script src="scripts/controllers/resultado-admin.js"></script>
        <script src="scripts/controllers/associacao-manual.js"></script>
        <script src="scripts/controllers/import-funcionario.js"></script>
        <script src="scripts/controllers/respostas.js"></script>
        <script src="scripts/controllers/empresa-cadastro.js"></script>
        <script src="scripts/controllers/empresa-pesquisa.js"></script>
        
        
        <script src="scripts/directives/date-picker-directive.js"></script>
        <script src="scripts/directives/loadingcontainer.js"></script>
        <script src="scripts/directives/msg-field-validations-directive.js"></script>
        <script src="scripts/directives/input-text-form-directive.js"></script>
        <script src="scripts/directives/select-directive.js"></script>
        <script src="scripts/directives/typeahead-directive.js"></script>
        <script src="scripts/directives/section-directive.js"></script>
        <script src="scripts/directives/onenter-directive.js"></script>
        <script src="scripts/directives/textarea-form-directive.js"></script>
        
        <script src="scripts/services/constants-service.js"></script>
        <script src="scripts/services/msg-service.js"></script>
        <script src="scripts/services/estado-service.js"></script>
        <script src="scripts/services/cidade-service.js"></script>
        <script src="scripts/services/grid-utils-service.js"></script>
        <script src="scripts/services/user-service.js"></script>
        <script src="scripts/services/role-service.js"></script>
        <script src="scripts/services/estado-civil-service.js"></script>
        <script src="scripts/services/funcionario-service.js"></script>
        <script src="scripts/services/tipo-endereco-eletronico-service.js"></script>
        <script src="scripts/services/tipo-endereco-service.js"></script>
        <script src="scripts/services/tipo-telefone-service.js"></script>
        <script src="scripts/services/cargo-service.js"></script>
        <script src="scripts/services/setor-service.js"></script>
        <script src="scripts/services/grupo-ocupacional-service.js"></script>
        <script src="scripts/services/questao-service.js"></script>
        <script src="scripts/services/lista-valores-service.js"></script>
        <script src="scripts/services/grupo-questao-service.js"></script>
        <script src="scripts/services/questionario-service.js"></script>
        <script src="scripts/services/pesquisa-service.js"></script>
        <script src="scripts/services/avaliacao-service.js"></script>
        <script src="scripts/services/resposta-service.js"></script>
        <script src="scripts/services/resultado-service.js"></script>
        <script src="scripts/services/meta-service.js"></script>
        <script src="scripts/services/empresa-service.js"></script>
        <script src="scripts/services/classificar-questao-service.js"></script>
        
        
        <script src="scripts/filters/yesno.js"></script>
        <script src="scripts/filters/viewdata.js"></script>
        <script src="scripts/filters/fone.js"></script>
        <script src="scripts/filters/age.js"></script>
        <script src="scripts/filters/cep.js"></script>
        <script src="scripts/filters/empresa.js"></script>
        <script src="scripts/filters/cnpj.js"></script>
        <script src="scripts/filters/tipouser.js"></script>
        <script src="scripts/filters/numberRound.js"></script>
        
        <script src="scripts/modals/confirm-dialog.js"></script>
        <script src="scripts/modals/questao-cadastro-lista-valores-dialog.js"></script>
        <script src="scripts/modals/selecionar-questao-dialog.js"></script>
        <script src="scripts/modals/selecionar-grupo-questao-dialog.js"></script>
        <script src="scripts/modals/pesquisa-selecionar-questionario-dialog.js"></script>
        
        <!-- endbuild -->


        <script type="text/javascript">$('.year').text((new Date()).getFullYear());</script>
        
    </body>
</html>
