<div class="modal-header">
	<h3 class="modal-title">Confirmação</h3>
</div>
<div class="modal-body">
	<span ng-bind-html="msg"></span>
</div>
<div class="modal-footer">
	<button class="btn btn-primary btnOkModal" ng-click="ok()">Sim</button>
	<button class="btn btn-primary btnCancelModal" ng-click="cancel()">Não</button>
</div>