<div class="container containerFormAvaliacao">
    <fieldset>
        <legend class="tituloPesquisa">{{avaliacoes.length > 0 ? (avaliacoes[0].pesquisa.nome) : ('Avaliação')}}</legend>
        <!-- <span class="nomeAvaliado">Avaliação {{sexoAvaliado === 'F' ? 'da' : 'do'}} <strong>{{nomeAvaliado}}</strong></span> -->
        <span class="nomeAvaliado">Avaliação de <strong>{{nomeAvaliado}}</strong></span>
        <form novalidate role="form" name="formPrincipal" class="formAvaliacao">
            <div>
                <div class="avaliacoes">
                    <div class="questionariosDisponiveis">
                        <br/>
                        <br/>
                        <div ng-repeat="avaliacao in avaliacoes">
                            <div>
                                <a class="link {{controle.indexQuestionarios === $index ? 'questionarioSelecionado' : ''}}" ng-click="selecionarQuestionario($index)">
                                    {{avaliacao.questionario.nome}} ({{avaliacao.questionarioRespondido.descricao}})
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-if="controle.indexQuestionarios === 0 || controle.indexQuestionarios > 0" class="avaliacao ">
                        <ng-form name="innerFormAvaliacoes">
                            <span class="titleQuestionario">
                              {{avaliacoes[controle.indexQuestionarios].questionario.nome}}
                            </span>
                            <div class="clear"></div>
                            <!--QUESTOES -->
                            <div class="questoes">
                                <div class="questao">
                                    <div class="nomeGrupoQuestao">
                                        <span class="nome">{{avaliacoes[controle.indexQuestionarios].questionario.gruposQuestoes[controle.indexGrupoQuestao].nome}}</span>
                                        <br/>
                                        <span class="descricao">{{avaliacoes[controle.indexQuestionarios].questionario.gruposQuestoes[controle.indexGrupoQuestao].descricao ? ('(' + avaliacoes[controle.indexQuestionarios].questionario.gruposQuestoes[controle.indexGrupoQuestao].descricao + ')') : ''}}</span>
                                    </div>
                                    <div class="clear"></div>
                                    <ng-form ng-repeat="questaoOrdem in avaliacoes[controle.indexQuestionarios].questionario.gruposQuestoes[controle.indexGrupoQuestao].questoesOrdem | orderBy: '+ordem' " name="innerFormQuestoes" ng-init="indexQuestao">
                                        <div ng-if="questaoOrdem.questao.classificacao <= 2" >
                                            <label class="control-label perguntaQuestao">{{questaoOrdem.questao.perguntaQuestao}}</label>
                                            <!--PERGUNTA NUMERICO -->
                                            <div class="perguntaTexto" ng-if="questaoOrdem.questao.isNumerico">
                                                <div class="form-group">
                                                    <div input-text-form-directive numero="2" model="questaoOrdem.questao.respostaNumerico" field-name="questaoNumerico" nocontrollabel placeholder="''" form="innerFormQuestoes" req="true"></div>
                                                    <div msg-field-validations-directive show="showMsgsError" form="innerFormQuestoes" field-name="'questaoNumerico'" msg="'Questão Obrigatória'" validate-type="'required'"></div>
                                                </div>
                                            </div>
                                            <!--PERGUNTA TEXTO -->
                                            <div class="perguntaTexto" ng-if="questaoOrdem.questao.isTexto">
                                                <div class="form-group">
                                                    <div textarea-form-directive req="true" min-length="3" model="questaoOrdem.questao.respostaTexto" field-name="questaoTexto" max-length="4000" form="innerFormQuestoes" rows="3"></div>
                                                    <div msg-field-validations-directive show="showMsgsError" form="innerFormQuestoes" field-name="'questaoTexto'" msg="'Digite no mínimo 3 caracteres'" validate-type="'minlength'"></div>
                                                    <div msg-field-validations-directive show="showMsgsError" form="innerFormQuestoes" field-name="'questaoTexto'" msg="'Questão Obrigatória'" validate-type="'required'"></div>
                                                </div>
                                            </div>
                                            <!--PERGUNTA LISTA VALORES -->
                                            <div class="perguntaListaValores" ng-if="questaoOrdem.questao.isLista">
                                                <div class="listaValores">
                                                    <div ng-repeat="valorLista in questaoOrdem.questao.listaValores.valoresLista | orderBy: '+ordem' " class="form-group valorLista {{valorLista.nome.length <= 16 ? ('floatLeft') : ''}}">
                                                        <div class="radio">
                                                            <input type="radio" ng-required="true" ng-attr-name="questaoLista{{avaliacoes[controle.indexQuestionarios].id}}{{avaliacoes[controle.indexQuestionarios].questionario.id}}{{questaoOrdem.questao.id}}" ng-model="questaoOrdem.questao.respostaValorLista.id" value="{{valorLista.id}}">
                                                            <span>{{valorLista.nome}}</span>
                                                        </div>
                                                    </div>
                                                    <!-- repeat valoresLista -->
                                                </div>
                                                <div class="msgValidacao" msg-field-validations-directive show="showMsgsError" form="innerFormQuestoes" field-name="'questaoLista'+ avaliacoes[controle.indexQuestionarios].id + avaliacoes[controle.indexQuestionarios].questionario.id + questaoOrdem.questao.id" msg="'Questão Obrigatória'" validate-type="'required'"></div>
                                            </div>
                                            <hr class="linhaQuestao" ng-show="!$last">
                                            <div class="clear"></div>
                                        </div>
                                    </ng-form>
                                </div>
                                <!-- repeat questoes -->
                            </div>
                        </ng-form>
                        <div class="botaoNextWizard">
                            <button class="btn btn-primary" ng-click="proximoGrupoQuestao()">
                                <span ng-show="((controle.indexGrupoQuestao + 1) < avaliacoes[controle.indexQuestionarios].questionario.gruposQuestoes.length)" >
                                    Próximo
                                </span>
                                <span ng-show="!((controle.indexGrupoQuestao + 1) < avaliacoes[controle.indexQuestionarios].questionario.gruposQuestoes.length)">
                                    Finalizar Questionário
                                </span>
                                <span ng-show="(controle.indexGrupoQuestao+1) < avaliacoes[controle.indexQuestionarios].questionario.gruposQuestoes.length">
                                    {{controle.indexGrupoQuestao+1}} de {{avaliacoes[controle.indexQuestionarios].questionario.gruposQuestoes.length}}
                                </span>
                            </button>
                        </div>
                    </div>
                    <!-- repeat avaliacoes -->
                </div>
                <!-- avaliacoes container-->
                <!-- <div class="btsFormPrincipal" >

          <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button" >
            Salvar
          </button>

          <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button" >
            Cancelar
          </button>

        </div> -->
                <div class="errosEndForm" ng-show="showMsgsError">
                    <p class="bg-danger" ng-show="formPrincipal.$invalid">
                        O formulário possui erros de validação
                    </p>
                    <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
                        <span>*Campos Obrigatórios</span>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>