<div section-directive="Questões" class="questionarioQuestoes" >

  <!-- QUESTÕES SELECIONADAS -->
  <button class="btn btn-primary" type="button" ng-click="selecionarQuestoes()" ng-show="!grupoQuestao.questoesOrdem || grupoQuestao.questoesOrdem.length === 0"
    style="font-size: 12px; padding-top: 2px; padding-bottom: 1px; font-weight: bold;">
    Selecionar Questões
  </button>
  <div class="form-group" ng-show="grupoQuestao.questoesOrdem && grupoQuestao.questoesOrdem.length > 0">
    <label class="control-label">
        Questões Selecionadas - 
      <a role="button" ng-click="selecionarQuestoes()" type="button" class="btn btn-primary btnPequeno"  
        popover-trigger="mouseenter" popover="Selecionar Questões" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </label>
    <!-- GRID -->
    <div class="datagrid" >

      <div class="gridContainer" >
        <table ng-table="paramsDataGridQuestoesSelecionadas" class="table" show-filter="false">
          <tbody>
            <tr ng-repeat="questaoOrdem in $data" >

              <td data-title="'Nome'" filter="{ 'questao.nomeQuestao': 'text' }">
                {{questaoOrdem.questao.nomeQuestao}}
              </td>
              <td data-title="'Tipo'" >
                <span ng-show="questaoOrdem.questao.isTexto">Texto</span>
                <span ng-show="questaoOrdem.questao.isLista">Escala</span>
                <span ng-show="questaoOrdem.questao.isNumerico">Numérico</span>
              </td>
              <td data-title="'Valores'" style="max-width: 906px;">
                <span ng-if="questaoOrdem.questao.isLista" class="valores" ng-repeat="valorLista in questaoOrdem.questao.listaValores.valoresLista | orderBy: '+ordem' ">
                  <span style="font-weight: bold; font-size: 12px;" ng-show="!$first">|</span>
                  {{valorLista.nome}}
                </span>
                <span ng-if="questaoOrdem.questao.isTexto" class="texto">
                  {{questaoOrdem.questao.texto}}
                </span>
              </td>

              <td data-title="'Ações'" style="width: {{44 * 1}}px" >
                <div class="actionsRow" style="width: {{44 * 1}}px">
                  <a role="button" ng-click="removerQuestaoSelecionada(questaoOrdem.questao);" class="btn btn-primary"  
                    popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover" >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

    </div> <!-- .datagrid -->

  </div>

</div>