<div section-directive="Filtro" class="filtroGrid filtroGrupoQuestao" collapsed="true" >
	
	
	<div class="row" ng-if="hasRoleAdmin" >
    <div class="col-xs-4" >
      <div select-directive model="grupoQuestao.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'"
      form="formPrincipal" req="false"  ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div>
	<div class="row" >
	 	<div class="form-group col-xs-12" >
	    <div input-text-form-directive model="grupoQuestao.nome" label="'Nome'" field-name="nome" 
	    form="formPrincipal" min-length="3" max-length="100" req="false" autofocus="autofocus" ></div>
	    <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
	    <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
	  </div>
	  <!-- <div class="form-group col-xs-6" >
	    <div input-text-form-directive model="grupoQuestao.descricao" label="'Descrição'" field-name="descricao" 
	    	form="formPrincipal" min-length="3" max-length="100"  ></div>
	    <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricao'" msg="'Descrição é obrigatório'"  validate-type="'required'" ></div>
	    <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricao'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
	  </div> -->
	 </div>
 

	
	
	<div class="row btnsFiltro">
		<div class="form-group col-xs-6 col-xs-12" >
			<button ng-click="pesquisar()" type="button" class="btn btn-primary" type="button" ng-disabled="formPrincipal.$invalid" >
				Pesquisar
			</button>
			<button ng-click="limparFiltro()" type="button" class="btn btn-primary" type="button" >
				Limpar Filtro
			</button>
		</div>
	</div>

</div>