<div class="modal-header">
  <h3 class="modal-title">Selecionar Questionários</h3>
</div>
<div class="modal-body">
  
  <div class="formCadastroPesquisa">
  <!-- QUESTIONÁRIOS DISPONIVEIS -->
  <div class="form-group" >
    <label class="control-label">
      Questionários Disponíveis - 
      <a role="button" href="#/questionario/cadastro" ng-click="cancel()" class="btn btn-primary btnPequeno"  
        popover-trigger="mouseenter" popover-placement="right" popover="Cadastrar Questionários" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </label>

    <!-- GRID -->
    <div class="datagrid" >

      <div class="gridContainer" >
        <table ng-table="paramsDataGridQuestionariosDisponiveis" class="table" show-filter="true">
          <tbody>
            <tr ng-repeat="questionario in $data"   >

              <td data-title="'Nome'" sortable="'nome'" filter="{ 'nome': 'text' }">
                  {{questionario.nome}}
              </td>
              <td data-title="''"  style=" min-width: 166px;">
                <span ng-repeat="grupoOcupacional in questionario.gruposOcupacionais">
                  {{!$first ? ', ' : ''}}{{grupoOcupacional.nome}}
                </span><br>
                <span ng-repeat="setor in questionario.setores">
                  {{!$first ? ', ' : ''}}{{setor.nome}}
                </span><br>
                <span ng-repeat="cargo in questionario.cargos">
                  {{!$first ? ', ' : ''}}{{cargo.nome}}
                </span>
              </td>
              <td data-title="'Observação'"  class="columnObs">
                {{questionario.obs}}
              </td>

              <td data-title="'Ações'" style="width: {{44 * 1}}px" >
                <div class="actionsRow" style="width: {{44 * 1}}px">
                  <a role="button" ng-click="adicionarQuestionario(questionario);" class="btn btn-primary"  
                    popover-trigger="mouseenter" popover-append-to-body="false" popover="Selecionar" >
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  </a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
         <script type="text/ng-template" id="ng-table/filters/select-grupos-ocupacionais.html">
         <ng-form name="innerForm">
            <div select-directive model="filtroQuestionariosDisponiveis.gruposOcupacionais" options="gruposOcupacionais" 
              field-name="filtroGrupoOcupacional" option-label="nome" form="innerForm"  
              class="filterSelect" ></div>
          </ng-form>
        </script>
      </div>

    </div> <!-- .datagrid -->

  </div>

  <!-- QUESTIONARIOS SELECIONADOS -->
  <div class="form-group" >
    <label class="control-label">
        Questionários Selecionados
    </label>
    <!-- GRID -->
    <div class="datagrid" >

      <div class="gridContainer" >
        <table ng-table="paramsDataGridQuestionariosSelecionados" class="table" show-filter="false">
          <tbody>
            <tr ng-repeat="questionario in $data" >

              <td data-title="'Nome'" sortable="'nome'" >
                {{questionario.nome}}
              </td>
              <td data-title="''"  >
                <span ng-repeat="grupoOcupacional in questionario.gruposOcupacionais">
                  {{!$first ? ', ' : ''}}{{grupoOcupacional.nome}}
                </span>
                <span ng-repeat="setor in questionario.setores">
                  {{!$first ? ', ' : ''}}{{setor.nome}}
                </span><br>
                <span ng-repeat="cargo in questionario.cargos">
                  {{!$first ? ', ' : ''}}{{cargo.nome}}
                </span>
              </td>
              <td data-title="'Observação'" class="columnObs" >
                {{questionario.obs}}
              </td>
              <td data-title="'Ações'" style="width: {{44 * 1}}px" >
                <div class="actionsRow" style="width: {{44 * 1}}px">
                  <a role="button" ng-click="removerQuestionarioSelecionado(questionario);" class="btn btn-primary"  
                    popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover" >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div> <!-- .datagrid -->

  </div>

</div><!-- modal body -->
<div class="modal-footer">
  <button class="btn btn-primary btnOkModal" ng-click="ok()"  >Salvar</button>
  <button class="btn btn-primary btnCancelModal" ng-click="cancel()">Cancelar</button>
</div>