<div class="modal-header">
  <h3 class="modal-title">Informar Metas</h3>
</div>
<div class="modal-body">

  <div class="msgs">
    <div class="msg"
      ng-repeat="msg in msgsSuccess">
      <div class="alert alert-success"
        role="alert">
        <button type="button"
          class="close"
          ng-click="removeMsgSuccess($index)"><span aria-hidden="true">&times;</span><span
            class="sr-only">X</span></button>
        <span ng-bind-html="msg.msg"></span>
      </div>
    </div>
    <div class="msg"
      ng-repeat="msg in msgsFailed">
      <div class="alert alert-danger"
        role="alert">
        <button type="button"
          class="close"
          ng-click="removeMsgFailed($index)"><span aria-hidden="true">&times;</span><span
            class="sr-only">X</span></button>
        <span ng-bind-html="msg.msg"></span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="form-group col-xs-12 formAvaliacao">
      <div class="avaliacoes">

        <div class="col-xs-12">
          <div class="row form-group">
            <div class="col-xs-3">
              <button ng-click="autoCalcularMetasParaTodos()"
                type="button"
                class="btn btn-primary">Calcular metas para todos</button>
            </div>
            <div class="col-xs-3">
              <button ng-click="showClonarMetas()"
                type="button"
                popover-trigger="mouseenter"
                popover-append-to-body="true"
                popover="Só é possível clonar as metas de pesquisas que utilizem os mesmos questionários"
                class="btn btn-primary">Clonar metas</button>
            </div>
          </div>
        </div>

        <div ng-repeat="questionario in questionarios  | orderBy: '+nome'"
          class="avaliacao {{$first ? 'primeiraAvaliacao' : ''}}"
          ng-init="indexAvaliacao">
          <ng-form name="innerFormAvaliacoes">
            <span class="titleQuestionario"
              ng-show="true">
              {{questionario.nome}}
            </span>
            <div class="clear"></div>
            <!--QUESTOES -->
            <div class="questoes">
              <div ng-repeat="grupoQuestao in questionario.gruposQuestoes  | orderBy: '+nome'"
                class="questao"
                ng-init="indexGrupoQuestao"
                ng-show="showGrupoQuestao(grupoQuestao)">
                <div class="nomeGrupoQuestao">
                  <span class="nome">{{grupoQuestao.nome}}</span>
                  <br />
                  <span class="descricao"
                    ng-show="grupoQuestao.descricao">
                    {{grupoQuestao.descricao}}
                    <br>
                  </span>
                  <div ng-if="isAllListaEscala(grupoQuestao)"
                    class="checkboxMetaAutoCalculada">
                    <span>Meta auto-calculada: </span>
                    <input type="checkbox"
                      name="metaAutoCalculada"
                      ng-model="grupoQuestao.metaAutoCalculada"
                      ng-change="calcularMeta(grupoQuestao.metaAutoCalculada, grupoQuestao, questionario)">
                  </div>
                </div>
                <div class="clear"></div>
                <ng-form ng-repeat="questaoOrdem in grupoQuestao.questoesOrdem | orderBy: '+ordem' "
                  name="innerFormQuestoes"
                  ng-init="indexQuestao">


                  <div
                    ng-if="questaoOrdem.questao.classificacao <= 2 && (questaoOrdem.questao.isNumerico || questaoOrdem.questao.isLista)">
                    <label class="control-label perguntaQuestao">{{questaoOrdem.questao.perguntaQuestao}}</label>

                    <div class="perguntaTexto">
                      <div class="form-group">

                        <div class="row form-group"
                          ng-repeat="grupoOcupacional in questionario.gruposOcupacionais  | orderBy: '+nome'">

                          <div class="col-xs-4">
                            <label>Meta Grupo Ocupacional: {{grupoOcupacional.nome}}</label>
                            <input type="number"
                              ng-model="questaoOrdem.questao.questoesMetasGruposOcupacionais[$index].meta"
                              name="meta"
                              ng-disabled="grupoQuestao.metaAutoCalculada"
                              ng-init="grupoQuestao.metaAutoCalculada = !!questaoOrdem.questao.questoesMetasGruposOcupacionais[$index].autoCalculada">

                            <input type="hidden"
                              ng-model="questaoOrdem.questao.questoesMetasCargos[$index].idGrupoOcupacional"
                              ng-init="questaoOrdem.questao.questoesMetasCargos[$index].idGrupoOcupacional = grupoOcupacional.id">

                            <div msg-field-validations-directive
                              form="innerFormQuestoes"
                              field-name="'meta'"
                              msg="'Valor Inválido'"
                              validate-type="'number'"></div>
                          </div>
                          <div class="col-xs-4">
                            <label>Negativo</label>
                            <input type="checkbox"
                              ng-model="questaoOrdem.questao.questoesMetasGruposOcupacionais[$index].negativo"
                              ng-disabled="grupoQuestao.metaAutoCalculada">
                          </div>
                        </div>

                        <div class="row form-group"
                          ng-repeat="cargo in questionario.cargos  | orderBy: '+nome'">
                          <div class="col-xs-4">
                            <!-- questionario--{{questionario.id}}-{{cargo.id}}<br>
                                                cargoDaMeta:{{questaoOrdem.questao.questoesMetasCargos[$index].idCargo}} -->
                            <label>Meta Cargo: {{cargo.nome}}</label>
                            <input type="number"
                              ng-model="questaoOrdem.questao.questoesMetasCargos[$index].meta"
                              name="meta"
                              ng-disabled="grupoQuestao.metaAutoCalculada"
                              ng-init="grupoQuestao.metaAutoCalculada = !!questaoOrdem.questao.questoesMetasCargos[$index].autoCalculada">

                            <input type="hidden"
                              ng-model="questaoOrdem.questao.questoesMetasCargos[$index].idCargo"
                              ng-init="questaoOrdem.questao.questoesMetasCargos[$index].idCargo = cargo.id">

                            <div msg-field-validations-directive
                              form="innerFormQuestoes"
                              field-name="'meta'"
                              msg="'Valor Inválido'"
                              validate-type="'number'"></div>
                          </div>
                          <div class="col-xs-4">
                            <label>Negativo</label>
                            <input type="checkbox"
                              ng-model="questaoOrdem.questao.questoesMetasCargos[$index].negativo"
                              ng-disabled="grupoQuestao.metaAutoCalculada">
                          </div>
                        </div>

                        <div class="row form-group"
                          ng-repeat="setor in questionario.setores  | orderBy: '+nome'">
                          <div class="col-xs-4">
                            <label>Meta Setor: {{setor.nome}}</label>
                            <input type="number"
                              ng-model="questaoOrdem.questao.questoesMetasSetores[$index].meta"
                              name="meta"
                              ng-disabled="grupoQuestao.metaAutoCalculada"
                              ng-init="grupoQuestao.metaAutoCalculada = !!questaoOrdem.questao.questoesMetasSetores[$index].autoCalculada">

                            <input type="hidden"
                              ng-model="questaoOrdem.questao.questoesMetasCargos[$index].idSetor"
                              ng-init="questaoOrdem.questao.questoesMetasCargos[$index].idSetor = setor.id">

                            <div msg-field-validations-directive
                              form="innerFormQuestoes"
                              field-name="'meta'"
                              msg="'Valor Inválido'"
                              validate-type="'number'"></div>
                          </div>
                          <div class="col-xs-4">
                            <label>Negativo</label>
                            <input type="checkbox"
                              ng-model="questoesMetasSetores[$index].negativo"
                              ng-disabled="grupoQuestao.metaAutoCalculada">
                          </div>
                        </div>

                      </div>
                    </div>

                    <hr class="linhaQuestao"
                      ng-show="!$last">
                    <div class="clear"></div>

                  </div>
                </ng-form>
              </div>
              <!-- repeat questoes -->
            </div>
          </ng-form>
        </div>
        <!-- repeat avaliacoes -->
      </div>
      <!-- avaliacoes container-->
    </div>
  </div>
</div>
<!-- modal body -->
<div class="modal-footer">
  <button class="btn btn-primary btnOkModal"
    ng-click="ok()">Incluir Metas</button>
  <button class="btn btn-primary btnCancelModal"
    ng-click="cancel()">Cancelar</button>
</div>