<div class="modal-header" style="display: none;" >
  <h3 class="modal-title">Pesquisas</h3>
</div>
<div class="modal-body">
  
  <div >
    <!-- FILTRO-->
    <div ng-include=" 'views/pesquisa/pesquisa.html' " class="innerSection"></div>
    <!-- FIM FILTRO-->
  </div>

</div><!-- modal body -->
<div class="modal-footer" >
  <button class="btn btn-primary btnOkModal" ng-click="ok()"  style="display: none;" >Salvar</button>
  <button class="btn btn-primary btnCancelModal" ng-click="cancel()">Fechar</button>
</div>