<div class="modal-header"
  style="display: none;">
  <h3 class="modal-title">Pesquisas</h3>
</div>
<div class="modal-body">

  <div>
    <div class="container">
      <fieldset>
        <legend>Pesquisas</legend>
        <form novalidate
          role="form"
          name="formPrincipal"
          ng-submit="pesquisar()">

          <div class="form-group">

            <!-- FILTRO-->
            <div ng-include=" 'views/pesquisa/pesquisa-filtro.html' "
              class="innerSection"></div>
            <!-- FIM FILTRO-->

            <div ng-if="multiSelect"
              class="row">
              <div class="form-group col-xs-12"
                ng-show="pesquisasSelected.length > 0">
                <button ng-click="selecionarPesquisaResultado()"
                  type="button"
                  class="btn btn-primary"
                  type="button">
                  Ver Resultados Selecionados
                </button>
              </div>
            </div>

            <!-- GRID -->
            <div class="datagrid">

              <div class="gridContainer">
                <table ng-table="paramsDataGrid"
                  class="table"
                  show-filter="false">
                  <tbody>
                    <tr ng-repeat="entity in $data">

                      <td data-title="''">
                        <input ng-if="multiSelect"
                          type="checkbox"
                          ng-model="entity.checked"
                          ng-change="pesquisaCheck(entity)"
                          name="inputSelecionarPesquisa">
                      </td>

                      <td data-title="'Empresa'">
                        {{entity.empresa | empresa}}
                      </td>
                      <td data-title="'Nome'"
                        sortable="'nome'"
                        filter="{ 'nome': 'text' }">
                        {{entity.nome}}
                      </td>
                      <td data-title="'Data Início'"
                        sortable="'dtaInicio'"
                        class="data">
                        <span popover-trigger="mouseenter"
                          popover="{{entity.dtaInicio | age : true}}">
                          {{entity.dtaInicio | viewdata}}
                        </span>
                      </td>
                      <td data-title="'Data Fim'"
                        sortable="'dtaFim'"
                        class="data">
                        <span popover-trigger="mouseenter"
                          popover="{{entity.dtaFim | age : true}}">
                          {{entity.dtaFim | viewdata}}
                        </span>
                      </td>
                      <td data-title="'Data Entrega'"
                        sortable="'dtaEntrega'"
                        class="data">
                        <span popover-trigger="mouseenter"
                          popover="{{entity.dtaEntrega | age : true}}">
                          {{entity.dtaEntrega | viewdata}}
                        </span>
                      </td>
                      <td data-title="'Ações'"
                        style="width: {{44 * 1}}px">

                        <div class="actionsRow"
                          style="width: {{44 * 1}}px">

                          <a role="button"
                            ng-click="selecionarPesquisaConfirmacao(entity)"
                            class="btn btn-primary"
                            popover-trigger="mouseenter"
                            popover-append-to-body="false"
                            popover="{{actionSelecaoName}}">
                            <span class="{{actionSelecaoIcon}}"
                              aria-hidden="true"></span>
                          </a>

                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>

            </div> <!-- .datagrid -->


          </div>
          <!--container -->


        </form>

      </fieldset>

    </div>
  </div>

</div><!-- modal body -->
<div class="modal-footer">

  <!-- <button class="btn btn-primary btnOkModal"
    ng-click="ok()"
    style="display: none;">Salvar</button> -->

  <button class="btn btn-primary btnCancelModal"
    ng-click="cancel()">Fechar</button>

</div>