<div class="questaoLista" ng-show="questao.tipoQuestao.value === 'isLista'" >
	
	<div class="escalasCadastradas" ng-show="!questao.listaValores">
		<label class="control-label">
			Escalas de Avaliação - 
			<a role="button" ng-click="cadastrarNovaListaValores()" type="button" class="btn btn-primary"  
				popover-trigger="mouseenter" popover="Nova Escala de Avaliação" >
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</a>
		</label>
		<!-- GRID -->
		<div class="datagrid gridListaValores" >

			<div class="gridContainer" >
				<table ng-table="paramsDataGridListaValores" class="table" show-filter="false">
					<tbody>
						<tr ng-repeat="listaValores in $data">
							<td data-title="'Nome'" sortable="'nome'" >
								<a ng-click="questao.listaValores = listaValores" popover-trigger="mouseenter" popover-append-to-body="false" popover="Selecionar" >
									{{listaValores.nome}}
								</a>
							</td>
							<td data-title="'Valores'"  class="valores">
								<div class="valor"  >
										<!-- <span class="glyphicon glyphicon-ok " aria-hidden="true"></span> -->
										<span ng-repeat="valor in listaValores.valoresLista | orderBy:'+ordem'" class="nome">
											<span style="font-weight: bold; font-size: 12px;" ng-show="!$first">|</span>
											{{valor.nome}}
										</span>
								</div>
							</td>
							<td data-title="'Ações'" style="width: {{35 * 3}}px" >
								<div class="actionsRow" style="width: {{35 * 3}}px">
									<a role="button" ng-click="questao.listaValores = listaValores" class="btn btn-primary"  
									popover-trigger="mouseenter" popover-append-to-body="false" popover="Selecionar" >
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
									</a>
									<a role="button" ng-click="editarListaValores(listaValores, $index)" class="btn btn-primary"  
									popover-trigger="mouseenter" popover-append-to-body="false" popover="Editar" >
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
									</a>
									<a role="button" ng-click="excluirListaValores(listaValores)" type="button" class="btn btn-primary"  
									popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir" >
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div> <!-- .datagrid -->
	</div><!-- escalas cadastradas -->

	<div class="escalaSelecionada has-success" ng-show="questao.listaValores">
		<label class="control-label">
			Escala Selecionada - 
			<a role="button" ng-click="questao.listaValores = undefined" type="button" class="btn btn-primary"  
				popover-trigger="mouseenter" popover-append-to-body="false" popover="Remover" >
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</a>
		</label><br />
		<strong>Nome: </strong><span> {{questao.listaValores.nome}}</span><br />
		<strong>Valores: </strong>
		<span class="valores" ng-repeat="valorLista in questao.listaValores.valoresLista | orderBy:'+ordem'">
			<span style="font-weight: bold; font-size: 12px;" ng-show="!$first">|</span>
			{{valorLista.nome}}
		</span>
		