<div class="container questao">
  <fieldset>
    <legend>Cadastro de Questão</legend>
    <form novalidate role="form" name="formPrincipal" ng-submit="salvarAtualizar()" >

      <div>

        <div class="row" ng-if="hasRoleAdmin" >
          <div class="col-xs-4" >
            <div select-directive model="questao.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'" 
              form="formPrincipal" req="true"  ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
          </div>
        </div>
        <div ng-show="questao.idEmpresa" >
        <div class="row" >
          <div class="form-group col-xs-12" >
            <div input-text-form-directive model="questao.nomeQuestao" label="'Nome da Questão'" field-name="nome" 
            placeholder="'digite o nome da questão'" form="formPrincipal" min-length="3" max-length="100" req="true" autofocus="autofocus" ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome da Questão é obrigatório'"  validate-type="'required'" ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
          </div>
        </div>

        <div class="row" >
          <div class="form-group col-xs-12" >
            <div input-text-form-directive model="questao.perguntaQuestao" label="'Pergunta da Questão'" field-name="perguntaQuestao" 
            placeholder="'digite a pergunta da questão'" form="formPrincipal" min-length="3" max-length="1000" req="true" autofocus="autofocus" ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'perguntaQuestao'" msg="'Pergunta da Questão é obrigatório'"  validate-type="'required'" ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'perguntaQuestao'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
          </div>
        </div>
        
        <!-- <div class="row" >
          <div class="form-group col-xs-12" >
            <div select-directive model="questao.grupoQuestao" label="'Grupo da Questão'" options="gruposQuestoes" field-name="grupoQuestao" option-label="nome" 
            form="formPrincipal"  req="true"></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'grupoQuestao'" msg="'Grupo da Questão é obrigatório'"  validate-type="'required'" ></div>
          </div>
        </div> -->
        
        <div class="row" >
          <div class="form-group col-xs-12" >
            <div select-directive model="questao.tipoQuestao" label="'Tipo da Questão'" options="tiposQuestoes" field-name="tipoQuestao" option-label="nome" 
            form="formPrincipal" req="true" ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'tipoQuestao'" msg="'Tipo da Questão é obrigatório'"  validate-type="'required'" ></div>
          </div>
        </div>
        
       <!--  <div class="row questaoTexto" >
         <div class="form-group col-xs-12" >
           <div input-text-form-directive model="questao.texto" label="'Pergunta'" field-name="texto" ng-show="questao.tipoQuestao.value === 'isTexto'" 
           placeholder="'digite a pergunta'" form="formPrincipal" min-length="3" max-length="1000"  req="questao.tipoQuestao.value === 'isTexto'" ></div>
           <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'texto'" msg="'Pergunta é obrigatório'"  validate-type="'required'" ></div>
           <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'texto'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
         </div>
       </div> -->

        <!-- CADASTRO QUESTAO LISTA -->
        <div ng-include=" 'views/questao/cadastro-escalas.html' "></div>
        <!-- IMPORT -->
</div>

        <div class="btsFormPrincipal" >

          <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button" ng-disabled="!questao.idEmpresa" >
            Salvar
          </button>

          <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button" >
            Cancelar
          </button>

        </div>

        <div class="errosEndForm" ng-show="showMsgsError" >
          <p class="bg-danger" ng-show="formPrincipal.$invalid || listaValoresInvalid">
            O formulário possui erros de validação
          </p>
          <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
            <span >*Campos Obrigatórios</span>
          </div>
          <div class="error-msg " ng-show="listaValoresInvalid">
            <span >*Selecionar uma Escala de Avaliação</span>
          </div>
        </div>

    </div>

  </form>

</fieldset>
</div>