<div class="container">
	<fieldset>
		<legend>Listagem de Questões</legend>
		<form novalidate role="form" name="formPrincipal" ng-submit="pesquisar()" >
			
			<div class="form-group" >
				
			<!-- FILTRO-->
      <div ng-include=" 'views/questao/pesquisa-filtro.html' " class="innerSection"></div>
      <!-- FIM FILTRO-->

				<!-- GRID -->
				<div class="datagrid" >

					<div class="gridContainer" >
						<table ng-table="paramsDataGrid" class="table" show-filter="false">
							<tbody>
								<tr ng-repeat="entity in $data">
									<td data-title="'Empresa'" >
										{{entity.empresa | empresa}}
									</td>
									<td data-title="'Tipo'" >
										<span ng-show="entity.isTexto">Texto</span>
										<span ng-show="entity.isLista">Escala</span>
										<span ng-show="entity.isNumerico">Numérico</span>
									</td>
									<td data-title="'Nome'" sortable="'nomeQuestao'" >
									<!-- popover="{{entity.perguntaQuestao}}" popover-trigger="mouseenter" popover-placement="right" -->
										<a href="#/questao/{{entity.id}}"  >
											{{entity.nomeQuestao}}
										</a>
									</td>
									<td data-title="'Pergunta'" sortable="'perguntaQuestao'" >
										<a href="#/questao/{{entity.id}}" >
											{{entity.perguntaQuestao}}
										</a>
									</td>
									
									<!-- <td data-title="'Grupo'" sortable="'grupoQuestao.nome'">
										{{entity.grupoQuestao.nome}}
									</td> -->
									<td data-title="'Valores'" style="max-width: 906px;">
										<span ng-if="entity.isLista" class="valores" ng-repeat="valorLista in entity.listaValores.valoresLista | orderBy: '+ordem'">
											<span style="font-weight: bold; font-size: 12px;" ng-show="!$first">|</span>
											{{valorLista.nome}}
										</span>
										<span ng-if="entity.isTexto" class="texto">
											{{entity.texto}}
										</span>
									</td>

									<td data-title="'Ações'" style="width: {{44 * 2}}px" >
										<div class="actionsRow" style="width: {{44 * 2}}px">
											<a role="button" href="#/questao/{{entity.id}}" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Editar" >
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
											<a role="button" ng-click="excluir(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir" >
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</a>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>

				</div> <!-- .datagrid -->


			</div> <!--container -->


		</form>

	</fieldset>

</div>