<div section-directive="Filtro" class="filtroGrid filtroCargo" collapsed="true" >
	
	
  <div class="row" ng-if="hasRoleAdmin" >
    <div class="col-xs-4" >
      <div select-directive model="questao.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'"
      form="formPrincipal" req="false"  ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div>
	<div class="row" >
    <div class="form-group col-xs-4" >
      <div select-directive model="questao.tipoQuestao" label="'Tipo da Questão'" options="tiposQuestoes" field-name="tipoQuestao" option-label="nome" 
      form="formPrincipal" req="false"></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'tipoQuestao'" msg="'Tipo da Questão é obrigatório'"  validate-type="'required'" ></div>
    </div>
    <div class="form-group col-xs-4" >
      <div input-text-form-directive model="questao.nomeQuestao" label="'Nome da Questão'" field-name="nome" 
      placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="false" autofocus="autofocus" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome da Questão é obrigatório'"  validate-type="'required'" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
    </div>
    <div class="form-group col-xs-4" >
      <div input-text-form-directive model="questao.perguntaQuestao" label="'Pergunta da Questão'" field-name="perguntaQuestao" 
      placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="false" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'perguntaQuestao'" msg="'Pergunta da Questão é obrigatório'"  validate-type="'required'" ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'perguntaQuestao'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
    </div>
  </div>
  
  <div class="row" >
    <!-- <div class="form-group col-xs-6" >
      <div select-directive model="questao.grupoQuestao" label="'Grupo da Questão'" options="gruposQuestoes" field-name="grupoQuestao" option-label="nome" 
      form="formPrincipal"  req="false"></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'grupoQuestao'" msg="'Grupo da Questão é obrigatório'"  validate-type="'required'" ></div>
    </div> -->
    
  </div>
	
	
	<div class="row btnsFiltro">
		<div class="form-group col-xs-6 col-xs-12" >
			<button ng-click="pesquisar()" type="button" class="btn btn-primary" type="button" ng-disabled="formPrincipal.$invalid" >
				Pesquisar
			</button>
			<button ng-click="limparFiltro()" type="button" class="btn btn-primary" type="button" >
				Limpar Filtro
			</button>
		</div>
	</div>

</div>