<div class="container containerFormAssociacoes">
  <fieldset>
    <legend class="tituloPesquisa">Importação de Arquivo XLS</legend>
    
      <form novalidate role="form" name="formPrincipal" method="post" enctype="multipart/form-data" >

      <div>
        
          <div class="row">
            <div class="form-group col-xs-2">
              <div class="btn btn-primary" ngf-select ng-model="files" ngf-change="prepareUpload()" >Selecionar Arquivo</div>
            </div>
            <div class="form-group col-xs-6">
              <a class="btn btn-primary" href="template.xlsx">Baixar Template XLS</a>
            </div>
          </div>
          <div class="row" ng-show="!arquivoEnviado">
            <div class="form-group col-xs-12" ng-show="!!files">
              <span>Arquivo Selecionado: </span><span>{{files[0].name}}</span><br>
              <div class="status">{{status}}</div>
              <div class="progress-bar">
                <div class="progress" style="width: {{progress}}%" ng-init="progress=0"></div>
              </div>
            </div>
          </div>
          <div class="row" ng-show="!arquivoEnviado">
            <div class="form-group col-xs-12">
              <button class="btn btn-primary" type="button" ng-click="upload()" ng-show="!!files">
                Enviar
              </button>
            </div>
          </div>
          <div class="row" ng-show="arquivoEnviado && !showPreConfirmarImportacao">
            <div class="form-group col-xs-12">
              
             <div section-directive="Pré-visualização" class="innerSection" > 

                <div class="row"  >
                  <!-- <div class="col-xs-4" >
                    <div select-directive model="idEmpresaImport" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'" disabled="true" 
                      form="formPrincipal" req="true"  ></div>
                    <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
                  </div> -->
                  <div class="col-xs-12" >
                    <h4>{{nomeEmpresaImportada}}</h4>
                  </div>
                </div>

                <button class="btn btn-primary" type="button" ng-click="preConfirmarImportacao()" ng-disabled="!idEmpresaImport" >
                  Confirmar Importação
                </button>
                <br><br>

                <!-- GRID -->
                <div class="datagrid" >

                  <div class="gridContainer" >
                    <!-- <table ng-table="paramsDataGrid" class="table" template-pagination="views/templates/pagination.html" show-filter="false"> -->
                    <table ng-table="previewDataGrid" class="table" show-filter="false">
                      <tbody>
                        <tr ng-repeat="entity in $data">

                          <td data-title="'Matrícula'" sortable="'matricula'" >
                            {{entity.matricula}}
                          </td>
                          <td data-title="'Nome'" sortable="'pessoa.nome'" >
                            {{entity.pessoa.nome}}
                          </td>
                          <td data-title="'Setor'" sortable="'setor.nome'" >
                            {{entity.setor.nome}}
                          </td>
                          <td data-title="'Cargo'" sortable="'cargo.nome'" >
                            {{entity.cargo.nome}}
                          </td>
                          <td data-title="'Grupo Ocupacional'" sortable="'cargo.grupoOcupacional.nome'" >
                            {{entity.cargo.grupoOcupacional.nome}}
                          </td>
                          <td data-title="'Líder'" sortable="'lider.pessoa.nome'" >
                            <span popover-trigger="mouseenter" popover="Matrícula: {{entity.lider.matricula}}"><span >
                              {{entity.lider.pessoa.nome}}
                            </span>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div> <!-- .datagrid -->
              </div>

            </div> <!-- col-xs -->
          </div>
          <div class="row" ng-show="arquivoEnviado && showPreConfirmarImportacao">
            <div class="form-group col-xs-12">
              
             <div section-directive="Pré-visualização" class="innerSection" > 
                <div class="alert alert-danger" role="alert" >
                    <!-- <button type="button" class="close" ng-click="removeMsgFailed($index)"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button> -->
                    <span><h4>Atenção ! Os funcionários abaixos serão desabilitados ! Confirmar Importação ?</h4></span>
                </div>
                <button class="btn btn-primary" type="button" ng-click="confirmarImportacao()" >
                  Confirmar Importação
                </button>
                <br><br>

                <!-- GRID -->
                <div class="datagrid" >

                  <div class="gridContainer" >
                    <!-- <table ng-table="paramsDataGrid" class="table" template-pagination="views/templates/pagination.html" show-filter="false"> -->
                    <table ng-table="previewDataGridDesabilitados" class="table" show-filter="false">
                      <tbody>
                        <tr ng-repeat="entity in $data">

                          <td data-title="'Matrícula'" sortable="'matricula'" >
                            <span class="vermelho">{{entity.matricula}}</span>
                          </td>
                          <td data-title="'Nome'" sortable="'pessoa.nome'" >
                            <span class="vermelho">{{entity.pessoa.nome}}</span>
                          </td>
                          <td data-title="'Setor'" sortable="'setor.nome'" >
                            <span class="vermelho">{{entity.setor.nome}}</span>
                          </td>
                          <td data-title="'Cargo'" sortable="'cargo.nome'" >
                            <span class="vermelho">{{entity.cargo.nome}}</span>
                          </td>
                          <td data-title="'Grupo Ocupacional'" sortable="'cargo.grupoOcupacional.nome'" >
                            <span class="vermelho">{{entity.cargo.grupoOcupacional.nome}}</span>
                          </td>
                          <td data-title="'Líder'" sortable="'lider.pessoa.nome'" >
                            <span popover-trigger="mouseenter" popover="Matrícula: {{entity.lider.matricula}}"><span >
                              <span class="vermelho">{{entity.lider.pessoa.nome}}</span>
                            </span>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div> <!-- .datagrid -->
              </div>

            </div> <!-- col-xs -->
          </div>


      </div>

      </form>

  </fieldset>
</div>