<div class="container">
  <fieldset>
    <legend>Cadastro de Cargo</legend>
    <form novalidate role="form" name="formPrincipal" ng-submit="salvarAtualizar()" >

      <div>

        <div class="row" ng-if="hasRoleAdmin" >
          <div class="col-xs-4" >
            <div select-directive model="cargo.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'" 
              form="formPrincipal" req="true"  ></div>
            <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
          </div>
        </div>
        
        <div ng-show="cargo.idEmpresa" >
        <div class="form-group" >
          <div input-text-form-directive model="cargo.nome" label="'Nome'" field-name="nome" 
          placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="true" autofocus="autofocus" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
        </div>

        <div class="form-group " >
          <div select-directive model="cargo.grupoOcupacional" label="'Grupo Ocupacional'" options="gruposOcupacionais" field-name="grupoOcupacional" option-label="nome" 
          form="formPrincipal"  req="true"></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'grupoOcupacional'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
        </div>

        <div class="form-group" >
          <div input-text-form-directive model="cargo.descricaoSumaria" label="'Descrição Sumária'" field-name="descricaoSumaria" 
          placeholder="''" form="formPrincipal" min-length="3" max-length="100"  ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricaoSumaria'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricaoSumaria'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
        </div>

        <div class="form-group" >
          <div textarea-form-directive field-name="descricaoDetalhada" min-length="3" max-length="1000" form="formPrincipal" label="'Descrição Detalhada'" model="cargo.descricaoDetalhada" rows="2" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricaoDetalhada'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricaoDetalhada'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
        </div>

        <div class="form-group" >
          <div input-text-form-directive numero="0" min="1" max="99" max-length="2" model="cargo.cargaHoraria" label="'Carga Horária Semanal'" field-name="cargaHoraria" 
          placeholder="''" form="formPrincipal" req="false"></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cargaHoraria'" msg="'Campo obrigatório'"  validate-type="'required'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cargaHoraria'" msg="'Valor mínimo: 1'"  validate-type="'min'" ></div>
          <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cargaHoraria'" msg="'Valor máximo: 99'"  validate-type="'max'" ></div>
        </div>

        <div class="form-group" >
          <div textarea-form-directive field-name="obs" max-length="1000" form="formPrincipal" label="'Observações'" model="cargo.obs" rows="3" ></div>
        </div>

        </div>

        <div class="btsFormPrincipal" >

          <button ng-click="salvarAtualizar()" class="btn btn-primary" type="button" ng-disabled="!cargo.idEmpresa" >
            Salvar
          </button>

          <button ng-click="cancelarSalvar()" class="btn btn-primary" type="button" >
            Cancelar
          </button>

        </div>

        <div class="errosEndForm" ng-show="showMsgsError" >
          <p class="bg-danger" ng-show="formPrincipal.$invalid">
            O formulário possui erros de validação
          </p>
          <div class="error-msg " ng-show="formPrincipal.$invalid && formPrincipal.$error.required.length > 0">
            <span >*Campos Obrigatórios</span>
          </div>
        </div>

    </div>

  </form>

</fieldset>
</div>