<div section-directive="Filtro" class="filtroGrid filtroCargo" collapsed="true" >
	
	
	<div class="row" ng-if="hasRoleAdmin" >
    <div class="col-xs-4" >
      <div select-directive model="cargo.idEmpresa" label="'Empresa'" options="empresas" field-name="empresa" option-label="nome" option-value="'id'"
      form="formPrincipal" req="false"  ></div>
      <div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'empresa'" msg="'campo obrigatório'"  validate-type="'required'" ></div>
    </div>
  </div>
	<div class="row">
		<div class="form-group col-xs-6" >
			<div input-text-form-directive model="cargo.nome" label="'Nome'" field-name="nome" 
			placeholder="''" form="formPrincipal" min-length="3" max-length="100" req="false" autofocus="autofocus" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Nome é obrigatório'"  validate-type="'required'" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'nome'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
		</div>
		<div class="form-group col-xs-6 " >
			<div select-directive model="cargo.grupoOcupacional" label="'Grupo Ocupacional'" options="gruposOcupacionais" field-name="grupoOcupacional" option-label="nome" 
			form="formPrincipal"  req="false"></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'grupoOcupacional'" msg="'Grupo Ocupacional é obrigatório'"  validate-type="'required'" ></div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-6" >
			<div input-text-form-directive numero="000" model="cargo.cargaHoraria" label="'Carga Horária'" field-name="cargaHoraria" 
			placeholder="''" form="formPrincipal" max-length="9"  req="false"></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'cargaHoraria'" msg="'Descrição Detalhada é obrigatório'"  validate-type="'required'" ></div>
		</div>
		<div class="form-group col-xs-6" >
			<div input-text-form-directive model="cargo.descricaoSumaria" label="'Descrição Sumária'" field-name="descricaoSumaria" 
			placeholder="''" form="formPrincipal" min-length="3" max-length="100"  ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricaoSumaria'" msg="'Descrição Sumária é obrigatório'"  validate-type="'required'" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricaoSumaria'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
		</div>
		<!-- <div class="form-group col-xs-6" >
			<div input-text-form-directive model="cargo.descricaoDetalhada" label="'Descrição Detalhada'" field-name="descricaoDetalhada" 
			placeholder="''" form="formPrincipal" min-length="3" max-length="100"  ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricaoDetalhada'" msg="'Descrição Detalhada é obrigatório'"  validate-type="'required'" ></div>
			<div msg-field-validations-directive show="showMsgsError" form="formPrincipal" field-name="'descricaoDetalhada'" msg="'Digite no mínimo 3 caracteres'"  validate-type="'minlength'" ></div>
		</div> -->
	</div>

	

	
	
	<div class="row btnsFiltro">
		<div class="form-group col-xs-6 col-xs-12" >
			<button ng-click="pesquisar()" type="button" class="btn btn-primary" type="button" ng-disabled="formPrincipal.$invalid" >
				Pesquisar
			</button>
			<button ng-click="limparFiltro()" type="button" class="btn btn-primary" type="button" >
				Limpar Filtro
			</button>
		</div>
	</div>

</div>