<div class="container">
	<fieldset>
		<legend>Listagem de Cargos</legend>
		<form novalidate role="form" name="formPrincipal" ng-submit="pesquisar()" >
			
			<div class="form-group" >
				
			<!-- FILTRO-->
      <div ng-include=" 'views/cargo/pesquisa-filtro.html' " class="innerSection"></div>
      <!-- FIM FILTRO-->

				<!-- GRID -->
				<div class="datagrid" >

					<div class="gridContainer" >
						<!-- <table ng-table="paramsDataGrid" class="table" template-pagination="views/templates/pagination.html" show-filter="false"> -->
						<table ng-table="paramsDataGrid" class="table" show-filter="false">
							<tbody>
								<tr ng-repeat="entity in $data">
									<td data-title="'Empresa'" >
										{{entity.empresa | empresa}}
									</td>
									<td data-title="'Nome'" sortable="'nome'" filter="{ 'nome': 'text' }">
										<a href="#/cargo/{{entity.id}}" >{{entity.nome}}</a>
									</td>
									<td data-title="'Grupo Ocupacional'" sortable="'grupoOcupacional.nome'" >
										{{entity.grupoOcupacional.nome}}
									</td>
									<td data-title="'Descrição Sumária'" sortable="'descricaoSumaria'" >
										{{entity.descricaoSumaria}}
									</td>
									<td data-title="'Carga Horária Semanal'" sortable="'cargaHoraria'" class="numero">
										{{entity.cargaHoraria}}
									</td>
									<td data-title="'Ações'" style="width: {{44 * 3}}px" >
										<div class="actionsRow" style="width: {{44 * 3}}px">
											<a role="button" href="#/cargo/{{entity.id}}" class="btn btn-primary"  
											   ng-if="hasRoleAdmin" 
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Editar" >
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
											<a role="button" ng-click="excluir(entity)" type="button" class="btn btn-primary"  
											    ng-if="hasRoleAdmin" 
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Excluir" >
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</a>
											<a role="button" ng-click="verPesquisasCargo(entity)" type="button" class="btn btn-primary"  
												popover-trigger="mouseenter" popover-append-to-body="false" popover="Pesquisas" >
												<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
											</a>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>

				</div> <!-- .datagrid -->


			</div> <!--container -->


		</form>

	</fieldset>

</div>